/* class */
.wrapper {width:100%;}
.fontRubik {font-family: 'Rubik';}
.sound-only { display: inline-block; position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; border: 0; overflow: hidden;}
.sectionArea {}
.fluidContainer,
.container,
.sm-container {width:100%;padding:0 10px;}
.smallIcons {display:inline-block;padding:8px 15px 8px 40px;background-color:#555;color:#fff;background-image: url('/img/v2/common/bar-icon-notice.png');background-repeat: no-repeat;background-position-x: 15px;background-position-y: center;background-size:20px;border-radius: 15px;font-size:1rem;font-weight: 600;}
.h-100 {height:100%;}
.w-100 {width:100%;}
.w-50 {width:50%;}
.clear::after {content:'';display:block;clear:both;}
.soundOnly {display: inline-block; position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; border: 0; overflow: hidden;}
.foldBtn {display:block;width:15px;height:15px;position:relative;background-color:transparent;border:1px solid #dadada;}
.foldBtn::after,
.foldBtn::before {transition:all 0.3s ease-in-out;content:'';position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);background-color:#111;}
.foldBtn::after {width:6px;height:1px;}
.foldBtn::before {width:1px;height:6px;}
.foldBtn.on::before {transform: translate(-50%, -50%) rotate(-90deg);}
.addBtns {display:block;width:30px;height:30px;}
.addBtns > .addIcons {display:block;width:100%;height:100%;border:1px solid #ddd;background-color:#fff;position: relative;border-radius: 4px;}
.addBtns > .addIcons::before,
.addBtns > .addIcons::after {content:'';display:block;position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);background-color:#666}
.addBtns > .addIcons::before {width:2px;height:12px;}
.addBtns > .addIcons::after {width:12px;height:2px;}
.displayFlex {display:flex}
.justifyCenter {justify-content: center;}
.justifyBetween {justify-content: space-between;}
.alignItemsCenter {align-items: center;}
.textCenter {text-align:center;}
.textLeft {text-align:left;}
.textRight {text-align:right;}
.nomalTxt {font-weight: 400;}
.boldTxt {font-weight:600; transform: skew(-0.03deg);}
.exBoldTxt {font-weight: 900;transform: skew(-0.03deg);}
.floatLeft {float:left;}
.floatRight {float:right;}
.textDivision {display:inline-block;font-size:16px;font-weight: 600;transform: skew(-0.03deg);color:#111;width:25px;text-align: center;}
/* form */
.labelText {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;display:inline-block;font-weight: 600;transform: skew(-0.03deg);color:#111;}
.checkboxForm {display:none;}
.checkboxLabel {display:inline-block;position: relative;padding-left:25px;line-height:20px;}
.checkboxForm + .checkboxImg {display:inline-block;width:18px;height:18px;border:1px solid #adadad;background-color:#fff;position:absolute;left: 0;top: 50%;transform: translateY(-50%);}
.checkboxForm:checked + .checkboxImg {background:url('/img/v2/common/select-check.png') no-repeat center / 11px;background-color:#1233a1;}
.checkboxLabelTxt {font-weight: 400;display: inline-block;}
.dateForm {display:inline-block;border:1px solid #adadad;color:#111;text-align: left;background:#fff url('/img/v2/common/icon-cal-n.png') no-repeat calc(100% - 10px) center / 16px;box-sizing: border-box;height:30px;line-height:30px;padding-left:12px;padding-right:35px;font-size:12px;}
.selectForm {display:inline-block;box-sizing: border-box;font-weight: 600;color:#111;text-align: left;background:#fff url('/img/v2/common/icon-select.png') no-repeat calc(100% - 10px) center / 16px;border:1px solid #adadad;height:30px;line-height:30px;padding-left:12px;padding-right:35px;-webkit-appearance: none; -moz-appearance: none; appearance: none;font-size:12px;font-weight: 400;}
.selectForm > option {font-weight: 400;}
.textForm {display:inline-block;background-color:#fff; border:1px solid #adadad;box-sizing: border-box;}
.textForm[disabled] {background-color:#f5f7f9;opacity:0.5;}
.textForm::placeholder {opacity:0.5;}
.radioForm {display:none;}
.radioLabel {display:inline-block;margin-right:20px;padding-left:32px;position: relative;line-height: 24px;}
.radioForm + .radioBoxImg {display:inline-block;width:24px;height:24px;border:1px solid #adadad;border-radius: 50%;position: absolute;left:0;}
.radioForm:checked + .radioBoxImg {border:6px solid #1233a1;}
.radioLabelTxt {display:inline-block;font-weight: 600; transform: skew(-0.03deg);font-size: 16px;letter-spacing: -0.4px;text-align: left;margin-left:3px;}
.textAreaForm {resize:none;width:100%;display:block;border:1px solid #adadad;background-color:#fff;min-height:200px;box-sizing: border-box;}
.textAreaForm::placeholder {opacity: 0.5;}
.btn {text-align:center;padding: 9px 15px; line-height: 1; height: auto;  font-weight: 600; transform: skew(-0.03deg);border-radius: 30px;transition: all 0.3s ease-in-out;display:inline-block;}
.fileBtn {background-color: #696d75;border:1px solid #696d75; color:#fff;}
.fileBtn:hover {background-color: transparent; color:#696d75;}
.fileForm {display:none;}
.uploadInfo {display:inline-block;font-weight: 400;color:#696d75;}
.fileLists {}
.fileLists > .fileItems {}
.fileLists > .fileItems > p { word-break: break-all; font-weight: 600; transform: skew(-0.03deg); color: #696d75;}
.fileLists > .fileItems .fileNames { background-image: url('/img/v2/common/file-navy-icon.png'); background-size: auto; background-repeat: no-repeat; background-position-x: left; background-position-y: 0; position: relative; display: inline-block;}
.fileLists > .fileItems .deleteBtn { border: 0; display: inline-block; cursor: pointer; position: relative; background: #596d93 url("/img/v2/common/bright-close.png") no-repeat center / 9px; }
.imgDisclamerList {}
.imgDisclamerItems > p {color:#696d75;font-weight: 400;letter-spacing: -0.4px;position: relative;}
.imgDisclamerItems > p::after {content:'-';display:block;position:absolute;left:0;top:0;}

.btn.outLineGray {border:1px solid #adadad;}
.btn.outLineGray:hover {background-color:#adadad;color:#fff;}
.btn.largeBtn {width:120px;}

.btn.labeling {background-color:#696d75;color:#fff;}

.submitBtn {display:inline-block;padding:0 26px;height:30px;line-height: 1;border-radius: 20px;background-color:#1233a1;color:#fff;transition: all 0.3s ease-in-out;border:1px solid #1233a1;font-weight: 600;font-size:14px;transform: skew(-0.03deg);}
.submitBtn:hover {color:#1233a1;background-color:#fff;}
/* /form */

/* tab */
.tabArea {}
.tabLists {display:flex;justify-content: space-between;border:1px solid #dadada;text-align: center;}
.tabItems {}
.tabItems:not(:last-child) {border-right:1px solid #dadada;}
.tabBtns {height:100%;display: flex;align-items: center;transition: all 0.3s ease-in-out;}
.tabBtns > span {display:inline-block;width:100%;font-weight: 600;transform: skew(-0.03deg);}
.tabBtns.active,
.tabBtns:hover {background-color:#2c64cf;color:#fff;}
@media(min-width:1280px) {
  .tabArea {margin-bottom:23px;}
  .tabLists {}
  .tabItems {height:60px;}
  .tabBtns {font-size:18px;}
  .tabItems.active > .tabBtns {}
}
/* /tab */

/* header */
#headers {padding-top:50px;}
#navWrapper {position:fixed;width:100%;left:0;top:0;background-color:#fff;z-index:997;}

#topNavArea {width:calc(100% - 60px);margin:0 auto;text-align:center;top:calc(100vh - 58px);position: absolute;background-color:rgba(0,0,0,0.5);z-index: 997;left:0; right:0;height:40px;line-height: 40px;border-radius: 34.5px;font-size:12px;}
.topNoticeLinks {color:#fff;}
#topNavArea .smallIcons {display:none;}
#topNavArea .slick-arrow {display:none !important;}
#topNavBtns {display:none;}

#navArea {width:100%;position: relative;padding:10px 0;}
#navArea::before,
#navArea::after {content:'';display:block;height:2px;position:absolute;top:100%;z-index: 2;}
#navArea::before {left:0;background-color:#e31626;width:24%;}
#navArea::after {right:0;background-color:#006dbb;width:76%;}
#navs {}
#navLogos {float:left;margin-top:0;}
#navLogos a {display: table;}
#navLogos img {height:30px;display:table-cell;vertical-align: middle;}
#navLogoTxt {display:table-cell;vertical-align: middle;padding-left:8px;letter-spacing: -1.44px;font-size: 1.3rem;font-weight: 600;transform: skew(-0.03deg);}
#navContents {display:none;}
#mSideNavBtns {display:block;position:absolute;right:10px;top:50%;transform: translateY(-50%);}
#mSideNavBtns > a {float:left;margin-left:15px;}

#navLists {}
.navItems {float:left;}
.navItems > a {font-weight: 600;letter-spacing: -1px;display:inline-block;transition: all 0.3s ease-in-out;color:#111;transform: skew(-0.03deg);}
.navItems:last-child > a {padding-right:0;}
.navItems.active > a {color:#1460f1;}
.navItems.active .subNavs {z-index:1;}
.subNavs {position: absolute;top: 100%;left: 0;width:100%;border: 1px solid #000;z-index: -1;background-color:#fff;border-bottom:1px solid #1e4aa1;display:none;z-index: 0;}
.subNavs.active{z-index:1;}

.navCategory {float:left;padding: 41px 21px 0 12px;min-height:180px;text-align: right;background-image:url('/img/v2/common/back-img.png');background-repeat: no-repeat;background-position:center;background-color:#fff;width:220px;}
.navCategory > h2 {line-height:1.33;font-size:2rem;letter-spacing: -1.5px;color:#111;}
.subNavDepths {float:right;width:calc(100% - 220px);min-height:180px;position: relative;}
.subNavDepths::before {content:'';display:block;width:340px;height:100%;background-color: #f8f8f8;position: absolute;z-index: -1;border-right:1px solid #efefef;}
.subNavLinkDepth_1 {width: 340px;float:left;padding:16px 48px 0 50px;}
.subNavDepthItems_1:first-child .subNavLinkDepth_1 {margin-top:11px;}
.subNavDepthItems_1:last-child .subNavLinkDepth_1 {margin-bottom:30px;}
.subNavLinkDepth_1 > a {font-size:1.2rem;color:#111;letter-spacing: -0.45px;font-weight: 600;transition: all 0.3s ease-in-out;}
.subNavLinkDepth_1 > a:hover {color:#1460f1;}
.subNavDepth_2 {width:calc(100% - 340px);float:right;margin-top:16px;}
.subNavDepthItems_1:first-child .subNavDepth_2 {margin-top:27px;}
.subNavDepthLists_2 {padding:0 0 0 30px;}
.subNavDepthItems_2 {float:left;margin-right:20px;margin-bottom:15px;}
.subNavDepthItems_2 > a {display:inline-block;padding-left:11px;position: relative;font-size:16px;color:#111;transition:all 0.3s ease-in-out;letter-spacing: -0.4px;font-weight: 400;transform: skew(-0.03deg);}
.subNavDepthItems_2 > a::after {content:'';display: block;width:4px;height:4px; border-radius: 50%;background-color: #333;position: absolute;top:5px;left:0;transition:all 0.3s ease-in-out;}
.subNavDepthItems_2 > a:hover {color:#1460f1;}
.subNavDepthItems_2 > a:hover::after {background-color: #1460f1;}

#topNavBtns > .logInOutBtn,
#topNavBtns > .sideBtn,
#topNavBtns > .userNames {float: left;}
#topNavBtns > .logInOutBtn {margin-right:20px;}
.userNames {display:inline-block;font-weight: 400;font-size:16px;margin-right:16px;line-height: 28px;letter-spacing: -0.8px;}
.logInOutBtn {display:inline-block;width:28px;height:28px;background-position: center;background-repeat: no-repeat;background-size:cover;}
.logInOutBtn.logIn {background-image:url('/img/v2/common/bar-icon-login.png');}
.logInOutBtn.logOut {background-image:url('/img/v2/common/bar-icon-logout.png');}
.sideBtn {display:inline-block;width:28px;height:28px;background-position: center;background-repeat: no-repeat;background-size: cover;background-image: url('/img/v2/common/bar-icon-list.png');}

#siteMaps {width:100%;height:100vh;min-height: 600px;position: fixed;z-index:1000;background-color:#fff;display: none;}
#siteMapHeader {width: 100%;border-bottom:1px solid #d6dade;background-color:#fff;}
#siteMapTitle {text-align: center;padding:42px 0;background-color:#0c1e42;}
#siteMapTitle > .container {position: relative;}
#siteMapTitle h2 {font-size:2.43rem;color:#fff;}
#siteMapClose {width: 34px; height: 34px; display: block; position: absolute; top: 50%; right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#siteMapClose::before,
#siteMapClose::after {width: 34px; height: 2px; display: block; content: ""; background-color: #fff; position: absolute; top: 16px; left: 0;}
#siteMapClose::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#siteMapClose::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#siteMapNavList {}
.siteMapNavItems {float:left; padding:24px 0;position: relative;}
.siteMapNavItems::after {content:'';display:block;width:0;position: absolute;bottom: 0;height:4px;background-color:#1460f1;left:0;right:0;margin:0 auto;transition: all 0.3s ease-in-out;}
.siteMapNavItems:hover::after,
.siteMapNavItems.active::after {width:100%;}
.siteMapNavItems:not(:last-child) {margin-right:102px}
.siteMapNavItems > a {font-size:1.22rem;font-weight: 600;transition: all 0.3s ease-in-out;letter-spacing: -.5px;}
.siteMapNavItems:hover > a,
.siteMapNavItems.active > a {color:#1460f1;} 
#siteMapArea {height:calc(100% - 187px);overflow-y: auto;}
#siteMapSectionWrapper {margin-bottom:350px;}
.siteMapCateSections {padding:80px 20px 60px;border-bottom: 1px solid #e6eaee;}
.siteMapDepth_1 {float:left; width:20%;}
.siteMapDepth_1 > a {display: block; color: #191d25; font-weight: 600; font-size: 30px;line-height: 42px;letter-spacing: -2px;text-align: right;}
.siteMapDepth_2 {float:right; width:80%;padding-left:70px;display:flex;flex-wrap:wrap;}
.siteMapDepthList_2 {float:left; width:calc(100% / 3);margin-bottom:20px;}
.siteMapDepthLink_2 {width: 100%; display: block; font-weight: 600; color: #393d45; padding: 0 0 15px; position: relative; font-size: 18px; line-height: 30px; letter-spacing: -.5px;}
.siteMapDepthLink_2::before,
.siteMapDepthLink_2::after {content:"";display:block;height:2px;position: absolute;bottom:0;}
.siteMapDepthLink_2::before {background-color:#e6eaee;width:85%;}
.siteMapDepthLink_2::after {width:0;background-color:#2c64cf;transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.siteMapDepthLink_2:hover::after {width:85%;}
.siteMapDepth_3 {margin-top:18px;}
.siteMapDepthLink_3 {width: 100%; font-weight: 400; position: relative; left: 0; font-size: 15px; line-height: 27px; letter-spacing: -.5px;transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;-ms-transition: all 0.2s ease;}
.siteMapDepthLink_3:hover {color: #2c64cf;left: 10px;}
@media(min-width:1280px) {
  #headers {padding-top:58px;}
  #navArea {padding:0;}
  #navLogos {margin-top:6px;}
  #navLogos img {height:45px;}
  #navContents {display:block;float:right;}
  .navItems > a {font-size:16px;padding:21px 15px;}
  #mSideNavBtns {display:none;}
}
@media(min-width:1600px) {
  #headers {padding-top:140px;}
  #navWrapper {top:50px;}
  #navContents {}
  #navLogos {margin-top:15px;}
  #navLogos img {height:auto;}
  #topNavArea {position:fixed;border-bottom:1px solid rgba(0, 0, 0, 0.12);top:0;left:0;bottom:auto;background-color:#fff;width: 100%;border-radius: 0;line-height: 1;height:50px;}
  #topNavArea .smallIcons {display:inline-block;}
  #topNavs {margin:0 auto;position: relative;padding:10px 0;}
  #topNotice {text-align: center;margin:0 auto;width:calc(100% - 200px);}
  #topNotice .slick-slide {outline:none !important;}
  .topNoticeLinks {font-size:1rem;font-weight: 600;display:inline-block;margin-left:5px;transform: skew(-0.03deg);color:#111;}
  #topNavBtns {position: absolute;right: 0;top: 50%;transform: translateY(-50%);display:block;}
  #navContents {display:block;}
  .navItems > a {font-size:20px;padding:35px 30px;}
}
/* /header */

/* depth Nav */
#depthNavs {background-color:#f3f3f3;border-bottom:1px solid #dadada;}
#depthNavLinks {}
#depthHomeBtn {float:left;border-left:1px solid #dadada;border-right:1px solid #dadada;}
#depthHomeBtn > a {display:block;width:100%;height:100%;background:url('/img/v2/common/home-icon.png') no-repeat center / auto;}
.depthWrapper {float:left;border-right:1px solid #dadada;position:relative;box-sizing: content-box;}
.depthLink {display:block;letter-spacing: -0.3px;text-align: left;color:#666;font-weight: 600;transform: skew(-0.03deg);position:relative;}
.depthLink.active {background-color:#fff;}
.depthLink::after {content:'';display:block;width:12px;height:7px;background-image:url('/img/v2/common/icon-down-gray.png');background-repeat: no-repeat;background-position:center;position:absolute;top:50%;right:15px;transform: translateY(-50%);transition: all 0.3s ease-in-out;}
.depthLink.listNull::after {display:none;}
.depthLink.active::after {transform: translateY(-50%) rotate(180deg);}
.depthLink.active + .depthLinkList {display:block;background-color:#fff;border:1px solid #dadada;border-top:0;}
.depthLinkList {position:absolute;top:100%;z-index:2;background-color:#f3f3f3;}
.depthLinkItems > a {white-space: nowrap;display:block;color:#666; transition: all 0.3s ease-in-out;position:relative;left:0;}
.depthLinkItems > a:hover {color:#1460f1;left:10px;}
@media(min-width:1280px) {
  #depthHomeBtn {width:50px;height:50px;}
  .depthWrapper {min-width:208px;}
  .depthLink {height:50px;line-height: 50px;padding-left:19px;padding-right:50px;font-size:15px;}
  .depthLinkItems > a {padding-left:24px;padding-right:50px;height:50px; line-height:50px;font-size:14px;font-weight: 600;transform: skew(-0.03deg);}
}
/* /depth Nav */

/* subpage */
.subPages {}
.subPageHeader {}
.subPageTitle {text-align: center;color:#111;letter-spacing: -1.5px;font-weight: 900;}
.dataChartTable {}
.sectionHeader {}
.sectionTitles {position:relative;font-weight: 600;letter-spacing: -1.2px;text-align: left;color:#111}
.sectionTitles::after {content:'';border-radius: 50%;display:block;position:absolute;left:0;border:1px solid #2c64cf;box-sizing: border-box;}
.viewOptions {}

.searchCount {}
.searchCount > p {color:#111; font-weight: 600; transform: skew(-0.03deg);text-align: left;letter-spacing: -0.4px;}
@media(min-width:1280px) {
  .subPages {margin-top:60px;margin-bottom:108px;}
  .subPageHeader {margin-bottom: 80px;}
  .subPageTitle {font-size: 30px;}
  .dataChartTable {margin-bottom:65px;}
  .sectionHeader {margin-bottom:12px;}
  .sectionTitles {font-size:24px;padding-left:24px;}
  .sectionTitles::after {top:6px;width:15px; height:15px; border-width:3px;}
  .viewOptions {}
  
  .searchCount > p {font-size:16px;}
}
/* /subpage */

/* search form */
.searchFilters {background-color:#f9f9f9;border-radius: 5px;}

.searchFilter2Area {border:1px solid #dadada;}
.searchFilterCates {background-color:#edf3ff;border-right:1px solid #dadada;}
.filterCateTxt {text-align: left;letter-spacing: -0.4px;font-weight: 600;display:block; transform: skew(-0.03deg);}
.searchFilterLines {}
.search2Line {}
.search2Line:not(:last-child) {border-bottom:1px solid #dadada;}
@media(min-width:1280px) {
  .searchFilters {padding:20px 35px;margin-bottom:63px;}
  
  .searchFilterCates {padding:0 39px;}
  .searchFilterForms {padding:0 12px;}
  .filterCateTxt {font-size:16px;}
  .searchFilterLines {}
  .searchFilterLines:not(:last-child) {margin-bottom:19px;}
  .search2Line {height:50px;}
  .search2Line:not(:last-child) {}
}
/* /search form */

/* board list */
.boardLists {}
.boardLists .checkboxLabel {padding:0;position: relative;top:1px;}
.boardHeader {background-color:#edf3ff;border:1px solid #dadada;}
.boardItems {display:flex;text-align: center;}
.boardItems:not(:last-child) {border-bottom:1px solid #dadada;}
.emptyLists {width:100%;}
.emptyMsg {font-weight: 600; transform: skew(-0.03deg);}
.listComponents {}
.listComponents .listValues {color:#111;font-weight: 600;transform: skew(-0.03deg);letter-spacing: -0.4px;display:inline-block;width:100%;}
.boardBody .listComponents .listValues {font-weight: 400;}
.listComponents:not(:last-child) {border-right:1px solid #dadada;}
.boardList {border:1px solid #dadada;border-top:0;}
.boardList .listWrNum {text-align:center;}
.boardList .listWrSubject {text-align:left;}
.boardLinks {line-height: 1.4;word-break: break-all;font-weight: 400;display:inline-block;width: 100%; color:#2c64cf; text-decoration: underline !important;}
.boardList .listActDateTime {text-align:center;}
.boardList .listCdName {text-align:center;}
.boardList .listWrDateTime {text-align:center;}
.boardList .listWrName {text-align: center;}
.boardList .listWrHit {text-align: center;}
@media(min-width:1280px) {
  .boardLists{margin-top:12px;}
  .boardHeader {}
  .boardListCategory {}
  .boardItems {}
  .emptyLists {padding:60px 20px;}
  .emptyMsg {font-size:16px;}
  .listComponents {padding:17px 7px;}
  .listComponents .listValues {font-size:16px;}
  .listWrNum {}
  .listWrSubject {}
  .boardLinks {}
  .listActDateTime {}
  .listCdName {}
  .listWrDateTime {}
  .boardList {}
  .boardList .listWrName {}
  .boardList .listWrHit {}
}
/* /board list */

/* thumbnail board list */
.thumbBoardLists {border-top: 1px solid #d6dade; border-bottom: 1px solid #d6dade;}
.thumbBoardList {}
.thumbBoardItems {float:left;border:1px solid #dadada;}
.thumbBoardItems:nth-child(2n) {}
.thumbBoardLink {display:block;width:100%;}
.thumbBoardLink:hover > .thumbBoardImgs > img {transform: scale(1.2);}
.thumbBoardEmpty {width:100%;text-align: center;border:0;}
.thumbBoardImgs {overflow:hidden;border-bottom:1px solid #dadada;}
.thumbBoardImgs > img {width:100%; transition: all 0.3s ease-in-out;}
.thumbBoardItemInfos {}
.thumbBoardSubject {letter-spacing: -1px;word-break: break-all;line-height: 1.3;}
.thumbBoardWrInfos {}
.thumbBoardSource {font-weight:600;transform: skew(-0.03deg);}
.thumbBoardDateTime {font-weight:600;transform: skew(-0.03deg);}
.thumbBoardHit {font-weight:600;transform: skew(-0.03deg);}
.thumbBoardSource > span {font-weight: 400;}
.thumbBoardDateTime > span {font-weight: 400;}
.thumbBoardHit > span {font-weight: 400;}
@media(min-width:1280px) {
  .thumbBoardLists {padding: 30px 0;}
  .thumbBoardList {}
  .thumbBoardItems {width:calc((100% - (10px * 3)) / 4);margin-bottom:10px;}
  .thumbBoardItems:not(:nth-child(4n)) {margin-right:10px;}
  .thumbBoardItems.thumbBoardEmpty {width:100%;padding:60px 20px;}
  .thumbBoardLink {}
  .thumbBoardImgs {}
  .thumbBoardImgs > img {height:auto !important;display:block;}
  .thumbBoardItemInfos {padding:15px 16px 23px 16px;}
  .thumbBoardSubject {font-size:20px;margin-bottom:20px;min-height:60px;}
  .thumbBoardWrInfos {font-size:16px;}
  .thumbBoardSource {}
  .thumbBoardDateTime {margin:10px auto;}
  .thumbBoardHit {}
}
/* /thumbnail board list */

/* board accordion list */
.accordionBoardLists {border-top:1px solid #e7ebef;}
.accordionBoardItems {border-bottom:1px solid #e7ebef;}
.accordionBoardItems > a {display:block;font-weight: 600;transform: skew(-0.03deg);letter-spacing: -0.32px;transition: all 0.3s ease-in-out;position:relative;}
.accordionBoardItems > a::after,
.accordionBoardItems.active > a::after {content: ''; display: block;background-position: center; background-repeat: no-repeat; background-size: cover; position: absolute;background-image: url("/img/v2/common/icon-down.png"); top: 50%; transform: translateY(-50%); transition: all 0.3s ease-in-out;}
.accordionBoardItems.active > a::after {background-image: url('/img/v2/common/blue-icon-up.png');}
.accordionBoardItems.active > a,
.accordionBoardItems > a:hover {background-color:#f5f7f9; color:#2c64cf;}
.accordionBoardItems > a > span {display:inline-block; position:relative;  word-break: break-word;}

.accordionContents {font-weight: 400;letter-spacing: -0.32px;}
.accordionContents img {width:auto !important;max-width:100% !important; height:auto !important;}
.accordionListEmpty {text-align: center;}
.accordionListEmpty > p {font-weight: 400;}
@media(min-width:1280px) {
  .accordionBoardLists {}
  .accordionBoardItems {}
  .accordionBoardItems > a {font-size:17px;padding:22px 30px 22px 21px;}
  .accordionBoardItems > a::after {width: 12px; height: 7px; right: 30px;}
  .accordionBoardItems.active > a {}
  .accordionBoardItems.active > a::after {}
  .accordionBoardItems > a > span {max-width:calc(100% - 30px);}
  
  .accordionContents {padding:30px 60px 30px 50px; font-size:16px;}
  .accordionListEmpty {padding:60px;}
  .accordionListEmpty > p {font-size:16px;}
}
/* /board accordion list */

/* board view */
.boardViews {line-height: 1.4;}
.boardViewTable {border:1px solid #dadada;}
.boardViewLine {}
.boardViewLine:not(:last-child) {border-bottom:1px solid #dadada;}
.boardRow {display:flex;justify-content: center;}
#editorContents {word-break: break-all;transform: skew(-0.03deg);}
#editorContents img {width:auto !important; height:auto !important; max-width:100%;}
.boardViewCategory {background-color:#edf3ff;border-right:1px solid #dadada;}
.boardViewValue {}
.viewValues {word-break: break-all;color: #111; font-weight: 600; transform: skew(-0.03deg); letter-spacing: -0.4px;display:inline-block;}
.boardViewValue .viewValues {font-weight: 400;}

.boardNextPrevLink {border:1px solid #dadada;}
@media(min-width:1280px) {
  .boardViews {}
  .boardViewTable {}
  .boardViewLine {}
  .boardRow {}
  .boardViewCategory {padding:13px 10px 13px 35px;width:200px;}
  .boardViewValue {width:calc(100% - 200px);padding:13px 11px;}
  
  .viewValues {font-size:16px;}

  #editorContents {min-height:400px;}

  .boardNextPrevLink {margin-top:50px;}
}
/* /board view */

/* board write */
.boardWrites {}
.boardWriteTables {border:1px solid #dadada;}
.boardWriteLines {}
.boardWriteLines:not(:last-child) {border-bottom:1px solid #dadada;}
.wrBtnWrapper {}
.boardWriteCategory {background-color: #edf3ff; border-right: 1px solid #dadada;}
.boardWriteValue {}
.writeCateTxt {word-break: break-all;color: #111; font-weight: 600; transform: skew(-0.03deg); letter-spacing: -0.4px;display:inline-block;}
.writeCateTxt.wrNecessary {position:relative;}
.writeCateTxt.wrNecessary::after {content:'*'; color:#e31626;position:absolute;left:-15px;top:0;}
@media(min-width:1280px) {
  .boardWrites {margin-top:60px;}
  .boardWriteTables {}
  .boardWriteLines {}
  .wrBtnWrapper {margin-top:60px;text-align: center;}
  .wrBtnWrapper > *:not(:last-child) {margin-right:10px;}
  .boardWriteCategory {padding: 13px 10px 13px 35px;width: 200px;}
  .boardWriteValue {width:calc(100% - 200px);padding:5px 12px;}
  .writeCateTxt {font-size:16px;}
  .wrSubject {width:100%;}
}
/* /board write */

/* list labeling */
.listLabel {position:relative;}
.listLabel::before {display:block;position:absolute;content:'·';}
.listLabel.bar::before {content:'-';}
@media(min-width:1280px) {
  .listLabel {padding-left:10px;}
  .listLabel.bar {padding-left:14px;}
  .listLabel::before {left:0;top:0;}
}
/* /list labeling */

/* 달력 */
.monthSelector {border:1px solid #e5e7e9;text-align: center;}
.yearArea > h4 {letter-spacing:-0.72px;color: #333333;display: inline-block;margin:0 20px;font-weight: 900;}
.monthArrBtn {display: inline-block;}
.monthArrBtn.prevMonth {background: url('/img/pbb/common/gray-prev-arrow.png') no-repeat center / auto;}
.monthArrBtn.nextMonth {background: url('/img/pbb/common/gray-next-arrow.png') no-repeat center / auto;}
.monthArea {}
.monthItems:not(:last-child) {}
.monthItems > a {display: inline-block;border-radius: 50%;color:#999da5;font-weight: 600;}
.monthItems > a.active {display: inline-block;width:40px;height:40px;line-height: 40px;border-radius: 50%;color:#fff;background-color:#2c64cf;}

.calendar {margin-top:25px;border:1px solid #e0e0e0;font-size:14px;}
.calendarWeekToolbar {text-align: center;background-color:#f5f7f9;border-bottom: 1px solid #e0e0e0;}
.calendarDay {width:calc(100% / 7);}
.calendarDay > span {display: inline-block;font-weight: 600;font-size:16px;transform: skew(-0.03deg);}
.calendarWeekToolbar .calendarDay {padding:15px 0;}
.calendarDaySun {color:#ee4d5d;}
.calendarDaySat {color:#2c64cf;}

.calendarWeekLine {position: relative;}
.calendarWeekLine:not(:last-child) {border-bottom:1px solid #e0e0e0;}
.calendarWeeks > .calendarDay {height:137px;padding:17px;}
.calendarWeeks > .calendarDay:not(:last-child) {border-right: 1px solid #e0e0e0;}
.calendarWeeks > .calendarDay.notThisMonth {background: url('/img/pbb/notday.png') no-repeat center / auto;}
.calrenderDayContents {height:100%;position:relative;}
.calendarDayText {position:absolute;left: 0;top: 0;font-size: 16px;display: inline-block;font-weight: 600;transform: skew(-0.03deg);}

.calendarEventLists {padding-top: 40px;}
.calendarEventItems {width:calc(100% / 4); text-align: center;margin-top: 5px;}
.calendarEventItems:nth-child(4n) {margin-right:0;}
.calendarEventItems > .cateAvatars {cursor:pointer;}

.calendarEducations {position:absolute;top:40px;}
.dateStart-1 {left:20px;width:calc(100% - 40px);}
.dateStart-2 {left:calc(((100% / 7) * 1) + 20px);width:calc(((100% / 7) * 6) - 40px);}
.dateStart-3 {left:calc(((100% / 7) * 2) + 20px);width:calc(((100% / 7) * 5) - 40px);}
.dateStart-4 {left:calc(((100% / 7) * 3) + 20px);width:calc(((100% / 7) * 4) - 40px);}
.dateStart-5 {left:calc(((100% / 7) * 4) + 20px);width:calc(((100% / 7) * 3) - 40px);}
.dateStart-6 {left:calc(((100% / 7) * 5) + 20px);width:calc(((100% / 7) * 2) - 40px);}
.dateStart-7 {left:calc(((100% / 7) * 6) + 20px);width:calc(((100% / 7) * 1) - 40px);}

.dateNotEnd > .calendarEduDateLine { border-top-right-radius: 0;border-bottom-right-radius: 0 }
.dateNotEnd.dateStart-1 {width:calc(100% - 20px);}
.dateNotEnd.dateStart-2 {width:calc(((100% / 7) * 6) - 20px);}
.dateNotEnd.dateStart-3 {width:calc(((100% / 7) * 5) - 20px);}
.dateNotEnd.dateStart-4 {width:calc(((100% / 7) * 4) - 20px);}
.dateNotEnd.dateStart-5 {width:calc(((100% / 7) * 3) - 20px);}
.dateNotEnd.dateStart-6 {width:calc(((100% / 7) * 2) - 20px);}
.dateNotEnd.dateStart-7 {width:calc(((100% / 7) * 1) - 20px);}

.dateNotEnd.dateContinue {left:0;width:100%;}
.dateNotEnd.dateContinue > .calendarEduDateLine {border-radius: 0;}

.dateEnd > .calendarEduDateLine {border-top-left-radius: 0; border-bottom-left-radius: 0;}

.dateEnd-1 {width:calc(((100% / 7) * 1) - 40px);}
.dateEnd-2 {width:calc(((100% / 7) * 2) - 40px);}
.dateEnd-3 {width:calc(((100% / 7) * 3) - 40px);}
.dateEnd-4 {width:calc(((100% / 7) * 4) - 40px);}
.dateEnd-5 {width:calc(((100% / 7) * 5) - 40px);}
.dateEnd-6 {width:calc(((100% / 7) * 6) - 40px);}
.dateEnd-7 {width:calc(((100% / 7) * 7) - 40px);}

.dateEnd {left:0;}
.dateEnd.dateEnd-1 {width:calc(((100% / 7) * 1) - 20px);}
.dateEnd.dateEnd-2 {width:calc(((100% / 7) * 2) - 20px);}
.dateEnd.dateEnd-3 {width:calc(((100% / 7) * 3) - 20px);}
.dateEnd.dateEnd-4 {width:calc(((100% / 7) * 4) - 20px);}
.dateEnd.dateEnd-5 {width:calc(((100% / 7) * 5) - 20px);}
.dateEnd.dateEnd-6 {width:calc(((100% / 7) * 6) - 20px);}
.dateEnd.dateEnd-7 {width:calc(((100% / 7) * 7) - 20px);}


.calendarEduDateLine {width:100%;border-radius: 15px;height:30px;cursor: pointer;}
.calendarEduDateLine.markerRed {background-color:rgba(210, 85, 101, 0.3); color:#D25565;}
.calendarEduDateLine.markerPup {background-color:rgba(151, 117, 250, 0.3); color:#9775fa;}
.calendarEduDateLine.markerOrng {background-color:rgba(255, 169, 77, 0.3); color:#ffa94d;}
.calendarEduDateLine.markerBlue {background-color:rgba(116, 192, 252, 0.3); color:#74c0fc;}
.calendarEduDateLine.markerPink {background-color:rgba(240, 101, 149, 0.3); color:#f06595;}
.calendarEduDateLine.markerLightGreen {background-color:rgba(99, 230, 190, 0.3); color:#63e6be;}
.calendarEduDateLine.markerGreen {background-color:rgba(169, 227, 75, 0.3); color:#a9e34b;}
.calendarEduDateLine.markerNavy {background-color:rgba(77, 99, 140, 0.3); color:#4d638c;}
.calendarEduDateLine.markerBlack {background-color:rgba(73, 80, 87, 0.3); color:#495057;}
.calendarEduName {padding:0 30px;line-height:30px;position:relative;font-weight: 900;transform: skew(-0.03deg);}
.calendarEduNameLabel {content:'';position:absolute;left:15px;width:6px; height:6px;display:block;top:50%;transform: translateY(-50%);border-radius: 50%;}
.markerRed .calendarEduName::after {background-color:#D25565;}
.markerPup .calendarEduName::after {background-color:#9775fa;}
.markerOrng .calendarEduName::after {background-color:#ffa94d;}
.markerBlue .calendarEduName::after {background-color:#74c0fc;}
.markerPink .calendarEduName::after {background-color:#f06595;}
.markerLightGreen .calendarEduName::after {background-color:#63e6be;}
.markerGreen .calendarEduName::after {background-color:#a9e34b;}
.markerNavy .calendarEduName::after {background-color:#4d638c;}
.markerBlack .calendarEduName::after {background-color:#495057;}

.eduModals {position:absolute;border:1px solid #d5d9dd;box-shadow: 8px 4px 16px rgba(0,0,0,0.1);background-color:#fff;z-index:1;width:360px;}
.eduModalWrapper {position: relative;padding:40px 0;}
.eduModalContents {padding-left:50px;position:relative;margin:0 30px 30px 30px;}
.educationModalName {font-size: 17px; color: #393d45;margin-bottom:12px;line-height:30px;}
.educationModalDate {font-size: 14px; color:#999da5;line-height: 20px;}
.educationCircles {display:inline-block;width:30px;height:30px;position:absolute;left: 0;top: 0;border-radius: 50%;}
.calendarModalBtns {}
.calendarModalBtns > .customBtn {color:#fff;background-color:#2c64cf;border:1px solid #2c64cf;padding:11px 33px;border-radius: 30px;transition: all 0.3s ease-in-out;font-weight: 600;display:inline-block;}
.calendarModalBtns > .modal-close {right: 15px;top: 15px;width: 16px;height: 16px;}

.eventModals {position:absolute;border:1px solid #d5d9dd;box-shadow: 8px 4px 16px rgba(0,0,0,0.1);background-color:#fff;z-index:1;width:360px;color:#393d45;}
.eventModalWrapper {padding:40px 30px;position:relative;}
.eventModalContents {}
.eventModalLists {}
.eventModalItems {font-size:14px; position:relative;padding-left:50px;margin-bottom:20px;}
.eventModalItems:last-child {margin-bottom:0;}
.eventModalItems > .cateAvatars {position:absolute;left: 0;top: 0;}
.eventModalName {color:#393d45;font-weight: 900;transform: skew(-0.03deg);}
.eventModalDate {color:#999da5;margin-bottom:5px;font-weight: 600;}

.edcReqClassLists {position:absolute; bottom:0;left:0;width:100%;font-size:12px;}
.edcReqClassItems {background-color:#2c64cf;color:#fff;padding:5px;border-radius:3px;}
.edcReqClassItems.edcReqClass-1 {margin-bottom:5px;}

@media(min-width:1280px) {
  .monthSelector {padding:33px 0 27px 0;margin-top:26px;}
  .yearArea > h4 {font-size: 36px;}
  .monthArrBtn {width: 26px;height:26px;}
  .monthArea {margin-top:33px;}
  .monthItems:not(:last-child) {margin-right:30px;}
  .monthItems > a {width:40px;height:40px;line-height: 40px;font-size:16px;}
}

/* /달력 */

/* board component */
.boardBtnsWrapper {}
.boardBtns {display: inline-block; padding: 0 26px; height: 30px; line-height: 1; border-radius: 20px; background-color: #fff; color: #1233a1; transition: all 0.3s ease-in-out; border: 1px solid #1233a1; font-weight: 600; font-size: 14px; transform: skew(-0.03deg);}
.boardBtns:hover {background-color:#1233a1; color:#fff;}
@media(min-width:1280px) {
  .boardBtnsWrapper {margin-top:60px;}
  .boardBtnsWrapper > *:not(:last-child) {margin-right:10px;}
  .boardBtns { padding: 0 36px; height: 40px; line-height: 40px; border-radius: 20px; font-size: 16px;}
}
/* /board component */

/* pagenation */
.pagenations {text-align: center;}
.pageList {display:inline-block;}
.pageItems {display:inline-block;}
.pageItems > a {display:block;position: relative;font-weight: 600;transform: skew(-0.03deg);font-family: "Rubik";border-radius: 4px;transition: all 0.3s ease-in-out;}
.pageItems.active > a,
.pageItems > a:hover {background-color:#2c64cf;color:#fff;}
.prevPager > a,
.nextPager > a {text-indent: -999999em;background-size:8px;background-position: center;background-repeat: no-repeat;}
.prevPager > a {background-image:url('/img/v2/common/gray-prev-arrow.png');}
.nextPager > a {background-image: url('/img/v2/common/gray-next-arrow.png');}
.prevPager > a:hover {background-image:url('/img/v2/common/white-prev-arrow.png');}
.nextPager > a:hover {background-image: url('/img/v2/common/white-next-arrow.png');}
@media(min-width:1280px) {
  .pagenations {margin-top:40px;}
  .pageList {}
  .pageItems {}
  .pageItems > a {width:30px;height:30px;line-height: 30px;font-size: 16px;}
  .prevPager {margin-right:19px;}
  .nextPager {margin-left:19px;}
}
/* /pagenation */

/* footer */
#footer_wrap { width: 100%; background-color: #191d25;color: #e6eaee;padding:23px 0;}
.hidden-txt {display:none;}
#footerNavs {display:none;}
#footerNavs > li:first-child {display:none;}
#footerNavs a {color:#e6eaee;}
#footerInfos {}
.footer_logo {float:left;width:100%;border-bottom:1px solid #2b2f36;padding-bottom:23px;}
.footer_logo img {width:140px;}
.m_footerLink {display:block;float:right;}
.footer_info {float:left;width:100%;margin-top:20px;}
.footer_info > p {color: #999da5; font-weight: 600; font-size: 14px; line-height: 26px; letter-spacing: -.5px;transform: skew(-0.03deg);}
.copyright {float:right;color: #999da5; font-weight: 300; font-size: 14px;letter-spacing: -.5px;width:100%;margin-top:20px;}
/* /footer */

/* modal */
.modals {position:fixed;width:100%;height:100vh;min-height:500px;z-index: 998;left:0;top:0;display:none;}
.modalSkin1 {width:85%;margin:0 auto;max-width:400px;}
.modalSkin2 {margin:0 auto;width:85%;max-width:400px;}
.modalContents {position:absolute;top:50%;left:50%;z-index: 1;transform: translate(-50%, -50%);}
.publicVehicle .nomalTxt {color:#333;line-height: 1.56;letter-spacing: -0.45px;}
.publicVehicle .nomalTxt.department {}
.modalSkins {background-color:#fff;border-radius: 10px;overflow: hidden;margin: 0 auto;}
.modalHeader {position: relative;padding:10px;}
.modalHeader::before,
.modalHeader::after {content:'';display:block;height:3px;position:absolute;bottom:0;}
.modalHeader::before {width:32.5%;background-color:#e31626;left:0;}
.modalHeader::after {width:67.5%;background-color:#1233a1;right:0;}
.modalTitle {position:relative;}
.modalTitle > h4 {font-size:16px; transform:skew(-0.03deg);color:#111;font-weight: 600;line-height: 1.2;letter-spacing: -1px;}
.closeBtn.typeX {display:block;position:absolute;right:0;top:0;width:20px;height:20px;}
.closeBtn.typeX > span {display:block;width:100%;height:100%;position:relative;transform: rotate(45deg);}
.closeBtn.typeX > span::after,
.closeBtn.typeX > span::before {content:'';display:block;width:100%;height:100%;position:absolute;background-color:#000;top:50%;left:50%;transform: translate(-50%, -50%);}
.closeBtn.typeX > span::before {width:10px; height:1px;}
.closeBtn.typeX > span::after {width:1px; height:10px;}

.modalBody {position: relative;padding:10px;}
.modalScrolls {overflow: auto;position:relative;max-height:500px;}
.modalSkin1 .modalScrolls {max-height:268px;}
.modalSkin2 .modalScrolls {max-height:420px;}
.modalScrolls::-webkit-scrollbar {display:none;}
.modalSection:not(:last-child) {margin-bottom:30px;}
.modalSectionTitle {color:#111;line-height:1;letter-spacing: -0.4px;transform: skew(-0.03deg);margin-bottom: 8px;margin-top: 3px;font-size:14px;}
.modalDataTables > table {width:100%;}
.modalDataTables .modalTableCategory {background-color:#f8f8f8;}
.modalDataTables .modalTableCategory > div {word-break: break-all;}
.modalDataTables th,
.modalDataTables td {border:1px solid #dadada;}
.modalDataTables th > div,
.modalDataTables td > div {padding:5px;font-size:14px;color:#111;font-weight: 600;transform: skew(-0.03deg);}
.modalDataTables .code-blue {color:#40b0ff;}
.modalDataTables .code-green {color:#6ed564;}
.modalDataTables .code-warning {color:#ff9600;}
.modalDataTables .code-red {color:#ff0000;}
.modalNationDevice {}
.modalNationDeviceInfo {border-top-right-radius: 10px;border-bottom-left-radius: 10px;padding:13px 14px 14px 9px;background-color:#ccc;color:#fff;margin: 10px auto;}
.modalNationDeviceInfo.code-blue {background-color:#40b0ff;}
.modalNationDeviceInfo.code-green {background-color:#6ed564;}
.modalNationDeviceInfo.code-warning {background-color:#ff9600;}
.modalNationDeviceInfo.code-red {background-color:#ff0000;}
.modalNationDeviceInfo > div {width:50%;margin:0 auto;}
.modalNationDeviceData {}
.devInfoCategory {font-weight: 600; transform: skew(-0.03deg);font-size:20px;}
.devInfoState {font-size: 18px;font-weight: 600;margin-bottom:8px;}
.devInfoData {}
.devInfoData > span {display:block;font-weight: 900;}
.devInfoData > span:not(.devInfoDataValue) {font-weight: 600;}
.devInfoDataValue {font-size:40px;;font-family: 'Rubik';letter-spacing: -2.25px;font-weight: 900;}
.devDataDetail {}
.devDataDetail > h6 {transform: skew(-0.03deg);font-size:14px;margin-bottom:6px;}
.devDetailDataList {text-align: center;border:1px solid #e1e1e1;}
.devDetailDataItems {float:left;width:calc(100% / 3);}
.devDetailDataItems:not(:last-child) {border-right:1px solid #e1e1e1;}
.devDetailDataItems:nth-child(3n) {border-right:0;}
.devDetailDataCategory {background-color:#f8f8f8;line-height: 1;font-weight: 600;transform: skew(-0.03deg); border-bottom:1px solid #e1e1e1;font-size:13px;padding:10px 5px;}
.devDetailDataCategory > span {display:block;}
.devDetailDataValue {color:#ccc;font-weight: 600;transform: skew(-0.03deg); padding:7px 5px;}
.devDetailDataValue.code-blue {color:#40b0ff;}
.devDetailDataValue.code-green {color:#6ed564;}
.devDetailDataValue.code-warning {color:#ff9600;}
.devDetailDataValue.code-red {color:#ff0000;}
.devDetailDataValue > span {display:block;}
.deviceChart1 {float:left; border:1px solid #e1e1e1;padding:17px 7px 11px 7px;width:100%;}
.deviceChart2 {float:right;border:1px solid #e1e1e1;padding:17px 7px 11px 7px;width:100%; margin-top:10px;}
.chartTitles {text-align:center;}

.modalNationDeviceChart {}

.modalCompareInfo {overflow: hidden; border-top-right-radius: 10px;border-bottom-left-radius: 10px;color:#fff;margin-top:10px;} 
.devState {float:right;width: 50%; height:100px;padding:20px 40px;}
.devState .devInfoState {font-size:24px;word-break: break-all;margin-top:20px;}
.modalCompareInfo.code-blue .devState {background-color:#40b0ff;}
.modalCompareInfo.code-green .devState {background-color:#6ed564;}
.modalCompareInfo.code-warning .devState {background-color:#ff9600;}
.modalCompareInfo.code-red .devState {background-color:#ff0000;}
.modalCompareInfo.code-default .devState {background-color:#999;}
.compareState {opacity:0.8;float:left;width: 50%; height:100px;padding-top:20px;}
.compareState .devInfoCategory {margin-bottom:5px;}
.modalCompareInfo.code-blue .compareState {background-color:#40b0ff;}
.modalCompareInfo.code-green .compareState {background-color:#6ed564;}
.modalCompareInfo.code-warning .compareState {background-color:#ff9600;}
.modalCompareInfo.code-red .compareState {background-color:#ff0000;}
.modalCompareInfo.code-default .compareState {background-color:#999;}
.devPlace {font-weight: 600; transform: skew(-0.03deg);}
.modalCompareData {}
.serviceDataChart {height:166px;border:1px solid #e1e1e1;}
.modalBtnWrapper {}
.modalBtns {display:block;color:#fff;text-align: center;font-weight: 600; transform: skew(-0.03deg);background-color:#1233a1;font-size:14px;padding:9px 5px 9px 5px;}
.modalBtns.closeBtn {background-color:#909090;}

.modalBg {cursor:pointer;position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0.2);}

/* /modal */

/* date picker */
#ui-datepicker-div {z-index:999 !important;}
/* /date picker */

/* data table */
.dataTables {width:100%;}
.tableRow {}
.tableRow td,
.tableRow th {border:1px solid #dadada;box-sizing: border-box;padding:0 10px;}
.dataCategoryDepth_1 {background-color:#edf3ff;}
.dataCategoryDepth_2 {background-color:#f5f8fe;}
.dataCategoryValue {}
.dataTableValues {font-weight: 600;transform: skew(-0.03deg);letter-spacing: -0.4px;display:inline-block;}
.dataCategoryValue .dataTableValues {font-weight: 400;}
@media(min-width:1280px) {
  .tableRow {height:50px;}
  .dataCategoryDepth_1 {font-size:16px;}
  .dataCategoryDepth_2 {}
  .dataCategoryValue {}
  .dataTableValues {font-size:16px;}
}
/* /data table */

@media(min-width:1280px) {
  .sectionArea:not(:last-child) {margin-bottom:65px;}
  .fluidContainer {max-width:1820px;padding:0;margin:0 auto;}
  .container {max-width:1280px;padding:0;margin:0 auto;}
  .sm-container {max-width:1200px;padding:0;margin:0 auto;}
  .foldBtn {width:24px;height:24px;}
  .foldBtn::after {width:12px;height:2px;}
  .foldBtn::before {width:2px;height:12px;}

  /* footer */
  #footer_wrap { padding:0;}
  #footerNavs {display:block;width: 946px; height: 67px; line-height: 67px;margin:0 auto;}
  #footerNavs > li {float:left;}
  #footerNavs a { display: inline-block; margin: 0 25px 0; color: #e6eaee; font-weight: 400; font-size: 17px; line-height: 29px; letter-spacing: -.5px;}
  .footer_logo {width:auto;border:none;padding:0;}
  .footer_logo img {}
  #footerInfos {border-top:1px solid #2b2f36;padding:32px 0;}
  .footer_info {margin-left:40px;width:auto;margin-top: 0;}
  .copyright {width:auto;}
  .m_footerLink {display:none;}
  /* /footer */
  /* modal */
  .modalSkins {width:1100px;max-width:initial;}
  .modalSkin1 {width:400px;}
  .modalSkin2 {width:700px;}
  .publicVehicle .nomalTxt {font-size:18px;}
  .publicVehicle .nomalTxt.department {padding-left:7px;margin-top:30px;}
  .modalHeader {padding:20px;}
  .modalTitle {}
  .modalTitle > h4 {font-size:20px;}
  .closeBtn.typeX {width:30px;height:30px;top:-4px;}
  .closeBtn.typeX > span {}
  .closeBtn.typeX > span::after {height:20px;width:2px;}
  .closeBtn.typeX > span::before {width:20px;height:2px;}

  .modalBody {padding:20px;}
  .modalSectionTitle {font-size:16px;margin-bottom:17px;margin-top:6px;}
  .modalDataTables > table {}
  .modalDataTables .modalTableCategory {}
  .modalDataTables .modalTableCategory > div {}
  .modalDataTables th,
  .modalDataTables td {}
  .modalDataTables th > div,
  .modalDataTables td > div {padding:10px;font-size:16px;}

  .modalNationDevice {}
  .modalNationDeviceInfo {float:left;width:115px;margin:0;}
  .modalNationDeviceData {float:right;width:calc(100% - (115px + 10px))}
  .modalNationDeviceInfo > div {width:100%;}
  .devInfoCategory {font-size:16px; margin-bottom:30px;}
  .devInfoState {font-size:20px; margin-bottom:18px;}
  .devInfoData {}
  .devInfoData > span {}
  .devInfoDataValue {font-size: 50px; margin-bottom:5px;}
  .devDataDetail {margin-top:19px;}
  .devDataDetail > h6 {font-size:16px;margin-bottom:12px;}
  .devDetailDataList {}
  .devDetailDataItems {width:calc(100% / 6);}
  .devDetailDataItems:nth-child(3n) {border-right:1px solid #e1e1e1;}
  .devDetailDataCategory {font-size:16px;padding:13px 5px 14px 5px;}
  .devDetailDataValue {padding:14px 5px;}
  .devDetailDataValue > span {}
  .devDetailDataValue > span:nth-child(1) {margin-bottom:9px;}
  .deviceChart1 {width:calc(50% - 5px);}
  .deviceChart2 {width:calc(50% - 5px); margin:0;}
  .chartTitles {font-size:16px;font-weight: 600;letter-spacing: -0.4px;transform: skew(-0.03deg);margin-bottom:15px;}

  .modalNationDeviceChart {margin-top:20px;}

  .modalCompareInfo {float:left; width:130px;margin: 0;}
  .devState {padding:11px 30px 0 30px; height:133px;float:none;width:100%;}
  .devState .devInfoCategory {margin-bottom:20px;}
  .devState .devInfoState {font-size:30px;margin-top:0;}
  .compareState {padding:11px 20px 13px 20px;float:none;width:100%;height:auto;}
  .compareState .devInfoCategory {margin-bottom:9px;}
  .devPlace {font-size:15px;}
  .serviceDataChart {}
  .modalCompareData {float:right;width:calc(100% - (130px + 15px));}
  .modalBtnWrapper {margin-top:20px;}
  .modalBtns {font-size:18px;padding:18px 10px 18px 10px;}
  .publicVehicle .modalBtnWrapper .modalBtns {float:left;width:67.5%}
  .publicVehicle .modalBtnWrapper .modalBtns.closeBtn {width:32.5%}
  /* /modal */
  /* form */
  .checkboxLabel {padding-left:33px;line-height:24px;width:24px;height:24px;}
  .checkboxForm + .checkboxImg {width:24px;height:24px;}
  .checkboxForm:checked + .checkboxImg {background:url('/img/v2/common/select-check.png') no-repeat center / auto;background-color:#1233a1;}
  .checkboxLabelTxt {}
  .checkboxForm:checked[disabled] + .checkboxImg {opacity:0.5;cursor: not-allowed;}
  .dateForm {background:#fff url('/img/v2/common/icon-cal-n.png') no-repeat calc(100% - 10px) center / 24px;height:40px;line-height:40px;padding-left:12px;padding-right:35px;font-size:14px;}
  .selectForm {font-size:16px;background:#fff url('/img/v2/common/icon-select.png') no-repeat calc(100% - 10px) center / 24px;height:40px;line-height:40px;padding-left:16px;padding-right:30px;min-width:150px;}
  .textForm {font-size:14px;padding:10px 13px;}
  .submitBtn:hover {color:#1233a1;background-color:#fff;}
  .textAreaForm {padding:10px 13px;font-size:14px;}
  .btn {font-size:14px;}
  .btn.labeling {font-size:12px;margin-right:10px;}
  .uploadInfo {font-size:14px;}
  .fileLists {margin-top: 20px;margin-bottom:15px;font-size: 14px;}
  .fileLists > .fileItems {}
  .fileLists > .fileItems:not(:last-child) {margin-bottom: 5px;}
  .fileLists > .fileItems > p {font-size: 14px;}
  .fileLists > .fileItems .fileNames { padding-left: 20px; background-size: 13px; }
  .fileLists > .fileItems .deleteBtn { width: 15px; height: 15px; top: 4px; background: #596d93 url("/img/v2/common/bright-close.png") no-repeat center / 9px; margin-left: 4px; }
  .imgDisclamerList {margin-bottom:15px;}
  .imgDisclamerItems > p {font-size:14px;line-height:1.9;padding-left:12px;}
  /* /form */
  .submitBtn {padding:0 36px;height:40px;line-height:40px;border-radius: 20px;font-size:16px;}
}