/* class */
.wrapper {width:100%;}
.fluidContainer,
.container {width:100%;padding:0 10px;}
.smallIcons {display:inline-block;padding:8px 15px 8px 40px;background-color:#555;color:#fff;background-image: url('/img/v2/common/bar-icon-notice.png');background-repeat: no-repeat;background-position-x: 15px;background-position-y: center;background-size:20px;border-radius: 15px;font-size:1rem;font-weight: 600;}
.h-100 {height:100%;}
.clear::after {content:'';display:block;clear:both;}
.soundOnly {display: inline-block; position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; border: 0; overflow: hidden;}
.foldBtn {display:block;width:15px;height:15px;position:relative;background-color:transparent;border:1px solid #dadada;}
.foldBtn::after,
.foldBtn::before {content:'';position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);background-color:#111;}
.foldBtn::after {width:6px;height:1px;}
.foldBtn::before {width:1px;height:6px;}
.foldBtn.on::before {transform: translate(-50%, -50%) rotate(270deg);}
.addBtns {display:block;width:30px;height:30px;}
.addBtns > .addIcons {display:block;width:100%;height:100%;border:1px solid #ddd;background-color:#fff;position: relative;border-radius: 4px;}
.addBtns > .addIcons::before,
.addBtns > .addIcons::after {content:'';display:block;position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);background-color:#666}
.addBtns > .addIcons::before {width:2px;height:12px;}
.addBtns > .addIcons::after {width:12px;height:2px;}
.displayFlex {display:flex}
.justifyBetween {justify-content: space-between;}
.alignItemsCenter {align-items: center;}
.textCenter {text-align:center;}
.textLeft {text-align:left;}
.textRight {text-align:right;}
.w-100 {width:100%;}
.nomalTxt {font-weight: 600;transform: skew(-0.03deg);}

/* header */
#navWrapper {position:fixed;width:100%;left:0;top:0;background-color:#fff;z-index:999;}

#topNavArea {width:calc(100% - 60px);margin:0 auto;text-align:center;top:calc(100vh - 58px);position: absolute;background-color:rgba(0,0,0,0.5);z-index: 998;left:0; right:0;height:40px;line-height: 40px;border-radius: 34.5px;font-size:12px;}
.topNoticeLinks {color:#fff;}
#topNavArea .smallIcons {display:none;}
#topNavArea .slick-arrow {display:none !important;}
#topNavBtns {display:none;}

#navArea {width:100%;position: relative;}
#navArea::before,
#navArea::after {content:'';display:block;height:2px;position:absolute;top:100%;z-index: 2;}
#navArea::before {left:0;background-color:#e31626;width:24%;}
#navArea::after {right:0;background-color:#006dbb;width:76%;}
#navs {}
#navLogos {float:left;}
#navLogos a {display: table;}
#navLogos img {width:100%;max-width:106px;display:table-cell;vertical-align: middle;}
#navLogoTxt {display:table-cell;vertical-align: middle;padding-left:8px;letter-spacing: -1.44px;font-size: 1.3rem;font-weight: 600;transform: skew(-0.03deg);}
#navContents {display:none;}

#navLists {}
.navItems {float:left;}
.navItems > a {font-size:1.4rem;font-weight: 600;letter-spacing: -1px;display:inline-block;padding:35px 30px;transition: all 0.3s ease-in-out;color:#111;}
.navItems:last-child > a {padding-right:0;}
.navItems.active > a {color:#1460f1;}
.navItems.active .subNavs {z-index:1;}
.subNavs {position: absolute;top: 100%;left: 0;width:100%;border: 1px solid #000;z-index: -1;background-color:#fff;border-bottom:1px solid #1e4aa1;display:none;z-index: 0;}
.subNavs.active{z-index:1;}

.navCategory {float:left;padding: 41px 21px 0 12px;min-height:180px;text-align: right;background-image:url('/img/v2/common/back-img.png');background-repeat: no-repeat;background-position:center;background-color:#fff;width:220px;}
.navCategory > h2 {line-height:1.33;font-size:2rem;letter-spacing: -1.5px;color:#111;}
.subNavDepths {float:right;width:calc(100% - 220px);min-height:180px;position: relative;}
.subNavDepths::before {content:'';display:block;width:340px;height:100%;background-color: #f8f8f8;position: absolute;z-index: -1;}
.subNavLinkDepth_1 {width: 340px;float:left;padding:16px 48px 0 50px;border-right:1px solid #efefef;}
.subNavDepthItems_1:first-child .subNavLinkDepth_1 {margin-top:11px;}
.subNavDepthItems_1:last-child .subNavLinkDepth_1 {margin-bottom:30px;}
.subNavLinkDepth_1 > a {font-size:1.2rem;color:#111;letter-spacing: -0.45px;font-weight: 600;transition: all 0.3s ease-in-out;}
.subNavLinkDepth_1 > a:hover {color:#1460f1;}
.subNavDepth_2 {width:calc(100% - 340px);float:right;margin-top:16px;}
.subNavDepthItems_1:first-child .subNavDepth_2 {margin-top:27px;}
.subNavDepthLists_2 {padding:0 0 0 30px;}
.subNavDepthItems_2 {float:left;margin-right:20px;margin-bottom:15px;}
.subNavDepthItems_2 > a {display:inline-block;padding-left:11px;position: relative;font-size:1.08rem;color:#111;font-weight: 600;transform: skew(-0.03deg);transition:all 0.3s ease-in-out;letter-spacing: -0.4px;}
.subNavDepthItems_2 > a::after {content:'';display: block;width:4px;height:4px; border-radius: 50%;background-color: #333;position: absolute;top:5px;left:0;transition:all 0.3s ease-in-out;}
.subNavDepthItems_2 > a:hover {color:#1460f1;}
.subNavDepthItems_2 > a:hover::after {background-color: #1460f1;}

#siteMaps {width:100%;height:100vh;min-height: 600px;position: fixed;z-index:1000;background-color:#fff;display: none;}
#siteMapHeader {width: 100%;border-bottom:1px solid #d6dade;background-color:#fff;}
#siteMapTitle {text-align: center;padding:42px 0;background-color:#0c1e42;}
#siteMapTitle > .container {position: relative;}
#siteMapTitle h2 {font-size:2.43rem;color:#fff;}
#siteMapClose {width: 34px; height: 34px; display: block; position: absolute; top: 50%; right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#siteMapClose::before,
#siteMapClose::after {width: 34px; height: 2px; display: block; content: ""; background-color: #fff; position: absolute; top: 16px; left: 0;}
#siteMapClose::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#siteMapClose::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#siteMapNavList {}
.siteMapNavItems {float:left; padding:24px 0;position: relative;}
.siteMapNavItems::after {content:'';display:block;width:0;position: absolute;bottom: 0;height:4px;background-color:#1460f1;left:0;right:0;margin:0 auto;transition: all 0.3s ease-in-out;}
.siteMapNavItems:hover::after,
.siteMapNavItems.active::after {width:100%;}
.siteMapNavItems:not(:last-child) {margin-right:102px}
.siteMapNavItems > a {font-size:1.22rem;font-weight: 600;transition: all 0.3s ease-in-out;letter-spacing: -.5px;}
.siteMapNavItems:hover > a,
.siteMapNavItems.active > a {color:#1460f1;} 
#siteMapArea {height:calc(100% - 187px);overflow-y: auto;}
#siteMapSectionWrapper {margin-bottom:350px;}
.siteMapCateSections {padding:80px 20px 60px;border-bottom: 1px solid #e6eaee;}
.siteMapDepth_1 {float:left; width:20%;}
.siteMapDepth_1 > a {display: block; color: #191d25; font-weight: 600; font-size: 30px;line-height: 42px;letter-spacing: -2px;text-align: right;}
.siteMapDepth_2 {float:right; width:80%;padding-left:70px;display:flex;flex-wrap:wrap;}
.siteMapDepthList_2 {float:left; width:calc(100% / 3);margin-bottom:20px;}
.siteMapDepthLink_2 {width: 100%; display: block; font-weight: 600; color: #393d45; padding: 0 0 15px; position: relative; font-size: 18px; line-height: 30px; letter-spacing: -.5px;}
.siteMapDepthLink_2::before,
.siteMapDepthLink_2::after {content:"";display:block;height:2px;position: absolute;bottom:0;}
.siteMapDepthLink_2::before {background-color:#e6eaee;width:85%;}
.siteMapDepthLink_2::after {width:0;background-color:#2c64cf;transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.siteMapDepthLink_2:hover::after {width:85%;}
.siteMapDepth_3 {margin-top:18px;}
.siteMapDepthLink_3 {width: 100%; font-weight: 400; position: relative; left: 0; font-size: 15px; line-height: 27px; letter-spacing: -.5px;transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;-ms-transition: all 0.2s ease;}
.siteMapDepthLink_3:hover {color: #2c64cf;left: 10px;}

/* section */
.sectionWrapper {margin-top:60px;}

/* /section */

/* footer */
#footer_wrap { width: 100%; background-color: #191d25;color: #e6eaee;padding:23px 0;}
.hidden-txt {display:none;}
#footerNavs {display:none;}
#footerNavs > li:first-child {display:none;}
#footerNavs a {color:#e6eaee;}
#footerInfos {}
.footer_logo {float:left;width:100%;border-bottom:1px solid #2b2f36;padding-bottom:23px;}
.footer_logo img {width:140px;}
.m_footerLink {display:block;float:right;}
.footer_info {float:left;width:100%;margin-top:20px;}
.footer_info > p {color: #999da5; font-weight: 600; font-size: 14px; line-height: 26px; letter-spacing: -.5px;transform: skew(-0.03deg);}
.copyright {float:right;color: #999da5; font-weight: 300; font-size: 14px;letter-spacing: -.5px;width:100%;margin-top:20px;}
/* /footer */

/* modal */
.modals {position:fixed;width:100%;height:100vh;min-height:500px;z-index: 999;left:0;top:0;display:none;}
.modalContents {position:absolute;top:50%;left:50%;z-index: 1;transform: translate(-50%, -50%);}
.publicVehicle .nomalTxt {color:#333;line-height: 1.56;letter-spacing: -0.45px;}
.publicVehicle .nomalTxt.department {}
.modalSkins {background-color:#fff;border-radius: 10px;overflow: hidden;}
.modalHeader {position: relative;}
.modalHeader::before,
.modalHeader::after {content:'';display:block;height:3px;position:absolute;bottom:0;}
.modalHeader::before {width:32.5%;background-color:#e31626;left:0;}
.modalHeader::after {width:67.5%;background-color:#1233a1;right:0;}
.modalTitle {position:relative;}
.modalTitle > h4 {color:#111;font-weight: 600;line-height: 1.2;letter-spacing: -1px;}
.closeBtn.typeX {display:block;position:absolute;right:0;top:0;}
.closeBtn.typeX > span {display:block;width:100%;height:100%;position:relative;transform: rotate(45deg);}
.closeBtn.typeX > span::after,
.closeBtn.typeX > span::before {content:'';display:block;width:100%;height:100%;position:absolute;background-color:#000;top:50%;left:50%;transform: translate(-50%, -50%);}

.modalBody {position: relative;}
.modalScrolls {overflow: auto;position:relative;}
.modalScrolls::-webkit-scrollbar {display:none;}
.modalSectionTitle {color:#111;line-height:1;letter-spacing: -0.4px;transform: skew(-0.03deg);}
.modalDataTables > table {width:100%;}
.modalDataTables .modalTableCategory {background-color:#f8f8f8;}
.modalDataTables .modalTableCategory > div {word-break: break-all;}
.modalDataTables th,
.modalDataTables td {border:1px solid #dadada;}
.modalDataTables th > div,
.modalDataTables td > div {color:#111;font-weight: 600;transform: skew(-0.03deg);}
.modalDataTables .code-blue {color:#40b0ff;}
.modalDataTables .code-green {color:#6ed564;}
.modalDataTables .code-warning {color:#ff9600;}
.modalDataTables .code-red {color:#ff0000;}
.modalNationDevice {}
.modalNationDeviceInfo {float:left;border-top-right-radius: 10px;border-bottom-left-radius: 10px;padding:13px 14px 14px 9px;background-color:#ccc;color:#fff;}
.modalNationDeviceInfo.code-blue {background-color:#40b0ff;}
.modalNationDeviceInfo.code-green {background-color:#6ed564;}
.modalNationDeviceInfo.code-warning {background-color:#ff9600;}
.modalNationDeviceInfo.code-red {background-color:#ff0000;}
.modalNationDeviceData {float:right;}
.devInfoCategory {}
.devInfoState {}
.devInfoData {}
.devInfoData > span {display:block;}
.devInfoData > span:not(.devInfoDataValue) {font-weight: 600;}
.devInfoDataValue {font-family: 'Rubik';letter-spacing: -2.25px;font-weight: 900;}
.devDataDetail {}
.devDataDetail > h6 {transform: skew(-0.03deg);}
.devDetailDataList {text-align: center;border:1px solid #e1e1e1;}
.devDetailDataItems {float:left;width:calc(100% / 6);}
.devDetailDataItems:not(:last-child) {border-right:1px solid #e1e1e1;}
.devDetailDataCategory {background-color:#f8f8f8;line-height: 1;font-weight: 600;transform: skew(-0.03deg); padding:13px 5px 14px 5px;border-bottom:1px solid #e1e1e1;}
.devDetailDataCategory > span {display:block;}
.devDetailDataValue {color:#ccc;font-weight: 600;transform: skew(-0.03deg); padding:14px 5px;}
.devDetailDataValue.code-blue {color:#40b0ff;}
.devDetailDataValue.code-green {color:#6ed564;}
.devDetailDataValue.code-warning {color:#ff9600;}
.devDetailDataValue.code-red {color:#ff0000;}
.devDetailDataValue > span {display:block;}
.deviceChart1 {float:left; border:1px solid #e1e1e1;padding:17px 7px 11px 7px;}
.deviceChart2 {float:right;border:1px solid #e1e1e1;padding:17px 7px 11px 7px;}
.chartTitles {text-align:center;}

.modalNationDeviceChart {}

.modalCompareInfo {float:left; overflow: hidden; border-top-right-radius: 10px;border-bottom-left-radius: 10px;color:#fff;} 
.devState {}
.modalCompareInfo.code-blue .devState {background-color:#40b0ff;}
.modalCompareInfo.code-green .devState {background-color:#6ed564;}
.modalCompareInfo.code-warning .devState {background-color:#ff9600;}
.modalCompareInfo.code-red .devState {background-color:#ff0000;}
.compareState {opacity:0.8;}
.modalCompareInfo.code-blue .compareState {background-color:#40b0ff;}
.modalCompareInfo.code-green .compareState {background-color:#6ed564;}
.modalCompareInfo.code-warning .compareState {background-color:#ff9600;}
.modalCompareInfo.code-red .compareState {background-color:#ff0000;}
.devPlace {font-weight: 600; transform: skew(-0.03deg);}
.modalCompareData {float:right;}
.serviceDataChart {border:1px solid #e1e1e1;}
.modalBtnWrapper {}
.modalBtns {display:block;color:#fff;text-align: center;font-size:18px;font-weight: 600; transform: skew(-0.03deg);background-color:#1233a1;padding:18px 10px 18px 10px;}
.modalBtns.closeBtn {background-color:#909090;}

.modalBg {cursor:pointer;position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0.2);}

/* /modal */

@media(min-width:720px) {
  .sectionWrapper {margin-top:69px;}
  .fluidContainer,
  .container {padding:0 32px;}
  .foldBtn::after {width:9px;height:1px;}
  .foldBtn::before {width:1px;height:9px;}
  #topNavArea {letter-spacing: -0.6px;font-size:20px;}
  #navArea {width:100%;position: relative;}
  #navArea::before,
  #navArea::after {content:'';display:block;height:2px;position:absolute;top:100%;z-index: 2;}
  #navArea::before {left:0;background-color:#e31626;width:24%;}
  #navArea::after {right:0;background-color:#006dbb;width:76%;}
  #navs {}
  #navLogos {float:left;}
  #navLogos a {display: table;}
  #navLogos img {width:100%;max-width:126px;display:table-cell;vertical-align: middle;}
  #navLogoTxt {display:table-cell;vertical-align: middle;padding-left:8px;letter-spacing: -1.44px;font-size: 1.615rem;font-weight: 600;}
}
@media(min-width:1280px) {
  .fluidContainer {max-width:1820px;padding:0;margin:0 auto;}
  .container {max-width:1280px;padding:0;margin:0 auto;}
  .foldBtn {width:24px;height:24px;}
  .foldBtn::after {width:12px;height:2px;}
  .foldBtn::before {width:2px;height:12px;}
  #navWrapper {top:51px;}
  #navContents {display:block;float:right;}
  #topNavArea {position:fixed;border-bottom:1px solid rgba(0, 0, 0, 0.12);top:0;left:0;z-index: 999;bottom:auto;background-color:#fff;width: 100%;border-radius: 0;height:auto;line-height: 1;}
  #topNavArea .smallIcons {display:inline-block;}
  #topNavs {margin:0 auto;position: relative;padding:10px 0;}
  #topNotice {text-align: center;margin:0 auto;width:calc(100% - 200px);}
  .topNoticeLinks {font-size:1rem;font-weight: 600;display:inline-block;margin-left:5px;transform: skew(-0.03deg);color:#111;}
  #topNavBtns {position: absolute;right: 0;top: 50%;transform: translateY(-50%);display:block;}
  #topNavBtns > .logInOutBtn,
  #topNavBtns > .sideBtn {float: left;}
  #topNavBtns > .logInOutBtn {margin-right:20px;}
  .logInOutBtn {display:inline-block;width:28px;height:28px;background-position: center;background-repeat: no-repeat;background-size:cover;}
  .logInOutBtn.logIn {background-image:url('/img/v2/common/bar-icon-login.png');}
  .logInOutBtn.logOut {background-image:url('/img/v2/common/bar-icon-logout.png');}
  .sideBtn {display:inline-block;width:28px;height:28px;background-position: center;background-repeat: no-repeat;background-size: cover;background-image: url('/img/v2/common/bar-icon-list.png');}
  #navLogos {margin-top:10px;}
  .sectionWrapper {margin-top:140px;}
  /* footer */
  #footer_wrap { padding:0;}
  #footerNavs {display:block;width: 946px; height: 67px; line-height: 67px;margin:0 auto;}
  #footerNavs > li {float:left;}
  #footerNavs a { display: inline-block; margin: 0 25px 0; color: #e6eaee; font-weight: 400; font-size: 17px; line-height: 29px; letter-spacing: -.5px;}
  .footer_logo {width:auto;border:none;padding:0;}
  .footer_logo img {}
  #footerInfos {border-top:1px solid #2b2f36;padding:32px 0;}
  .footer_info {margin-left:40px;width:auto;margin-top: 0;}
  .copyright {width:auto;}
  .m_footerLink {display:none;}
  /* /footer */
  /* modal */
  .modalSkin1 {width:400px;}
  .modalSkin2 {width:700px;}
  .publicVehicle .nomalTxt {font-size:18px;}
  .publicVehicle .nomalTxt.department {padding-left:7px;margin-top:30px;}
  .modalHeader {padding:20px;}
  .modalTitle {}
  .modalTitle > h4 {font-size:20px;}
  .closeBtn.typeX {width:30px;height:30px;top:-4px;}
  .closeBtn.typeX > span {}
  .closeBtn.typeX > span::after {height:20px;width:2px;}
  .closeBtn.typeX > span::before {width:20px;height:2px;}

  .modalBody {padding:20px;}
  .modalSkin1 .modalScrolls {max-height:268px;}
  .modalSkin2 .modalScrolls {max-height:420px;}
  .modalSectionTitle {font-size:16px;margin-bottom:17px;margin-top:6px;}
  .modalDataTables > table {}
  .modalDataTables .modalTableCategory {}
  .modalDataTables .modalTableCategory > div {}
  .modalDataTables th,
  .modalDataTables td {}
  .modalDataTables th > div,
  .modalDataTables td > div {padding:10px;font-size:16px;}

  .modalNationDevice {}
  .modalNationDeviceInfo {width:115px;}
  .modalNationDeviceData {width:calc(100% - (115px + 10px))}
  .devInfoCategory {font-size:16px; font-weight: 600; transform: skew(-0.03deg);margin-bottom:30px;}
  .devInfoState {font-size:20px; font-weight: 600; margin-bottom:18px;}
  .devInfoData {}
  .devInfoData > span {}
  .devInfoDataValue {font-size: 50px; margin-bottom:5px;}
  .devDataDetail {margin-top:19px;}
  .devDataDetail > h6 {font-size:16px;margin-bottom:12px;}
  .devDetailDataList {}
  .devDetailDataItems {}
  .devDetailDataCategory {font-size:16px;}
  .devDetailDataValue {}
  .devDetailDataValue > span {}
  .devDetailDataValue > span:nth-child(1) {margin-bottom:9px;}
  .deviceChart1 {width:calc(50% - 5px);}
  .deviceChart2 {width:calc(50% - 5px);}
  .chartTitles {font-size:16px;font-weight: 600;letter-spacing: -0.4px;transform: skew(-0.03deg);margin-bottom:15px;}

  .modalNationDeviceChart {margin-top:20px;}

  .modalCompareInfo {width:130px;}
  .devState {padding:11px 30px 0 30px; height:133px;}
  .devState .devInfoCategory {margin-bottom:20px;}
  .devState .devInfoState {font-size:30px;word-break: break-all;}
  .compareState {padding:11px 20px 13px 20px;}
  .compareState .devInfoCategory {margin-bottom:9px;}
  .devPlace {font-size:15px;}
  .serviceDataChart {height:166px;}
  .modalCompareData {width:calc(100% - (130px + 15px));}
  .modalBtnWrapper {margin-top:20px;}
  .modalBtns {}
  .publicVehicle .modalBtnWrapper .modalBtns {float:left;width:67.5%}
  .publicVehicle .modalBtnWrapper .modalBtns.closeBtn {width:32.5%}
  /* /modal */
}