/* main */
#mainVisualMaps {position:relative;}
#mapWrapper {position:relative;height:100%;}
#maps {height:calc(100vh - 58px); min-height: 580px;position: relative;}
.mainMarker {width:75px;height:92px;transform:translateY(13px);}
#leftData.dataLayer {position: absolute;top:0;left: 0;width:100%;z-index: 1;}
#mapInformation {display:flex;flex-direction: column-reverse;}
#dustBusiness {border-bottom:1px solid #ccc;text-align: center;}
#dustBusinessStatus {background-color:#fff;width: 100%;text-align: left;}
.mapInfoHeader {position:relative;padding:11px 0;display:inline-block;}
.mapInfoTitle {font-size: 13px;color: #111111;font-weight: 600;transform:skew(-0.03deg);}
#dustBusinessStatus .foldBtnWrapper {position: absolute;left:calc(100% + 8px);top:9.5px;}
.dustBusinessStatusItems {float:left;width:calc(100% / 3);position:relative;border-bottom:1px solid #ccc;transition: all 0.3s ease-in-out;background-color:#fff;}
.dustBusinessStatusItems:not(:last-child) {border-right:1px solid #ccc;}
.dustBusinessStatusItems > a {display:block;width:100%;padding:12px 10px 12px 10px;letter-spacing: -0.32px;font-size:13px;font-weight: 600;transform: skew(-0.03deg);position: relative;}
.dustBusinessStatusItems.active > a::after {background-image:url('/img/v2/common/icon-up.png');}
.dustBusinessStatusItems > a::after {content:'';display:block;width:calc(15px / 2);height:calc(7px / 2);background-image:url('/img/v2/common/icon-down.png');background-position: center;background-repeat: no-repeat;background-size: cover;position:absolute;right:10px;top:50%;transform: translateY(-50%);transition: all 0.3s ease-in-out;}
.dustBusinessStatusItems.active, 
.dustBusinessStatusItems:hover,
.dustBusinessStatusItems.active .subDustBusinessStatusList {background-color:#f1f1f1;}
.dustBusinessStatusItems .subDustBusinessStatusList {box-shadow: 3.2px 10.5px 13px 0 rgba(0, 0, 0, 0.29);background-color:#f1f1f1;}
.dustBusinessNunber {display:none;}
.subDustBusinessStatusList {position:absolute;width:100%;padding:0 10px 0 16px;display: none;zoom:0.8}
.subDustBusinessStatusItems {margin-bottom:8px;}
.subDustBusinessStatusItems > a {font-weight: 600;display: inline-block;transform: skew(-0.03deg);font-size:13px;    transition: all 0.3s ease-in-out;}
.areaAverageStatusItems.active > a, 
.areaAverageStatusItems:hover > a {background-color: #444; border: 1px solid #444; color: #fff;}
#dustStatus {display:flex;flex-direction: column-reverse;width:calc(100% - ((9px / 2) * 2));margin:0 auto;}
#areaAverageStatusLists {margin-top:6px;}
#areaAverageStatusLists > li {float:left;width:calc((100% - (6px * 2)) / 3);text-align: center;}
#areaAverageStatusLists > li:not(:last-child) {margin-right:6px;}
.areaAverageStatusItems > a {width:100%;display:block;background-color:#fff;font-size:13px;font-weight: 600;transform: skew(-0.03deg);padding:9px 0;border:1px solid #ccc;}
.areaAverageStatusItems > a > span {display:none;}
#areaAverage {margin-top:13px;width:calc((100% - (6px * 2)) / 3);background-color:rgba(255, 255, 255, 0.8);}
#areaAverage #areaAverageHeader {display:block;padding:8px 11px;}
#areaAverageDate {margin-top:8px;font-size:11px;font-weight: 600;transform: skew(-0.03deg);}
#areaAverage .foldBtnWrapper {display:none;}
#areaAverageDatas {padding:10px;color:#fff;}
#areaAverageDatas.code-blue {background-color:#40b0ff;}
#areaAverageDatas.code-green {background-color:#6ed564;}
#areaAverageDatas.code-warning {background-color:#ff9600;}
#areaAverageDatas.code-red {background-color:#ff0000;}
#areaAverageDatas.code-default {background-color:#999;}
#areaAverageDatas.code-default #areaAverageValue {width:100%;text-align: center;}
#areaAverageDatas.code-blue #areaAverageStatus::after {content:'좋음';}
#areaAverageDatas.code-green #areaAverageStatus::after {content:'보통';}
#areaAverageDatas.code-warning #areaAverageStatus::after {content:'나쁨';}
#areaAverageDatas.code-red #areaAverageStatus::after {content:'매우 나쁨';}
#areaAverageValue {float:left;font-family: "Rubik";font-weight: 600;letter-spacing: -1px;font-size: 13px;}
#areaAverageDatas #areaAverageStatus::after {float:right;font-size:12px;letter-spacing: -1px;font-weight: 600;}

/* 지도 컨트롤러 */
#mapController {float:right;margin-top:13px;}
#zoomController,
#viewController {background-color:#fff;border-radius: 4px;box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);}
#viewController {float:left;padding:3px;margin-right:6px;}
#zoomController {float:right;background-color:#eee;overflow: hidden;}
#zoomController > button,
#viewController > button {display:block;float:left;}
#viewController > button {height:27px;background-color:#fff;border-radius: 4px;letter-spacing: -0.32px;font-weight: 600;transform: skew(-0.03deg);font-size:13px;}
#viewController > button#defualtView {width:35%;padding:0 4px;}
#viewController > button#skyView {width:65%;padding:0 4px;}
#viewController > button.active {background-color:#606060;color:#fff;}
#zoomController > button {width:28px;position:relative;height:33px;background-color:#fff;}
#zoomController > #zoomIn::after,
#zoomController > #zoomIn::before {content:'';display:block;background-color:#666;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
#zoomController > #zoomIn::after {width:12px;height:2px;}
#zoomController > #zoomIn::before {width:2px;height:12px;}
#zoomController > #zoomOut {float:right;}
#zoomController > #zoomOut::before {content:'';display:block;background-color:#666;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);width:12px; height:2px;}
/* /지도 컨트롤러 */
/* 차트 */
#rightData.dataLayer {padding:0 10px;margin-top:16px;}
.mapChartDataItems {height:120px;width:auto;}
.mapChartDataItems.active {border:0;}
.mapChartDataItems .chartBtns {float:right;display:block;width:100px;height:100%;background-color:#fff;position:relative;background-position: center;background-repeat: no-repeat;background-size: auto;border:1px solid #dadada;z-index:1;}
.mapChartDataItems .chartBtns::after {content:'';display:block;width:34px;height:34px;border-radius: 50%;border:1px solid #dadada;background-color:#fff;position:absolute;top:50%;right:calc(100% - (34px / 2)); transform: translateY(-50%);background-image: url('/img/v2/common/icon-left.png');background-position: center;background-size: 7px;background-repeat: no-repeat;z-index: 1;}
.mapChartDataItems .chartBtns.active::after {background-image: url('/img/v2/common/icon-right.png');}
.mapChartDataItems .chartBtns#chartBigData {background-image: url('/img/v2/main/img-bigdata.jpg');}
.mapChartDataItems .chartBtns#chartVillage {background-image: url('/img/v2/main/img-village.jpg');}
.mapChartDataItems .chartBtns#chartIndust {background-image: url('/img/v2/main/img-indust.jpg');}
.mapChartDataItems .chartBtns#chartSchool {background-image: url('/img/v2/main/img-school.jpg');}
.mapChartDataItems .chartBtns#chartSubway {background-image: url('/img/v2/main/img-subway.jpg');}
.mapChartDataItems .mapCharts {transition:0.3s;float:right;height:100%;border:1px solid #dadada;border-right:0;overflow: hidden;}
.mapChartDataItems .chartBtns.active + div.mapCharts {}
.mapChartDataItems .chartBtns:not(.active) + div.mapCharts {}
.mapChartDataItems .chartAreas {height:100%;background-color:rgba(255, 255, 255, 0.8);transition: 0.3s;}
.mapChartDataItems .mapCharts {width:calc(100% - 100px);}
.mapChartDataItems .chartBtns:not(.active) + div.mapCharts {width:0;}
.mapChartDataItems:not(:last-child) {margin-bottom:10px;}

.circleCharts {text-align: center;}
.circleChartItems {width:calc(100% / 3);float:left;position:relative;padding-top:40px;}
.circleChartTitles {position:absolute;transform:translateX(-50%) skew(-0.03deg);left:50%;top:14px;color:#111;white-space: nowrap;}
.chartDw {position:relative;}
#moveWatering,
#fixWatering,
#fanChart,
#airClean {width:66px;height:66px;}
.chartDw div {margin:0 auto;}
.chartGauge::after {position:absolute;left:50%;top:50%;z-index:1;transform: translate(-50%, -50%) skew(-0.03deg);font-weight: 900;word-break: break-all;max-width:30px;}
.chartGauge.code-blue::after {content:"좋음";color:#40b0ff;}
.chartGauge.code-green::after {content:"보통";color:#6ed564;}
.chartGauge.code-warning::after {content:"나쁨";color:#ff9600;}
.chartGauge.code-red::after {content:"매우 나쁨";color:#ff0000;}
.chartGauge.code-default::after {content:"-";color:#999;}
#moveWatering {border-radius: 50%;border:1px solid #2c64cf;background-image:url('/img/v2/icons/icon-move.png');background-position:center;background-repeat: no-repeat;background-size:42px;}
#fixWatering {border-radius: 50%;border:1px solid #2c64cf;background-image:url('/img/v2/icons/icon-fix.png');background-position:center;background-repeat: no-repeat;background-size:47px;}
#fanChart {border-radius: 50%;border:1px solid #2c64cf;background-image:url('/img/v2/icons/icon-fan.png');background-position:center;background-repeat: no-repeat;background-size:44px;}
#airClean {border-radius: 50%;border:1px solid #2c64cf;background-image:url('/img/v2/icons/icon-clean.png');background-position:center;background-repeat: no-repeat;background-size:43px;}
/* /차트 */

/* 컨텐츠 */
#mainContents {padding:55px 0 40px 0;background-color:#fff;}
#bucheonEtc {}
#dustForecast {}
#behaviors {margin-top:30px;}
.etcListHeader {position: relative;padding-bottom:30px;}
.etcListHeader > h2 {color:#111;font-size:20px;font-weight: 600;letter-spacing: -0.88px;}
.etcListHeader > .deadline {margin-right:40px;margin-top:6px;}
.deadline > #airInfoDate {display:inline-block;font-size:12px;color:#999;letter-spacing: -0.28px;font-weight: 400;}
.deadline > .addBtns {position:absolute;top:-2px;right:0;}
.cdtCategory {width:100%;padding-bottom:45px;}
.cdtCategory > li {float:left;width:calc((100% - 3px) / 4);}
.cdtCategory > li:not(:last-child) {margin-right:1px;}
.cdtBlue {border-top:2px solid #4ba2ff; color:#4ba2ff;}
.cdtGreen {border-top:2px solid #3ec730; color:#3ec730;}
.cdtWarning {border-top:2px solid #f59a53; color:#f59a53;}
.cdtRed {border-top:2px solid #f55755; color:#f55755;}
.cdtCategory > li > span {display: block;font-size:12px;font-weight: 600;transform: skew(-0.03deg);letter-spacing: -1.08px;margin-top:9px;text-align: center;}
.cdtDisplay.slick-dotted.slick-slider {padding-bottom:60px;margin-bottom:0;}
.cdtStatusLists {}
.cdtStatus:focus {outline:none;}
.cdtStatusItems {float:left;width:calc(100% / 4);text-align: center;}
.cdtStatusItems .cdtTitles {color:#333;font-size:14px;letter-spacing: -0.9px;margin-bottom:15px;transform: skew(-0.03deg);}
.cdtStatusItems.dustStatus {}
.cdtStatusItems.ultrafineDustStatus {}
.cdtStatusItems.ozoneStatus {}
.cdtStatusItems.nitDioxideStatus {}
.cdtStatusItems .iconImgs {width:54px;height:54px;margin:0 auto;background-size:54px;background-position: center;background-repeat: no-repeat;border-radius: 50%;overflow: hidden;position: relative;} 
.cdtStatusItems.codeBlue .iconImgs {background-image: url('/img/v2/icons/icon-bg-good.png');} 
.cdtStatusItems.codeGreen .iconImgs {background-image: url('/img/v2/icons/icon-bg-normal.png');} 
.cdtStatusItems.codeWarning .iconImgs {background-image: url('/img/v2/icons/icon-bg-bad.png');} 
.cdtStatusItems.codeRed .iconImgs {background-image: url('/img/v2/icons/icon-bg-verybad.png');} 
.cdtStatusItems.codeDefault .iconImgs {border:2px solid #999;} 
.cdtStatusItems.codeDefault .iconImgs::after {content:'-';display:block;position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);font-weight: 600;font-size:20px;} 
.cdtStatusItems .cdtStatusIcons {margin-bottom:15px;}
.cdtStatusItems.codeBlue .statusTxtColor {color:#4ba2ff;} 
.cdtStatusItems.codeGreen .statusTxtColor {color:#3ec730;} 
.cdtStatusItems.codeWarning .statusTxtColor {color:#f59a53;} 
.cdtStatusItems.codeRed .statusTxtColor {color:#f55755;} 
.cdtStatusItems.codeDefault .statusTxtColor {color:#999;} 
.cdtStatusItems .statusKeys {font-size:14px;font-weight: 600;letter-spacing: -0.8px;margin-bottom:9px;transform: skew(-0.03deg);}
.cdtStatusItems .statusValues {font-size:12px;letter-spacing: -0.32px;font-weight: 600;color:#666;}
.cdtStatusItems .statusValues .statusTxtColor {font-family: 'Rubik';font-size:14px;letter-spacing: -0.99px;font-weight: 600;}

#bucheonEtc .slick-dots {bottom:0;}
#bucheonEtc .slick-dots li {width:12px;height:12px;}
#bucheonEtc .slick-dots li button:before {content:'';background-color:#ddd;border-radius: 50%;line-height: 1;width:12px;height:12px;opacity:0.5;transition: all 0.3s ease-in-out;}
#bucheonEtc .slick-dots li button:hover::before {opacity:1;}
#bucheonEtc .slick-dots li.slick-active button:before {background-color:#2c64cf;opacity:1;}
.dustReduct.slick-dotted.slick-slider {margin-bottom:0;height:100%;}
.dustReductTxtInfo:focus {outline:none;}
#behaviors .etcListHeader {padding-bottom:6px;}
.behaviorsInfoTxt .deadline {}
.behaviorsInfoTablesWrapper {margin-top:17px;}
.behaviorsInfoTables {width:100%;text-align: center;}
.behaviorsInfoTables,
.behaviorsInfoTables th,
.behaviorsInfoTables td {border:1px solid #ddd;padding:10px 15px;}
.behaviorsInfoTables th,
.behaviorsInfoTables td {height:40px;}
.behaviorsInfoTables th > div > p {color:#111;font-size:12px;font-weight: 600;letter-spacing: -0.72px;transform: skew(-0.03deg);}
.behaviorsInfoTables th.behaviorsInfoCategory {background-color:#edf3ff;}
.behaviorsInfoTables th.firstCategory, 
.behaviorsInfoTables th.secondCategory {width:64px;}
.behaviorsInfoTables th.secondCategory {background-color:#f5f8fe;}
.behaviorsInfoTables td.behaviorsInfoTableTxt p{text-align: left;font-size:14px;line-height: 1.25;letter-spacing: -0.65px;word-break: keep-all;color:#111;font-weight: 400;}
.behaviorsInfoNotice {margin-top:10px;padding:0 8px;}
.behaviorsInfoNotice > p {padding-left:15px;position: relative;font-size: 12px;color:#111;letter-spacing: 0.64px;line-height: 1.25;font-weight: 400;}
.behaviorsInfoNotice > p::after {content:'※';display:block;position: absolute;left:0;top:0;}
@media(min-width:1280px) {
  /* main */
  #mainVisualMaps {height:calc(100vh - 140px);min-height:770px;}
  #maps {height:100%;}
  #leftData.dataLayer {display:block;top:5px;left:50px;width:auto;}
  /* 지도 컨트롤러 */
  #mapController {float:none;width:100%;margin-top:0;}
  #zoomController,
  #viewController {background-color:#fff;border-radius: 4px;box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);margin-right:0;}
  #viewController {float:left;padding:3px;width:calc(100% - (73px + 10px));}
  #zoomController {float:right;width:calc((36px * 2) + 1px);background-color:#eee;overflow: hidden;}
  #zoomController > button,
  #viewController > button {display:block;float:left;}
  #viewController > button {height:34px;background-color:#fff;border-radius: 4px;letter-spacing: -0.32px;font-weight: 600;transform: skew(-0.03deg);}
  #viewController > button#defualtView {width:35%;padding:0;}
  #viewController > button#skyView {width:65%;padding:0;}
  #viewController > button.active {background-color:#606060;color:#fff;}
  #zoomController > button {width:36px;position:relative;height:40px;background-color:#fff;}
  #zoomController > #zoomIn::after,
  #zoomController > #zoomIn::before {content:'';display:block;background-color:#666;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
  #zoomController > #zoomIn::after {width:12px;height:2px;}
  #zoomController > #zoomIn::before {width:2px;height:12px;}
  #zoomController > #zoomOut {float:right;}
  #zoomController > #zoomOut::before {content:'';display:block;background-color:#666;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);width:12px; height:2px;}
  /* /지도 컨트롤러 */
  /* 미세먼지 상태 */
  #mapInformation {width:240px;display:block;}
  #dustStatus {display:block;position:static;margin-bottom:10px;width:100%;}
  .mapInfoHeader {display:block;padding:10px 12px;}
  .mapInfoTitle {margin:3px auto;font-size: 18px;color: #111;letter-spacing: -0.36px}
  #areaAverage {width:100%;background-color:transparent;margin-top:10px;padding:0;background-color:rgba(255, 255, 255, 0.8);float:none;}
  #areaAverageDate {margin-top:15px;font-size:15px;letter-spacing: -0.3px;font-weight: 600;color:#111;transform: skew(-0.03deg);}
  #dustStatus .foldBtnWrapper {position: absolute;right:10px;top:10px;display:block;}
  #areaAverageDatas {padding:20px 13px;}
  #areaAverageDatas #areaAverageStatus::after {float:right;font-size:20px;letter-spacing: -1px;font-weight: 600;}
  /* #areaAverageDatas.code-blue #areaAverageStatus::after {content:'매우 좋음';}
  #areaAverageDatas.code-green #areaAverageStatus::after {content:'좋음';}
  #areaAverageDatas.code-warning #areaAverageStatus::after {content:'보통';}
  #areaAverageDatas.code-red #areaAverageStatus::after {content:'매우 나쁨';} */
  #areaAverageValue {font-family: "Rubik";font-weight: 600;letter-spacing: -1px;font-size: 20px;}
  #areaAverageStatusLists {padding:12px 10px;width:100%;background-color:rgba(255, 255, 255, 0.8);}
  #areaAverageStatusLists {margin-top:0;}
  #areaAverageStatusLists > li {float:none;width:100%;}
  .areaAverageStatusItems {text-align: center;}
  .areaAverageStatusItems:not(:last-child) {margin-bottom:10px;}
  .areaAverageStatusItems > a {display:block;font-size:18px;color:#111;letter-spacing: -0.36px;font-weight: 600;padding:18px;border:1px solid #ccc;transition: all 0.3s ease-in-out;background-color:#fff;}
  .areaAverageStatusItems > a > span {display:inline;}
  /* /미세먼지 상태 */
  /* 저감사업 상태 */
  #dustBusiness {border-bottom:0;text-align: left;}
  #dustBusinessStatus {position:static;margin-bottom:10px;width:100%;background-color:rgba(255, 255, 255, 0.8);border:1px solid #dadada;text-align: left;}
  #dustBusinessStatus.active {border:3px solid #006dbb;}
  #dustBusinessStatus .foldBtnWrapper {left:auto;right:10px;top:10px;}
  #dustBusinessStatusLists {padding:10px 12px;}
  .dustBusinessStatusItems {background-color: #fff;border:1px solid #dadada;transition: all 0.3s ease-in-out;float:none;width:100%;}
  .dustBusinessStatusItems .subDustBusinessStatusList {background-color: none;box-shadow: none;}
  .dustBusinessStatusItems:not(:last-child) {margin-bottom:5px;}
  .dustBusinessStatusItems > a {display:block;width:100%;padding:17px 16px 17px 26px;letter-spacing: -0.32px;font-size:16px;font-weight: 600;transform: skew(-0.03deg);position: relative;}
  .dustBusinessStatusItems > a::before {content:'';display:block;width:20px;height:20px;position: absolute;background-color:#cde2ff;border-radius: 50%;z-index: -1;top:50%;transform: translateY(-50%);left:15px;}
  .dustBusinessStatusItems.active > a::before {background-color:#c6d1e1;}
  .dustBusinessStatusItems > a::after {width:12px;height:7px;background-image:url('/img/v2/common/icon-down.png');background-position: center;background-repeat: no-repeat;background-size: cover;position:absolute;right:16px;top:50%;transform: translateY(-50%);transition: all 0.3s ease-in-out;}
  .dustBusinessStatusItems.active > a::after {background-image:url('/img/v2/common/icon-up.png');}
  .dustBusinessStatusItems > a > span {display:inline-block;}
  .dustBusinessNunber {display:block;margin-right:11px;font-family: 'Rubik';}
  .subDustBusinessStatusList {position:static;padding:0 16px 0 53px;zoom:1;}
  .dustBusinessStatusItems.active, .dustBusinessStatusItems:hover, .dustBusinessStatusItems.active .subDustBusinessStatusList {box-shadow: none;}
  .dustBusinessStatusItems.active .subDustBusinessStatusList {background-color:none;}
  .subDustBusinessStatusItems {margin-bottom:10px;}
  .subDustBusinessStatusItems > a {font-weight: 600;display: inline-block;transform: skew(-0.03deg);font-size:14px;}
  /* /저감사업 상태 */
  /* 차트 */
  #rightData.dataLayer {position: absolute; z-index: 1; top: 5px; right: 50px;padding:0;margin:0;}
  .mapChartDataItems {height:120px;margin-left:auto;}
  .mapChartDataItems.active {border:3px solid #006dbb;}
  .mapChartDataItems .chartBtns {float:right;display:block;width:100px;height:100%;background-color:#fff;position:relative;background-position: center;background-repeat: no-repeat;background-size: auto;border:1px solid #dadada;}
  .mapChartDataItems .chartBtns::after {content:'';display:block;width:34px;height:34px;border-radius: 50%;border:1px solid #dadada;background-color:#fff;position:absolute;top:50%;right:calc(100% - (34px / 2)); transform: translateY(-50%);background-image: url('/img/v2/common/icon-left.png');background-position: center;background-size: 7px;background-repeat: no-repeat;}
  .mapChartDataItems .chartBtns.active::after {background-image: url('/img/v2/common/icon-right.png');}
  .mapChartDataItems .chartBtns#chartBigData {background-image: url('/img/v2/main/img-bigdata.jpg');}
  .mapChartDataItems .chartBtns#chartVillage {background-image: url('/img/v2/main/img-village.jpg');}
  .mapChartDataItems .chartBtns#chartIndust {background-image: url('/img/v2/main/img-indust.jpg');}
  .mapChartDataItems .chartBtns#chartSchool {background-image: url('/img/v2/main/img-school.jpg');}
  .mapChartDataItems .chartBtns#chartSubway {background-image: url('/img/v2/main/img-subway.jpg');}
  .mapChartDataItems .mapCharts {position:relative;float:right;height:100%;border:1px solid #dadada;border-right:0;}
  .mapChartDataItems:nth-child(4),
  .mapChartDataItems:nth-child(5) {max-width:328px;}
  .mapChartDataItems:nth-child(1) .mapCharts,
  .mapChartDataItems:nth-child(2) .mapCharts,
  .mapChartDataItems:nth-child(3) .mapCharts {width:320px;}
  #dustChartSlider {width:319px;}
  .mapChartDataItems:nth-child(4) .mapCharts,
  .mapChartDataItems:nth-child(5) .mapCharts {width:222px;}
  .mapChartDataItems:nth-child(4) .mapCharts .circleChartItems,
  .mapChartDataItems:nth-child(5) .mapCharts .circleChartItems {width:calc(100% / 2);}
  .mapChartDataItems .chartBtns:not(.active) + div.mapCharts {width:0;}
  .mapChartDataItems:not(:last-child) {margin-bottom:10px;}
  .circleCharts {padding:0 28px;}
  .circleChartItems {}
  .circleChartTitles {font-size:16px;letter-spacing: -0.32px;}
  .circleChartTitles.active {background-color:#006dbb;color:#fff;border-radius: 15px;padding:8px 12px;top:4px;}
  .chartDw {font-size:14px;}
  .chartGauge::after {max-width:40px;}
  /* /차트 */
  /* 컨텐츠 */
  #mainContents {padding:50px 0 255px 0;background-color:#fff;}
  #bucheonEtc {border:1px solid #eee;}
  #dustForecast {float:left;width:50%;border-right:1px solid #eee;padding:45px 19px 0 19px;}
  #behaviors {float:right;width:50%;padding:45px 19px 0 19px;margin-top:0;}
  .etcListHeader {position: relative;padding-bottom:40px;}
  .etcListHeader > h2 {float:left;color:#111;font-size:22px;font-weight: 600;letter-spacing: -0.88px;}
  .etcListHeader > .deadline {float:right;margin-right:40px;margin-top:6px;}
  .deadline > #airInfoDate {font-size:14px;}
  .deadline > .addBtns {position:absolute;top:-2px;right:0;}
  .cdtCategory {width:100%;padding-bottom:45px;}
  .cdtCategory > li {float:left;width:calc((100% - 3px) / 4);}
  .cdtCategory > li:not(:last-child) {margin-right:1px;}
  .cdtBlue {border-top:2px solid #4ba2ff; color:#4ba2ff;}
  .cdtGreen {border-top:2px solid #3ec730; color:#3ec730;}
  .cdtWarning {border-top:2px solid #f59a53; color:#f59a53;}
  .cdtRed {border-top:2px solid #f55755; color:#f55755;}
  .cdtCategory > li > span {display: block;font-size:12px;font-weight: 600;transform: skew(-0.03deg);letter-spacing: -1.08px;margin-top:9px;}
  .cdtDisplay.slick-dotted.slick-slider {padding-bottom:105px;margin-bottom:0;}
  .cdtStatusLists {}
  .cdtStatus:focus {outline:none;}
  .cdtStatusItems {float:left;width:calc(100% / 4);text-align: center;}
  .cdtStatusItems .cdtTitles {color:#333;font-size:20px;letter-spacing: -0.9px;margin-bottom:34px;}
  .cdtStatusItems.dustStatus {}
  .cdtStatusItems.ultrafineDustStatus {}
  .cdtStatusItems.ozoneStatus {}
  .cdtStatusItems.nitDioxideStatus {}
  .cdtStatusItems .iconImgs {width:54px;height:54px;margin:0 auto;background-size:54px;background-position: center;background-repeat: no-repeat;border-radius: 50%;overflow: hidden;position: relative;} 
  .cdtStatusItems.codeBlue .iconImgs {background-image: url('/img/v2/icons/icon-bg-good.png');} 
  .cdtStatusItems.codeGreen .iconImgs {background-image: url('/img/v2/icons/icon-bg-normal.png');} 
  .cdtStatusItems.codeWarning .iconImgs {background-image: url('/img/v2/icons/icon-bg-bad.png');} 
  .cdtStatusItems.codeRed .iconImgs {background-image: url('/img/v2/icons/icon-bg-verybad.png');} 
  .cdtStatusItems.codeDefault .iconImgs {border:2px solid #999;} 
  .cdtStatusItems.codeDefault .iconImgs::after {content:'-';display:block;position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);font-weight: 600;font-size:20px;} 
  .cdtStatusItems .cdtStatusIcons {margin-bottom:36px;}
  .cdtStatusItems.codeBlue .statusTxtColor {color:#4ba2ff;} 
  .cdtStatusItems.codeGreen .statusTxtColor {color:#3ec730;} 
  .cdtStatusItems.codeWarning .statusTxtColor {color:#f59a53;} 
  .cdtStatusItems.codeRed .statusTxtColor {color:#f55755;} 
  .cdtStatusItems.codeDefault .statusTxtColor {color:#999;} 
  .cdtStatusItems .statusKeys {font-size:20px;font-weight: 600;letter-spacing: -0.8px;margin-bottom:9px;}
  .cdtStatusItems .statusValues {font-size:16px;letter-spacing: -0.32px;font-weight: 600;color:#666;}
  .cdtStatusItems .statusValues .statusTxtColor {font-family: 'Rubik';font-size:22px;letter-spacing: -0.99px;font-weight: 600;}

  #bucheonEtc .slick-dots {bottom:29px;}
  #bucheonEtc .slick-dots li {width:12px;height:12px;}
  #bucheonEtc .slick-dots li button:before {content:'';background-color:#ddd;border-radius: 50%;line-height: 1;width:12px;height:12px;opacity:0.5;transition: all 0.3s ease-in-out;}
  #bucheonEtc .slick-dots li button:hover::before {opacity:1;}
  #bucheonEtc .slick-dots li.slick-active button:before {background-color:#2c64cf;opacity:1;}
  .dustReduct.slick-dotted.slick-slider {margin-bottom:0;height:100%;}
  .dustReductTxtInfo:focus {outline:none;}
  #behaviors .etcListHeader {padding-bottom:14px;}
  .behaviorsInfoTxt .deadline {text-align: right;}
  .behaviorsInfoTablesWrapper {margin-top:17px;}
  .behaviorsInfoTables {width:100%;text-align: center;}
  .behaviorsInfoTables,
  .behaviorsInfoTables th,
  .behaviorsInfoTables td {border:1px solid #ddd;padding:0 15px;}
  .behaviorsInfoTables th,
  .behaviorsInfoTables td {height:60px;}
  .behaviorsInfoTables th > div > p {color:#111;font-size:18px;font-weight: 600;letter-spacing: -0.72px;}
  .behaviorsInfoTables th.behaviorsInfoCategory {background-color:#edf3ff;}
  .behaviorsInfoTables th.firstCategory, 
  .behaviorsInfoTables th.secondCategory {width:110px;}
  .behaviorsInfoTables th.secondCategory {background-color:#f5f8fe;}
  .behaviorsInfoTables td.behaviorsInfoTableTxt p{font-size:16px;}
  .behaviorsInfoNotice {margin-top:24px;padding:0 8px;}
  .behaviorsInfoNotice > p {padding-left:15px;font-size:16px;}
  .behaviorsInfoNotice > p::after {content:'※';display:block;position: absolute;left:0;top:0;}
  /* /컨텐츠 */
  /* /main */
}
/* /컨텐츠 */
/* 대시보드 */
#dashBoards {background-color:#1d1e2f;}
#dashBoards .container{padding:0;}
#dustAlert {background-color:#222336;width:100%;text-align: center;padding:17px 0;}
#dustAlert > div {position:relative;}
#dustCaption {background-image:url('/img/v2/icons/bg-cation.png');background-size:100%;background-repeat: no-repeat;background-position: center;width:30px;height:25px;display:inline-block;}
#dustAlertMsgs {display:inline-block;position: relative;zoom:0.8;top:-7px;}
#dustAlertNotice {text-align: center;letter-spacing: -1.2px;color:#ff4320;font-weight: 600;display:inline-block;font-size:19px;transform: skew(-0.03deg);margin:0 8px;}
#dustAlertDate {font-weight: 400;letter-spacing: -0.4px;color:#fff;text-align: center;display:inline-block;transform: skew(-0.03deg);}

#dustPlaceData {position:relative;padding:15px 0;}
#dustPlaceData > div {display:flex;justify-content: center;align-items: center;}
#dustMeasure {text-align: left;color:#999;}
#dustMeasureCate {font-weight: 600;font-size:9px;margin-left: 3px;}
#dustMeasureData {color:#ff0000;letter-spacing: -2.7px;font-weight: 900;font-family: 'Rubik';display:inline-block;font-size:30px;}
#dustMeasureUnit {font-weight: 600;display:inline-block;font-size:9px;}
#dustMeasurePlace {color:#fff;position:relative;max-width:120px;padding-right:20px;}
#dustMeasurePlace .slick-next {display:none !important;}
#mDustStatus {text-align: center;margin-right:16px;margin-left:7px;}
#mDustStatus > span {color:#ff0000;font-weight: 900;border-radius: 28px;border:1px solid #ff0000;padding: 6px 15px 6px 16px;font-size:14px;display:inline-block;transform: skew(-0.03deg);}
#measurePlaceSlider {text-align: left;}
.measurePlaceItems {outline:none;}
.measureName {font-weight: 600;transform: skew(-0.03deg);letter-spacing: -0.45px;font-size:11px;}
.measurePlaceName {font-weight: 600;transform: skew(-0.3deg);letter-spacing: -2.25px;margin-top:7px;font-size: 15px;}
#dustAlertArr {width:30px;height:30px;border-radius: 50%;border:1px solid #dadada;display:block;background-image: url('/img/v2/common/icon-left.png');background-repeat: no-repeat;background-position-y: center;background-position-x:calc(50% + 1px);background-size:8px;position:absolute;right:0;z-index:1;top:17px;zoom:0.8;}

#dustStates {float:left;color:#e1e1e1;display:none;}
#dustStateData {color:#ff0000;transform: skew(-0.03deg);font-weight: 900;}
#dustStateMsg {line-height: 1.75;font-weight: 400;}

@media(min-width:1280px) {
  #dashBoards {}
  #dustAlert {padding:35px 34px 40px 34px;width:395px;float:left;}
  #dustAlert > div {}
  #dustCaption {width:84px; height:66px;background-size:auto;float:left;}
  #dustAlertMsgs {margin-left:22px;margin-top:10px;float:left;position: static;zoom:1;}
  #dustAlertNotice {font-size: 24px;margin-bottom:12px;text-align:left;display:block;margin:0;}
  #dustAlertDate {font-size: 16px;text-align:left;display:block;}
  
  #dustPlaceData {float:left;padding:17px 38px 20px 50px;width:460px;}
  #dustPlaceData > div {display:block;}
  #dustMeasure {float:left;text-align: center;}
  #dustMeasureCate {font-size:18px;margin: 0 auto;}
  #dustMeasureData {font-size:60px;margin:6px 0 0 0;display:block;}
  #dustMeasureUnit {font-size:18px;display:block;}
  #dustMeasurePlace {float:right;margin-left:26px;margin-top:20px;padding-right:55px;max-width:initial;}
  #mDustStatus {display:none;}
  #measurePlaceSlider {width:190px;}
  .measurePlaceItems {}
  .measureName {font-size:18px;}
  .measurePlaceName {font-size:30px;margin-top:13px;}
  #dustAlertArr {width:38px; height:38px;border-width:2px;zoom:1;top:29px;}

  #dustStates {padding-top:25px;width:calc(100% - (460px + 395px));display:block;}
  #dustStateData {font-size:20px;margin-bottom:18px;}
  #dustStateMsg {font-size:16px;}
}
/* /대시보드 */
/* /main */

/* 우리동네 미세먼지 농도 */
#adUlfptcSearch .dustBusinessStatusItems > a {text-align: center;transition:all 0.3s ease-in-out;}
#adUlfptcSearch .dustBusinessStatusItems > a::before,
#adUlfptcSearch .dustBusinessStatusItems > a::after {display:none;}
#adUlfptcSearch .dustBusinessStatusItems.active a {background-color:#006dbb; color:#fff;} 
/* ulfptcMapSearch.html */
#dustMaps {background-color:rgba(255, 255, 255, 0.8);position: relative;}
#dustMaps > .mapInfoHeader {border-bottom:1px solid #dadada;}
#dustMaps #dustBusinessStatus {background-color:#fff;}
#dustMapSearchForm {padding:5px 5px 20px 5px;position:absolute;background-color:#fff;width:100%;}
#dustMapSearchForm .formGroup {padding:10px;border:1px solid #dadada;}

#dustMapSearchForm .dustInfoType::after {display:block;content:'';clear:both;}
#dustMapSearchForm .dustInfoType > .formLine {float:left;width:50%;}
#dustMapSearchForm .managementArea {margin-top:5px;}
#dustMapSearchForm .searchDateSet {border:0;}
#dustMapSearchForm .searchDateSet::after {content:'';display:block;clear:both;}
#dustMapSearchForm .searchDateSet .labelText {margin-bottom:5px;}
#dustMapSearchForm .dustMapDateForm {float: left; width:calc(50% - 2.5px)}
#dustMapSearchForm .dustMapTimeForm {float:right; width:calc(50% - 2.5px)}
#dustMapSearchForm .dustMapDateForm .dateForm {width:100%;}
#dustMapSearchForm .dustMapTimeForm .selectForm {width:100%;}
#dustMapSearchForm .mapSearchSubmit {margin-top:10px; text-align: center;border:0;padding:0;}
/* /ulfptcMapSearch.html */
@media(min-width:1280px) {
  #dustMaps {margin-top:10px;}
  #dustMaps #dustBusinessStatus {margin-bottom: 0;}
  #dustMapSearchForm {padding:10px 10px 40px 10px;position:static;}
  #dustMapSearchForm .dustInfoType > .formLine {float:none;width:100%;}
  #dustMapSearchForm .dustInfoType > .formLine:not(:last-child) {margin-bottom:10px;}
  #dustMapSearchForm .managementArea {margin-top:10px;}
  #dustMapSearchForm .searchDateSet {margin-top:13px;}
  #dustMapSearchForm .searchDateSet .labelText {margin-bottom:11px;}
  #dustMapSearchForm .formGroup .labelText {font-size:16px;}
  #dustMapSearchForm .dustMapDateForm {float:none;width:100%;}
  #dustMapSearchForm .dustMapTimeForm {margin-top:17px;float:none;width:100%;}
  #dustMapSearchForm .mapSearchSubmit {margin-top:20px;}
}
/* /우리동네 미세먼지 농도 */

/* ulfptcCoordiActList.html */
#ulfptcCoordiActList .searchTextFilter .textForm {width:100%;}
#ulfptcCoordiActList .searchTextFilter .labelText {display:block;margin-bottom:10px;}
#ulfptcCoordiActList .searchSubmits {border-top:1px solid #d6dade;margin-top:22px;padding-top:10px;width:100%;text-align: center;}
#ulfptcCoordiActList #codiActHistory .sectionTitles {}
#ulfptcCoordiActList .boardLists .listWrNum {display:none;}
#ulfptcCoordiActList .boardLists .listWrSubject {width:70%;}
#ulfptcCoordiActList .boardLists .listActDateTime {display:none;}
#ulfptcCoordiActList .boardLists .listCdName {display:none;}
#ulfptcCoordiActList .boardLists .listWrDateTime {width:30%;}
.activityCount {border:1px solid #dadada;}
.activityCountCates {text-align: center;}
.activityCountCates > .activeityItems {float:left;width:calc(100% / 6);border-top:1px solid #dadada;margin-top:-1px;}
.activityCountCates > .activeityItems:last-child {width:100%;border-top:1px solid #dadada;}
.activityCountCates > .activeityItems:not(:last-child) {border-right:1px solid #dadada;}
.activityCountCates > .activeityItems:nth-child(6n) {border-right: 0;}
.activityCountCates > .activeityItems > .activityCountCateItems {background-color:#edf3ff;border-bottom:1px solid #dadada;padding:10px 5px;;}
.activityCountCates > .activeityItems > .activityCountCateItems > span {color:#111;font-weight: 600;transform: skew(-0.03deg);}
.activityCountCates > .activeityItems > .activityCountValue {font-weight: 400;padding:10px 5px;;}
@media(min-width:1280px) {
  #ulfptcCoordiActList .searchTextFilter .textForm {width:600px;}
  #ulfptcCoordiActList .searchTextFilter .labelText {margin-right:19px;display:inline-block;margin-bottom:0;}
  #ulfptcCoordiActList .searchSubmits {padding-left:39px;border-left:1px solid #d6dade;border-top:0;margin-top:0;padding-top:0;width:auto;}
  #ulfptcCoordiActList #codiActHistory .sectionTitles {margin-bottom:14px;}
  #ulfptcCoordiActList .boardLists .listWrNum {width:60px;display:block;}
  #ulfptcCoordiActList .boardLists .listWrSubject {width:610px;}
  #ulfptcCoordiActList .boardLists .listActDateTime {width:240px;display:block;}
  #ulfptcCoordiActList .boardLists .listCdName {width:120px;display:block;}
  #ulfptcCoordiActList .boardLists .listWrDateTime {width:170px;}
  .activityCount {}
  .activityCountCates {}
  .activityCountCates > .activeityItems:last-child,
  .activityCountCates > .activeityItems {width:calc(100% / 13);border-top:0;margin-top:0;}
  .activityCountCates > .activeityItems > .activityCountCateItems {padding:17px 5px;}
  .activityCountCates > .activeityItems > .activityCountValue {padding:17px 5px;}
  .activityCountCates > .activeityItems > .activityCountCateItems > span, 
  .activityCountCates > .activeityItems > .activityCountValue > span  {font-size: 16px;}
  .activityCountCates > .activeityItems:nth-child(6n) {border-right: 1px solid #dadada;}
  .searchCount {}
}
/* /ulfptcCoordiActList.html */

/* ulfptcCoordiActDetail.html */

/* /ulfptcCoordiActDetail.html */

/* visitingUlfptcClassCalendarSearch.html */
#codiClList {}
#classCalendarSearch .boardLists .listWrNum {}
@media(min-width:1280px) {
  #codiClList {margin-top:72px;}
  #classCalendarSearch .boardLists .listWrNum {width:95px;}
  #classCalendarSearch .boardLists .listWrSubject {width:600px;}
  #classCalendarSearch .boardLists .listEduDateTime {width:355px;}
  #classCalendarSearch .boardLists .listEpDate {width:150px;}
}
/* /visitingUlfptcClassCalendarSearch.html */

/* visitingUlfptcClassList */
#visitClassList {}
#visitClassList .searchFilter2Area {border:1px solid #dadada;}
#visitClassList .searchFilters2 .search2Line {}
#visitClassList .searchFilter2Area .searchFilterCates {border-right:1px solid #dadada;}
#visitClassList .searchFilter2Area .searchFilterForms {}
#visitClassList .boardLists .listWrNum {}
#visitClassList .boardLists .listWrPlan {}
#visitClassList .boardLists .listEduAppDate {}
#visitClassList .boardLists .listEduSch {}
#visitClassList .boardLists .listEduSch a.listValues {color:#2c64cf;text-decoration: underline !important;}
#visitClassList .boardLists .listEduGrade {}
#visitClassList .boardLists .listEduClass {}
#visitClassList .boardLists .listEduCount {}
#visitClassList .boardLists .listEduState {}
@media(min-width:1280px) {
  #visitClassList {}
  #visitClassList .searchFilters2 {}
  #visitClassList .searchFilters2 .search2Line {}
  #visitClassList .searchFilters2 .searchFilterCates {width:200px;}
  #visitClassList .searchFilters2 .searchFilterForms {width:calc(100% - 200px);}
  #visitClassList .searchFilter2Area .searchFilterForms .dateForm {width:300px;}
  #visitClassList .searchFilter2Area .searchFilterForms .textForm {width:625px;}
  #visitClassList .boardLists .listWrNum {width:60px;}
  #visitClassList .boardLists .listWrPlan {width:440px;}
  #visitClassList .boardLists .listEduAppDate {width:170px;}
  #visitClassList .boardLists .listEduSch {width:170px;}
  #visitClassList .boardLists .listEduGrade {width:80px;}
  #visitClassList .boardLists .listEduClass {width:80px;}
  #visitClassList .boardLists .listEduCount {width:100px;}
  #visitClassList .boardLists .listEduState {width:100px;}
}
/* /visitingUlfptcClassList */

/* ulfptcCoordiActRegist.html */
#ulfptcCoordiActRegistWrite .textForm:not(.wrSubject) {width:220px;}
/* /ulfptcCoordiActRegist.html */

/* visitingUlfptcClassRegist.html */
#visitClassWrite .boardWrites .selectForm[name="searchFlag"] {}
#visitClassWrite .boardWrites .textForm {}
#visitClassWrite .boardWrites .textForm[name="schulNm"] {}
#visitClassWrite .boardWrites .textForm[name="grade"] {}
#visitClassWrite .boardWrites .textForm[name="part"] {}
#visitClassWrite .boardWrites .selectForm[name="searchTimeFlag1"],
#visitClassWrite .boardWrites .selectForm[name="searchTimeFlag2"] {}
#visitClassWrite .boardWrites .btn.labeling {}

#edcSchdul {}
#edcReqstChk {}

#searchSchoolPop {}
#searchSchoolPop .textForm[name="searchSchul"],
#searchEdcInstr .textForm[name="searchText"] {}
.modals .labelText {}
#searchSchoolPop .listWrNum {}
#searchSchoolPop .listWrSchName {}
#searchSchoolPop .listWrPlace {}
#searchSchoolPop .listWrAddress {}
#searchSchoolPop .listWrTel {}

#searchEdcInstr .btn.labeling {margin:0 auto;}
#searchEdcInstr .listWrRank {}
#searchEdcInstr .listWrTeacName {}
#searchEdcInstr .listWrTeacName a.listValues {color: #2c64cf; text-decoration: underline !important;}
#searchEdcInstr .listWrActCnt {}
#searchEdcInstr .listWrTchRat {}
#searchEdcInstr .listWrTchSelect {}

#searchTeacherPop .listWrNum {}
#searchTeacherPop .listEduAppDate {}
#searchTeacherPop .listEduSch {}
#searchTeacherPop .listEduCount {}
#searchTeacherPop .listWrTchRat {}
#searchTeacherPop .listWrTchRatTxt {}
#searchTeacherPop .modalSection .modalScrolls {} 
#searchTeacherPop .modalSection .checkboxLabel {cursor: text;}
#searchTeacherPop #actWeek {word-break: keep-all;}
#searchTeacherPop #actWeek .checkboxLabel {margin-bottom:5px;display:block;float: left;}
#searchTeacherPop #actTm {word-break: keep-all;}
#searchTeacherPop #actTm > .checkboxLabel {margin-bottom:5px;display:block;float: left;}
#searchTeacherPop #actDong > .checkboxLabel {margin-bottom:5px;display:block;float: left;}

#privacyCollect .privacyTxt {overflow: scroll;padding:10px 13px;border:1px solid #dadada;font-weight: 400;}
#privacyCollect .privacyTxt * {transform: skew(-0.03deg);}#privacyCollect .privacyTxt h4 {}
#privacyCollect .privacyTxt p {}
#privacyCollect .privacyTxt::-webkit-scrollbar {display:none;}
#privacyCollect .checkboxForm + .checkboxImg {width: 20px;height: 20px;}
@media(min-width:1280px) {
  #visitClassWrite .boardWrites .selectForm {font-size:14px;}
  #visitClassWrite .boardWrites .selectForm[name="searchFlag"] {width:298px;}
  #visitClassWrite .boardWrites .textForm {width:220px;}
  #visitClassWrite .boardWrites .textForm[name="schulNm"] {width:300px;}
  #visitClassWrite .boardWrites .textForm[name="grade"] {width:86px;margin-right:5px;}
  #visitClassWrite .boardWrites .textForm[name="part"] {width:86px;margin-left:15px;margin-right:5px;}
  #visitClassWrite .boardWrites .selectForm[name="searchTimeFlag1"],
  #visitClassWrite .boardWrites .selectForm[name="searchTimeFlag2"] {margin-left:15px;}
  #visitClassWrite .boardWrites .btn.labeling {margin-left:15px;}

  #edcSchdul {margin-left:15px;font-size:14px;font-weight: 400;}
  #edcSchdul > p:not(:last-child) {margin-bottom:5px;}
  #edcReqstChk {margin-top:5px;font-size:16px;font-weight: 400;}

  #searchSchoolPop {}
  #searchSchoolPop .textForm[name="searchSchul"],
  #searchEdcInstr .textForm[name="searchText"] {width:470px;}
  .modals .labelText {margin-right: 19px;}
  #searchSchoolPop .listWrNum {width: 60px;}
  #searchSchoolPop .listWrSchName {width: 210px;}
  #searchSchoolPop .listWrPlace {width: 130px;}
  #searchSchoolPop .listWrAddress {width: 440px;}
  #searchSchoolPop .listWrTel {width: 220px;}
  
  #searchEdcInstr .btn.labeling {margin:0 auto;}
  #searchEdcInstr .listWrRank {width:60px;}
  #searchEdcInstr .listWrTeacName {width:255px;}
  #searchEdcInstr .listWrActCnt {width:255px;}
  #searchEdcInstr .listWrTchRat {width:255px;}
  #searchEdcInstr .listWrTchSelect {width:235px;}

  #searchTeacherPop .listWrNum {width:60px;}
  #searchTeacherPop .listEduAppDate {width:180px;}
  #searchTeacherPop .listEduSch {width:180px;}
  #searchTeacherPop .listEduCount {width: 130px;}
  #searchTeacherPop .listWrTchRat {width:180px;}
  #searchTeacherPop .listWrTchRatTxt {width:330px;}
  #searchTeacherPop .modalSection .modalScrolls {max-height:200px;}
  #searchTeacherPop #actWeek {} 
  #searchTeacherPop #actWeek .checkboxLabel {margin-bottom:5px;width:calc(100% / 4);margin-right:10px;}
  #searchTeacherPop #actTm {margin-top:15px;} 
  #searchTeacherPop #actTm > .checkboxLabel {width:calc(100% / 2)} 
  #searchTeacherPop #actDong > .checkboxLabel {width:calc(100% / 3)} 

  #privacyCollect .privacyTxt {height:300px;margin-bottom:30px;font-size:16px;}
  #privacyCollect .privacyTxt h4 {margin-bottom: 10px;}
  #privacyCollect .privacyTxt p {margin-bottom: 20px;}
  #privacyCollect .checkboxForm + .checkboxImg {}
}
/* /visitingUlfptcClassRegist.html */

/* visitingUlfptcClassDetail.html */
#visitClassDetail #rm {}
#visitClassDetail #eduStat {color:#fbc02f;}
#eduStat > i {display: inline-block;}
.tcheNames {font-weight: 600;}
.tchReview {font-weight: 400;transform: skew(-0.03deg);}
.gradeScore > .fa {cursor: pointer;color: #fbc02f;}
.reviewTxt {}
@media(min-width:1280px) {
  #visitClassDetail #rm {min-height:300px;}
  #visitClassDetail #eduStat {}
  #eduStat > i {margin-right: 5px;font-size: 18px;}
  .tcheNames {font-size:20px;}
  .tchReview {margin:30px auto;font-size:16px;}
  .gradeScore > .fa {margin: 0 6px;font-size:40px;}
  .reviewTxt {margin-top:30px;}
}
/* /visitingUlfptcClassDetail.html */

/* coordiCareerMgSearch.html */
#coordiQualification .btn,
#etcActiveCareer .btn {}

#careerMng #actWeek {}
#careerMng #actWeek .checkboxLabel {display:block;float:left;}
#careerMng #actTm {}
#careerMng #actTm .checkboxLabel {display:block;float:left;}
#careerMng #actDong {}
#careerMng #actDong .checkboxLabel {display:block;float:left;}

#coordiQualification .listWrChb {}
#coordiQualification .listCoordiStp {}
#coordiQualification .listCoordiEduName {}
#coordiQualification .listCoordiEduDate {}

#eduActCareer {}
#eduActCareer .listEduSch {}
#eduActCareer .listEduGrade {}
#eduActCareer .listEduCount {}
#eduActCareer .listEduClass {}
#eduActCareer .listEduDateTime {}

#etcActiveCareer {}
#etcActiveCareer .listWrChb {}
#etcActiveCareer .listEtcActDate {}
#etcActiveCareer .listEtcActSubject {}

#edcAct .boardViewCategory {padding:13px 10px 13px 15px;}
#edcAct .boardViewValue {}

#etcAct .boardViewCategory {padding:13px 10px 13px 15px;}
#etcAct .boardViewValue {}
#etcAct .textForm {}
#etcAct .imgDisclamerList {}
@media(min-width:1280px) {
  #coordiQualification .btn,
  #etcActiveCareer .btn {margin-right:0; margin-left:10px;}
  
  #careerMng #actWeek {}
  #careerMng #actWeek .checkboxLabel {width:calc(100% / 3);margin-bottom:5px;}
  #careerMng #actTm {margin:15px 0;}
  #careerMng #actTm .checkboxLabel {width:calc(100% / 3);margin-bottom:5px;}
  #careerMng #actDong {margin-bottom:15px;}
  #careerMng #actDong .checkboxLabel {width:calc(100% / 3); margin-bottom:5px;}
  
  #coordiQualification .listWrChb {width:100px;}
  #coordiQualification .listCoordiStp {width:200px;}
  #coordiQualification .listCoordiEduName {width:700px;}
  #coordiQualification .listCoordiEduDate {width:200px;}

  #eduActCareer {}
  #eduActCareer .listEduSch {width:320px;}
  #eduActCareer .listEduGrade {width:180px;}
  #eduActCareer .listEduCount {width:200px;}
  #eduActCareer .listEduClass {width:250px;}
  #eduActCareer .listEduDateTime {width:250px;}

  #etcActiveCareer {}
  #etcActiveCareer .listWrChb {width:100px;}
  #etcActiveCareer .listEtcActDate {width:350px;}
  #etcActiveCareer .listEtcActSubject {width:750px;}

  #edcAct .boardViewCategory {width:150px;}
  #edcAct .boardViewValue {width:calc(100% - 150px);}

  #etcAct .boardViewCategory {width:150px;}
  #etcAct .boardViewValue {width:calc(100% - 150px);}
  #etcAct .textForm {width:100%;}
  #etcAct .imgDisclamerList {margin-top:15px;}
}
/* /coordiCareerMgSearch.html */

/* faqList.html */
#faqCategorys {text-align:center;}
.faqCategoryItems {float:left;}
.faqCategoryItems:not(:last-child) {}
.faqCategoryLink {display:block;}
.faqCategoryIcons {}
.faqCategoryIcons > img {margin:0 auto; display:block;}
.faqCategoryNames {font-weight: 600; letter-spacing: -0.72px;color:#666;transform: skew(-0.03deg);}
#faqList .searchFilters .labelText {}
#faqList .searchFilters .selectForm, 
#faqList .searchFilters .selectForm {color:#999da5;}
#faqList .searchFilters .textForm {position:relative; top:-1px;}
#faqList .searchSubmits { border-left: 1px solid #d6dade; }

#faqList .accordionBoardLists {}
#faqList .accordionBoardItems > a > span::before {content:'Q.'; font-family: 'Rubik';font-weight: 900;position:absolute;left:0;top:0;}
#faqList .accordionBoardItems > a > span {}
#faqList .accordionContents .faqAnsText {}
#faqList .accordionContents .faqAnsSubject {position:relative;font-weight: 600;transform: skew(-0.03deg);}
#faqList .accordionContents .faqAnsSubject::before {content:'A.';position: absolute;display:block;top:0;font-family: 'Rubik';font-weight: 900;}
#faqList .accordionContents .faqAnsContents {word-break: break-all;color:#2c64cf;line-height: 1.4;}
@media(min-width:1280px) {
  #faqCategorys {margin-top:85px;margin-bottom:60px;}
  .faqCategoryItems {width:90px;}
  .faqCategoryItems:not(:last-child) {margin-right:calc((100% - (90px * 8)) / 7)}
  .faqCategoryLink {}
  .faqCategoryIcons {}
  .faqCategoryIcons > img {width:100%;}
  .faqCategoryNames {font-size:16px; margin-top:20px;}
  #faqList .searchFilters .labelText {margin-right:19px;}
  #faqList .searchFilters .selectForm {margin-right:5px; width:220px;}
  #faqList .searchFilters .selectForm, 
  #faqList .searchFilters .selectForm {font-size:14px;}
  #faqList .searchFilters .textForm {width:525px;}
  #faqList .searchSubmits {padding-left:39px;}

  #faqList .accordionBoardLists {margin-top:75px;}
  #faqList .accordionBoardItems > a > span::before {}
  #faqList .accordionBoardItems > a > span {padding-left:20px;}
  #faqList .accordionContents .faqAnsText {padding-left:20px;}
  #faqList .accordionContents .faqAnsSubject {}
  #faqList .accordionContents .faqAnsSubject::before {left:-20px;}
  #faqList .accordionContents .faqAnsContents {margin-top:20px;}
} 
/* /faqList.html */

/* noticeList.html, newsList.html */
#defualtBoardList .searchTextFilter .labelText {}
#defualtBoardList .searchFilters .selectForm {color:#999da5;}
#defualtBoardList .searchFilters .textForm {}
#defualtBoardList .searchSubmits {border-left:1px solid #d6dade;}

#defualtBoardList .listWrNum {}
#defualtBoardList .listWrSubject {}
#defualtBoardList .listWrName {}
#defualtBoardList .listWrDateTime {}
#defualtBoardList .listWrHit {}
@media(min-width:1280px) {
  #defualtBoardList .searchTextFilter .labelText {margin-right:19px;}
  #defualtBoardList .searchFilters .textForm {position: relative; top: -1px;}
  #defualtBoardList .searchFilters .selectForm {font-size:14px;margin-right:5px;width:220px;}
  #defualtBoardList .searchFilters .textForm {width:560px;}
  #defualtBoardList .searchSubmits {padding-left: 39px;}

  #defualtBoardList .listWrNum {width:70px;}
  #defualtBoardList .listWrSubject {width:720px;}
  #defualtBoardList .listWrName {width:140px;}
  #defualtBoardList .listWrDateTime {width:170px;}
  #defualtBoardList .listWrHit {width:100px;}
}
/* /noticeList.html, newsList.html */

/* factNewsList.html */

/* /factNewsList.html */

/* ulfptcCoordiActIntroSearch.html */
#ulfptcCoordiActIntroSearch {}
#coordiInfo {letter-spacing: -0.4px;font-weight: 400;}
#coordiConstruction {}
#coordiConstruction > .textRight {color:#666;letter-spacing: -0.4px;font-weight: 600;transform: skew(-0.03deg);}
#coordiConstTable {}
#coordiConstTable .dataTables > table {text-align: center;display: block;border:1px solid #dadada;border-bottom:0;}
#coordiConstTable .dataTables > table > tbody {display: block;}
#coordiConstTable .dataTables .tableRow {display: block;}
#coordiConstTable .dataTables .tableRow::after {content:'';clear:both;display: block;}
#coordiConstTable .tableRow td,
#coordiConstTable .tableRow th {border:0;border-bottom:1px solid #dadada;}

#coordiConstTable .dataCategoryDepth_1 {display:block;float:left;}
#coordiConstTable .dataCategoryDepth_1[rowspan="4"] {display:none;}
#coordiConstTable .dataCategoryDepth_1[colspan="2"] {width:100%;}
#coordiConstTable .dataCategoryDepth_1:not([colspan="2"]) {width:calc(100% / 3)}
#coordiConstTable .dataCategoryDepth_2 {display: block;width:100%;}
#coordiConstTable .dataCategoryValue {display:block;float:left;}
#coordiConstTable .dataCategoryValue:not([colspan="2"]),
#coordiConstTable .dataCategoryValue:not([colspan="3"]) {width:calc(100% / 3)}
#coordiConstTable .dataCategoryValue[colspan="2"] {width:calc((100% / 3) * 2)}
#coordiConstTable .dataCategoryValue[colspan="3"] {width:100%;}
#coordiConstTable .tableRow:nth-child(1) > .dataCategoryDepth_1:not([colspan="2"]){border-right:1px solid #dadada;}
#coordiConstTable .tableRow:nth-child(1) > .dataCategoryDepth_1:last-child {border-right: 0;}
#coordiConstTable .tableRow:nth-child(2) > .dataCategoryDepth_1[colspan="2"] {display: none;}
#coordiConstTable .tableRow > .dataCategoryValue:not(:last-child) {border-right:1px solid #dadada;}
#constructionTextList {}
#constructionTextList > .constructionTextItems {}
#constructionTextList > .constructionTextItems:not(:last-child) {}
#constructionTextList p {font-weight: 400;}

@media(min-width:1280px) {
  #ulfptcCoordiActIntroSearch {}
  #coordiInfo {padding-left:24px;font-size:16px;margin-top:29px;}
  #coordiConstruction {}
  #coordiConstruction > .textRight {font-size:14px;margin-top:26px;}
  #coordiConstTable {margin-top:12px;}
  #coordiConstTable .dataTables > table {display: table;border:0;}
  #coordiConstTable .dataTables > table > tbody {display: table-row-group;}
  #coordiConstTable .dataTables .tableRow {display: table-row;}
  #coordiConstTable .tableRow:nth-child(2) > .dataCategoryDepth_1[colspan="2"] {display: table-cell;}
  #coordiConstTable .tableRow td,
  #coordiConstTable .tableRow th {border:1px solid #dadada;}
  #coordiConstTable .dataCategoryDepth_1 {display:table-cell;float:none;}
  #coordiConstTable .dataCategoryDepth_1[rowspan="4"] {width:290px;display:table-cell;}
  #coordiConstTable .dataCategoryDepth_1:not([colspan="2"]) {width: auto;}
  #coordiConstTable .dataCategoryDepth_1[colspan="2"] {width:auto;}
  #coordiConstTable .dataCategoryDepth_2 {width:410px;display:table-cell;}
  #coordiConstTable .dataCategoryValue {width:165px;display:table-cell;float:none;}
  #coordiConstTable .dataCategoryValue:not([colspan="2"]),
  #coordiConstTable .dataCategoryValue:not([colspan="3"]) {width:auto;}
  #constructionTextList {margin-top:30px;padding-left:20px;}
  #constructionTextList > .constructionTextItems {}
  #constructionTextList > .constructionTextItems:not(:last-child) {margin-bottom:10px;}
  #constructionTextList p {font-size:16px;}
}
/* /ulfptcCoordiActIntroSearch.html */