@charset "utf-8";
.clear {clear: both;}
.clear::after {display:block;content:"";clear:both;}

/* header */
#header-wrapper{padding-top:120px;}
#headers {background:#fff;border-bottom:1px solid #d6dade;position: fixed;width:100%;top:0;left:0;z-index:1000;}

/* nav */
#navs > div {float:left;}
#navs > #logos,
#navs > #login-info {width: 320px;}
#navs > #logos {padding:30px 0 0 25px;}

#navs > #nav-wrapper {width: calc(100% - (320px * 2)); text-align:center;}
#navs > #nav-wrapper > #nav-lists {display:inline-block;} 
#navs > #nav-wrapper > #nav-lists > .nav-items {float:left;position: relative;padding:54px 13px 44px 13px;} 
#navs > #nav-wrapper > #nav-lists > .nav-items > a {font-size:19px;font-weight: bold;}
#navs > #nav-wrapper > #nav-lists > .nav-items > .sub-nav-list {position: absolute;z-index:1;left:0; right:0; margin:0 auto;top: 100%;display:none;}

#navs > #login-info {padding-top:57px;}
#navs > #login-info > #login-msg {display:inline-block;color:#696d75;font-weight: 600;transform: skew(-0.03deg);}
#navs > #login-info > #login-msg > span {color:#2c64cf;}
#navs > #login-info > #logout-btn {margin-left:15px;border:1px solid #d1d5da;color:#63666b;padding: 10px 16px;border-radius:20px;}

#sub-nav-bg {width:100%;height:300px;position:absolute;top:100%;left:0;background:#fff;border-top:1px solid #d6dade;border-bottom:1px solid #d6dade;display:none;}

/* pages */
.contents {position: relative;}
.subpage-contents {margin-top:80px;}
.conts-section {margin-bottom:75px;}

/* sub nav */
#subpage-navs {background-color:#f5f7f9;border-bottom:1px solid #e7e9ec;}
#subpage-nav-links > .subpage-nav-items {float:left;border-right:1px solid #e7e9ec;position:relative;}
#subpage-nav-links > .subpage-nav-items#sub-nav-home-link {border-left:1px solid #e7e9ec;} 
#subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a {line-height:49px;height:49px;font-size:15px;display:block; cursor:pointer;width:210px;padding-left:15px;}
#subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a.sub-nav-depths {background:url('/img/pbb/common/selector-down-arrow.png') no-repeat 190px center / auto;}
#sub-nav-home-link > a {background:url('/img/pbb/common/home-icon.png') no-repeat center / auto;display:block;width:49px;height:49px;}
#subpage-navs .sub-nav-selector {display:none;position:absolute;background-color:#f5f7f9;width:100%;left:0;top:100%;border:1px solid #e7e9ec; z-index:100;}
#subpage-navs .sub-nav-selector .select-links {display:block;height:49px;line-height:49px;padding-left:20px;}

/* sub nav dark skin */
#subpage-navs.sub-nav-dark {background-color:rgba(25,29,37,0.8);border-bottom:0;position: absolute;top:120px;left:0;width:100%;z-index: 2;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items#sub-nav-home-link {border-left:1px solid #6b6f75;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items {border-right:1px solid #6b6f75;}
#subpage-navs.sub-nav-dark #sub-nav-home-link > a {background-image:url('/img/pbb/common/home-icon-w.png')}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a {color:#fff;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a.sub-nav-depths {background-image:url('/img/pbb/common/selector-down-arrow-w.png')}

.subpage-title {margin-bottom:39px;}
.subpage-title > h3 {font-size:32px;font-weight: 600;color:#0c1e42;}
.subpage-cate-title {margin-bottom:15px;}
.subpage-cate-title > h4 {color:#0c1e42;font-weight: 600;font-size:22px;display:inline-block;}

/* chart popup */
.device-chart-pop {display:none;width:100%;height:100%;top:0;left:0;z-index:2;position: absolute;}
.device-chart-pop > .position-rel {width:100%;height:100%;}
.device-chart-pop > .position-rel > .device-chart-conts {width:50%;top:50%;left:50%;transform:translate(-50%, -50%);z-index:1;background-color:#fff;padding:50px;}
.device-chart-pop > .position-rel > .chart-pop-bg {width:100%;height:100%;top:0;left:0;position: absolute;background-color:rgba(0,0,0,0.5);cursor:pointer}

.chart-pop-title {position: relative;}
.chart-pop-title > h4 {font-size:26px; font-weight: 600;color:#0c1e42;padding-bottom:20px;border-bottom:1px solid #0c1e42;}
.chart-pop-close {display:inline-block; width: 20px; height: 20px; position: absolute; right: 0; top: 0; background: url('/img/pbb/common/gray-close.png') no-repeat center / auto; cursor: pointer; z-index: 1;}

.device-chart-body,
.modal-body.templateEl {overflow-x: hidden;}
.device-chart-scroll {height: 500px; overflow-y: scroll; width: calc(100% + 17px);padding:0 15px;border-bottom:1px solid #0c1e42;}
.device-chart-section {margin-top: 30px;}
.device-chart-section:last-child {margin-bottom: 30px;}
.device-chart-date-selector {text-align:right;margin-bottom:20px;}

.map-data.device-popup {width:600px;display:none;}
.device-data-table {width:100%;}
.device-data-table th {background-color:#f5f7f9;}
.device-data-table td,
.device-data-table th {border:1px solid #e6eaee;height: 50px;}
.device-data-table td > div,
.device-data-table th > div {}
.device-data-table td > div > p,
.device-data-table th > div > p {font-weight: 600;font-size: 15px;transform: skew(-0.03deg);}

.chart-sort-list,
.modal-tab-btn-list {margin-bottom:10px;}
.chart-sort-list > .chart-sort-items,
.modal-tab-btn-list > .modal-tab-btn-items {float:left;margin-right:20px;}
.chart-sort-items > a,
.modal-tab-btn-items > a {font-weight: 600;font-size:18px;display:inline-block;transform: skew(-0.03deg);position: relative;padding-bottom: 10px;}
.chart-sort-items > a.active,
.modal-tab-btn-items > a.active {color:#2c64cf;}
.chart-sort-items > a.active::after,
.modal-tab-btn-items > a.active::after {width: 100%; height: 2px; display: block; content: ""; background-color: #2c64cf; position: absolute; bottom: 0;}

.chart-area {}
.chart-category-list {margin-bottom: 10px;}
.chart-category-list > .chart-category-items {float:left;}
.chart-category-items > a {padding:7px 10px;font-weight: 600;display:inline-block;transform: skew(-0.03deg);border-radius: 15px;}
.chart-category-items > a.active {color:#fff;background-color:#2c64cf;}
.chart-init-el {height:300px;}

/* form components */
.date-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;background:#fff url('/img/pbb/common/selector-down-arrow.png') no-repeat calc(100% - 10px) center / auto;font-weight: 600;color:#696d75;}
.date-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.select-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;background:#fff url('/img/pbb/common/selector-down-arrow.png') no-repeat calc(100% - 10px) center / auto;font-weight: 600;color:#696d75;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}
.select-form > option {color:#696d75;font-weight: 600;font-size:15px;}
.select-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.checkbox-form {width:0;height:0;overflow: hidden;}
.checkbox-form + .checkbox-img {display:inline-block;width:22px; height:22px;border:1px solid #d6dade;border-radius: 3px;overflow:hidden;background-color:#fff;}
.checkbox-form:checked + .checkbox-img {background:url('/img/pbb/common/checked_img.png') no-repeat center / auto;}
.checkbox-label-text {display:inline-block;color:#696d75;font-size:15px;position: relative;top:-6px;font-weight: 600;transform: skew(-0.03deg);margin-left:10px;}
.checkbox-label {display:inline-block;padding:20px;border:1px solid #e6eaee;cursor:pointer;background-color:#f5f7f9;}

.btn {display:inline-block;font-size:16px;border:0;padding:0 75px;background-color:#596d93;color:#fff;cursor: pointer;height:45px;line-height: 45px;font-weight: 600;transition: all 0.3s ease-in-out}
.btn.btn-round {border-radius:30px;}
.modal-btn {padding:9px 15px;line-height:1;height:auto;background-color:#696d75;}
.modal-cancle-btn {padding:9px 15px;line-height:1;height:auto;background-color:transparent;border:1px solid #696d75;color:#696d75;}

.text-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;}
.text-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.radio-form {width:0;height:0;overflow: hidden;}
.radio-form + .radio-img {display:inline-block;width:22px;height:22px;border:1px solid #c7cbcf;border-radius: 50%;overflow: hidden;background-color:#fff;}
.radio-form:checked + .radio-img {border:6px solid #596d93;}
.radio-label-text {position: relative;top:-5px;display:inline-block;font-size:15px;color:#696d75;font-weight: bold;transform: skew(-0.03deg);}
.radio-label {cursor: pointer;display:inline-block;padding:10px 0;}

.file-form {width:0;height:0;overflow: hidden;}
.fileMsg {font-size: 14px;}

.select-form[disabled='disabled'],
.checkbox-form[disabled='disabled'],
.text-form[disabled='disabled'],
.radio-form[disabled='disabled'],
.btn[disabled='disabled'],
.file-form,
.checkbox-label[disabled='disabled'] {cursor: not-allowed;}

/* 조회 폼 */
.lookup-wrapper {background:#f5f7f9;padding:35px 60px 35px 70px;border:1px solid #e5e7e9;}
.lookup-forms {margin-bottom:15px;}
.lookup-forms:last-child {margin-bottom:0;}
.lookup-forms > div {float:left;}
.lookup-forms > div:not(:last-child) {margin-right: 40px;}
/* .lookup-forms > #point-selector {margin-right:60px;} */
.lookup-forms .date-form,
.lookup-forms .select-form,
.lookup-forms .text-form {width:180px;height:50px;line-height:50px;}
.lookup-forms .radio-label {padding:14px 0;}
.lookup-forms > .form-reference-btn {padding-left: 55px; border-left: 1px solid #d6dade;float:right;}
.lookup-forms .form-reference-btn > .btn {height:50px;line-height: 50px;}

#notice-search-form .lookup-forms #search-text {width:440px;}
#notice-search-form .lookup-forms > .form-reference-btn {padding:0;border:0;}

/* 카운터 테이블 */
.count-table {width:100%;margin-top:34px;}
.count-table th {background-color: #f5f7f9;}
.count-table th,
.count-table td {border:1px solid #e6eaee;}
.count-table th > div,
.count-table td > div{padding: 18px 0;}
.count-table th > div > p,
.count-table td > div > p {transform: skew(-0.03deg); color: #696d75; font-size: 15px; font-weight: 600;}

/* 게시글 리스트 */
.board-lists {}
.board-list-set {margin-bottom:34px;}
.board-list-set > .list-count {float:left;}
.board-list-set > .list-view-selector {float:right;}
.board-list-set > .list-view-selector > .select-form,
.board-list-set > .list-count > p {height:42px;line-height: 42px;}
.board-list-set > .list-count > p > #count-result {font-weight:900;}

.board-list-table-wrapper {}
.board-list-table-wrapper > table {width:100%;}

.board-list-table-wrapper th {background-color:#f5f7f9;}
.board-list-body td,
.board-list-body th,
.board-list-header td,
.board-list-header th {border:1px solid #e6eaee;height:50px;}

.board-list-body td > div,
.board-list-body th > div,
.board-list-header td > div,
.board-list-header th > div {padding:0 10px;position: relative;}

.board-list-body td p,
.board-list-body th p,
.board-list-header td p,
.board-list-header th p {padding:0 10px;transform: skew(-0.03deg);color:#696d75;font-size:15px;font-weight: 600;word-break: keep-all;}

.board-list-body td a:not(.btn),
.board-list-body th a:not(.btn),
.board-list-header td a:not(.btn),
.board-list-header th a:not(.btn) {transform: skew(-0.03deg);color:#696d75;font-size:15px;font-weight: 600;word-break: keep-all;text-decoration: underline;line-height:1.3;color:#2c64cf;}

.board-list-body {}
.tableLine:not(:last-child) {border-bottom:1px solid #e6eaee;}
.tableLine > p{height:50px;line-height: 50px;}

.pagenation-wrapper {margin-top:50px;}
.pagenation-wrapper a,
.pagenation-lists,
.pagenation-items {display:inline-block;}
.pagenation-lists {position: relative; top:-10px;}
.pagenation-wrapper a {width:30px;height:30px;line-height:30px;font-size:16px;color:#393d45;border-radius: 3px;transition:0.3s;}
.pagenation-items.active > a,
.pagenation-items > a:hover {background-color:#2c64cf;color:#fff;}
.pagenation-arrow.pagenation-prev {background: url('/img/pbb/common/gray-prev-arrow.png') no-repeat center / auto;}
.pagenation-arrow.pagenation-next {background: url('/img/pbb/common/gray-next-arrow.png') no-repeat center / auto;}

.board-write-btns {margin-top:80px;margin-bottom:34px;}
.board-write-btns > .btn {color:#fff;transform: skew(-0.03deg);background-color:#2c64cf;}

/* 수집 모달 */
.modals {position:fixed;width:100%;height:100vh;top:0;left:0;display:none;z-index:1001;}
.modal-bg {position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);cursor:pointer;}
.modal-content { width: 950px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: #fff; padding: 50px;max-height:calc(100% - 50px);overflow-y: auto;}
.modal-title {position: relative;}
.modal-title > h4 {font-size:26px; font-weight: 600;color:#0c1e42;padding-bottom:20px;border-bottom:1px solid #0c1e42;}
.modal-close {display:inline-block; width: 20px; height: 20px; position: absolute; right: 0; top: 0; background: url('/img/pbb/common/gray-close.png') no-repeat center / auto; cursor: pointer; z-index: 1;}
.modal-section {margin-top:30px;}
.modal-section:last-child {margin-bottom:30px;}
.modal-tables {width:100%;}
.device-details.clear > div {float:left;width:calc((100% / 2) - 15px)}
.device-details.clear > div:first-child {margin-right:30px;}
.modal-tables th {background-color:#f5f7f9;}

#modal-map {height:300px;}
.school-template-section #modal-map {height:338px;}
.industry-template-section #modal-map {height:377px;}

.alram-template-section .modal-tables th,
.alram-template-section .modal-tables td {height:65px;}
.school-template-section .modal-device-status th,
.school-template-section .modal-device-status td,
.industry-template-section .modal-device-status th,
.industry-template-section .modal-device-status td,
.subway-template-section .modal-device-status th,
.subway-template-section .modal-device-status td {height:40px;}
.modal-device-status:not(:last-child) {margin-bottom:22px;}
.modal-overflow-category {width:200px;}
.modal-overflow-data {width:calc(100% - 200px); overflow-x: scroll;}
.modal-overflow-data td div {width:100px;}
.modal-tab-content-items:not(.active) {display:none;}

/* 데이터 테이블 상태표시 */
.lookup-status {display:block;margin:0 auto;width:20px;height:20px;border-radius: 50%;}
.lookup-false {background-color:#ff0000;}
.lookup-success {background-color:#2fb227;}
.lookup-notsignal {background-color:#ff9600;}

/* page : view.html */
.board-views > table {width:100%;}
.board-views td,
.board-views th {border:1px solid #e6eaee;}
.board-views td > div,
.board-views th > div {padding:18px 20px;}
.board-views td div > p,
.board-views th div > p {font-size:15px; color:#696d75 ;font-weight:600;transform: skew(-0.03deg);}
.view-table-category {background-color:#f5f7f9;width:160px;}
.view-table-value {width:466px;}
#view-contents-wrapper {padding:40px;}
#view-contents {min-height:400px;}

.view-used-btn {margin-top:60px;}
.view-used-btn > .btn {display:inline-block;color:#696d75;background-color:transparent;border:1px solid #c6cace;margin:0 5px;transition:all 0.3s ease-in-out;transform: skew(-0.03deg);}
.view-used-btn > .btn:hover {color:#fff;background-color:#2c64cf;border:1px solid #2c64cf;}

/* footer */
#footers {height:240px;background-color:#191d25;}

