@charset "utf-8";
.clear {clear: both;}
.clear::after {display:block;content:"";clear:both;}

/* header */
#header-wrapper{padding-top:120px;}
#headers {background:#fff;border-bottom:1px solid #d6dade;position: fixed;width:100%;top:0;left:0;z-index:1000;}

/* nav */
#navs > #logos {position:absolute;top:50%;left:30px;transform: translateY(-50%);}
#navs > #login-info {position:absolute;top:50%;right:30px;transform: translateY(-50%);}

#nav-wrapper {text-align:center;}
#nav-wrapper > #nav-lists {} 
#nav-wrapper > #nav-lists > .nav-items {float:left;margin-top:25px;margin-bottom:25px;margin-right:40px;} 
#nav-wrapper > #nav-lists > .nav-items:last-child {margin-right:0;}
#nav-wrapper > #nav-lists > .nav-items > a {font-size:19px;font-weight: 900;position:relative;line-height:70px;display:block;}
#nav-wrapper > #nav-lists > .nav-items > a::after {display:block;content:'';position:absolute;bottom:0;left:0;right:0;height: 4px;margin:0 auto;background-color:#2c64cf;transition: all 0.3s ease-in-out;width:0;}
#nav-wrapper > #nav-lists > .nav-items > a:hover::after{width:100%;}
.sub-nav-wrapper {position: absolute;z-index:1;left:0; right:0; margin:0 auto;top: 100%;width:100%;background-color:#fff;border-top:1px solid #d6dade;padding:60px 0;display:none;}
.sub-nav-wrapper.active {z-index:2;}

.sub-nav-list {display:flex;flex-wrap: wrap;}
.sub-nav-items {float:left; text-align: left;margin-right:40px;width:calc((100% - (40px * 3)) / 4);margin-top:40px;}
.sub-nav-items:last-child,
.sub-nav-items:nth-child(4n){margin-right:0;}
.sub-nav-items:nth-child(1),
.sub-nav-items:nth-child(2),
.sub-nav-items:nth-child(3),
.sub-nav-items:nth-child(4){margin-top:0;}

.nav-depth-2-link {width: 100%; height: auto; display: block; position: relative; padding: 0 0 15px; color: #393d45; font-weight: 600; font-size: 18px; line-height: 30px; letter-spacing: -.5px;}
.nav-depth-2-link::before {width: 100%; height: 2px; display: block; content: ""; background-color: #e6eaee; position: absolute; bottom: 0; left: 0; z-index: 0;}
.nav-depth-2-link::after {width: 0; height: 2px; display: block; content: ""; background-color: #2c64cf; position: absolute; bottom: 0; left: 0; z-index: 1;transition: all 0.3s ease;}
.nav-depth-2-link:hover::after{width:100%;}

.nav-depth-3-list {margin-top:18px;}
.nav-depth-3-list > li:not(:last-child) {margin-bottom:10px;}
.nav-depth-3-list a {transition: all 0.3s ease-in-out;}
.nav-depth-3-list a:hover {color:#2c64cf;}

#login-info > #login-msg {display:inline-block;color:#696d75;font-weight: 600;transform: skew(-0.03deg);}
#login-info > #login-msg > span {color:#2c64cf;}
#login-info > #logout-btn {margin-left:15px;border:1px solid #d1d5da;color:#63666b;padding: 10px 16px;border-radius:20px;}

/* pages */
.contents {position: relative;}
.subpage-contents {margin-top:80px;}
.conts-section {margin-bottom:75px;}

/* sub nav */
#subpage-navs {background-color:#f5f7f9;border-bottom:1px solid #e7e9ec;}
#subpage-nav-links > .subpage-nav-items {float:left;border-right:1px solid #e7e9ec;position:relative;}
#subpage-nav-links > .subpage-nav-items#sub-nav-home-link {border-left:1px solid #e7e9ec;} 
#subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a {line-height:49px;height:49px;font-size:15px;display:block; cursor:pointer;min-width:210px;padding-left:15px;padding-right:40px;}
#subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a.sub-nav-depths {background:url('/img/pbb/common/selector-down-arrow.png') no-repeat calc(100% - 10px) center / auto;}
#sub-nav-home-link > a {background:url('/img/pbb/common/home-icon.png') no-repeat center / auto;display:block;width:49px;height:49px;}
#subpage-navs .sub-nav-selector {display:none;position:absolute;background-color:#f5f7f9;width:100%;left:0;top:100%;border:1px solid #e7e9ec; z-index:100;}
#subpage-navs .sub-nav-selector .select-links {display:block;height:49px;line-height:49px;padding-left:20px;}

/* sub nav dark skin */
#subpage-navs.sub-nav-dark {background-color:rgba(25,29,37,0.8);border-bottom:0;position: absolute;top:120px;left:0;width:100%;z-index: 2;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items#sub-nav-home-link {border-left:1px solid #6b6f75;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items {border-right:1px solid #6b6f75;}
#subpage-navs.sub-nav-dark #sub-nav-home-link > a {background-image:url('/img/pbb/common/home-icon-w.png')}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a {color:#fff;}
#subpage-navs.sub-nav-dark #subpage-nav-links > .subpage-nav-items:not(#sub-nav-home-link) > a.sub-nav-depths {background-image:url('/img/pbb/common/selector-down-arrow-w.png')}

.subpage-title {margin-bottom:39px;}
.subpage-title > h3 {font-size:32px;font-weight: 600;color:#0c1e42;}
.subpage-title > p.bolder-text {font-size:16px;color:#0c1e42;margin-top:15px;}
.subpage-cate-title {margin-bottom:15px;}
.subpage-cate-title > h4 {color:#0c1e42;font-weight: 600;font-size:22px;display:inline-block;}

/* tab */
.tab-nav-list {border:1px solid #c5c9cd;}
.tab-nav-list > .tab-nav-items {float:left;border-right: 1px solid #c5c9cd;}
.tab-nav-list > .tab-nav-items:last-child {border-right: 0;}
.tab-nav-list > .tab-nav-items > a {background-color: transparent; border: 0; padding: 16px 0; display: block;width:100%;font-weight: 600;transform: skew(-0.03deg); position: relative; cursor: pointer;transition: all 0.3s ease-in-out;}
.tab-nav-list > .tab-nav-items > a.active,
.tab-nav-list > .tab-nav-items > a:hover {color:#fff;background-color:#2c64cf;}

.tab-page-items:not(.active) {display:none;}
.tab-contents {min-height:400px;}

/* chart popup */
.device-chart-pop {display:none;width:100%;height:100%;top:0;left:0;z-index:2;position: absolute;}
.device-chart-pop > .position-rel {width:100%;height:100%;}
.device-chart-pop > .position-rel > .device-chart-conts {width:50%;top:50%;left:50%;transform:translate(-50%, -50%);z-index:1;background-color:#fff;padding:50px;}
.device-chart-pop > .position-rel > .chart-pop-bg {width:100%;height:100%;top:0;left:0;position: absolute;background-color:rgba(0,0,0,0.5);cursor:pointer}

.chart-pop-title {position: relative;}
.chart-pop-title > h4 {font-size:26px; font-weight: 600;color:#0c1e42;padding-bottom:20px;border-bottom:1px solid #0c1e42;}
.chart-pop-close {display:inline-block; width: 20px; height: 20px; position: absolute; right: 0; top: 0; background: url('/img/pbb/common/gray-close.png') no-repeat center / auto; cursor: pointer; z-index: 1;}

.device-chart-body,
.modal-body.templateEl {overflow-x: hidden;}
.device-chart-scroll {height: 500px; overflow-y: scroll; width: calc(100% + 17px);padding:0 15px;border-bottom:1px solid #0c1e42;}
.device-chart-section {margin-top: 30px;}
.device-chart-section:last-child {margin-bottom: 30px;}
.device-chart-date-selector {text-align:right;margin-bottom:20px;}

.map-data.device-popup {width:600px;display:none;}
.device-data-table {width:100%;}
.device-data-table th {background-color:#f5f7f9;}
.device-data-table td,
.device-data-table th {border:1px solid #e6eaee;height: 50px;}
.device-data-table td > div,
.device-data-table th > div {}
.device-data-table td > div > p,
.device-data-table th > div > p {font-weight: 600;font-size: 15px;transform: skew(-0.03deg);}

.chart-sort-list,
.modal-tab-btn-list {margin-bottom:10px;}
.chart-sort-list > .chart-sort-items,
.modal-tab-btn-list > .modal-tab-btn-items {float:left;margin-right:20px;}
.chart-sort-items > a,
.modal-tab-btn-items > a {font-weight: 600;font-size:18px;display:inline-block;transform: skew(-0.03deg);position: relative;padding-bottom: 10px;}
.chart-sort-items > a.active,
.modal-tab-btn-items > a.active {color:#2c64cf;}
.chart-sort-items > a.active::after,
.modal-tab-btn-items > a.active::after {width: 100%; height: 2px; display: block; content: ""; background-color: #2c64cf; position: absolute; bottom: 0;}

.chart-area {}
.chart-category-list {margin-bottom: 10px;}
.chart-category-list > .chart-category-items {float:left;}
.chart-category-items > a {padding:7px 10px;font-weight: 600;display:inline-block;transform: skew(-0.03deg);border-radius: 15px;}
.chart-category-items > a.active {color:#fff;background-color:#2c64cf;}
.chart-init-el {height:300px;}

/* form components */
.date-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;background:#fff url('/img/pbb/common/date-icon.png') no-repeat calc(100% - 10px) center / 15px;font-weight: 600;color:#696d75;}
.date-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.select-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;background:#fff url('/img/pbb/common/selector-down-arrow.png') no-repeat calc(100% - 10px) center / auto;font-weight: 600;color:#696d75;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
transform: skew(-0.03deg);
}
.select-form > option {color:#696d75;font-weight: 600;font-size:15px;}
.select-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.checkbox-form {width:0;height:0;overflow: hidden;}
.checkbox-form + .checkbox-img {display:inline-block;width:22px; height:22px;border:1px solid #d6dade;border-radius: 3px;overflow:hidden;background-color:#fff;}
.checkbox-form:checked + .checkbox-img {background:url('/img/pbb/common/checked_img.png') no-repeat center / auto;}
.checkbox-label-text {display:inline-block;color:#696d75;font-size:15px;position: relative;top:-6px;font-weight: 600;transform: skew(-0.03deg);margin-left:10px;}
.checkbox-label {display:inline-block;padding:20px;border:1px solid #e6eaee;cursor:pointer;background-color:#f5f7f9;}

.btn {display:inline-block;font-size:16px;border:0;padding:0 75px;background-color:#596d93;color:#fff;cursor: pointer;height:45px;line-height: 45px;font-weight: 600;transition: all 0.3s ease-in-out}
.btn.btn-round {border-radius:30px;}
.modal-btn {padding:9px 15px;line-height:1;height:auto;background-color:#696d75;}
.modal-cancle-btn {padding:9px 15px;line-height:1;height:auto;background-color:transparent;border:1px solid #696d75;color:#696d75;}

.text-form {display:inline-block;width:180px; height:42px; line-height: 42px;font-size:15px;border-radius: 4px;padding-left:15px;border:1px solid #d6dade;}
.text-label {color:#696d75; font-size:15px;font-weight:bold;transform: skew(-0.03deg);display:inline-block;margin-right:15px;}

.radio-form {width:0;height:0;overflow: hidden;}
.radio-form + .radio-img {display:inline-block;width:22px;height:22px;border:1px solid #c7cbcf;border-radius: 50%;overflow: hidden;background-color:#fff;}
.radio-form:checked + .radio-img {border:6px solid #596d93;}
.radio-label-text {position: relative;top:-5px;display:inline-block;font-size:15px;color:#696d75;font-weight: bold;transform: skew(-0.03deg);}
.radio-label {cursor: pointer;display:inline-block;padding:10px 0;}

.file-form {width:0;height:0;overflow: hidden;}
.fileMsg {font-size: 14px;}

.textarea-form {resize: none;padding:16px;border-radius: 3px;border:1px solid #c5c9cd;min-height:140px;width: 100%;display:block;}

.select-form[disabled='disabled'],
.checkbox-form[disabled='disabled'],
.text-form[disabled='disabled'],
.radio-form[disabled='disabled'],
.btn[disabled='disabled'],
.file-form,
.checkbox-label[disabled='disabled'] {cursor: not-allowed;}

.text-division {display:inline-block; width: 9px;}

/* 카테고리 */
.board-category-wrapper {padding:35px 60px 35px 70px;background-color:#f5f7f9;border:1px solid #e5e7e9;}
.board-category-wrapper .slick-slide {height:auto;}
.board-category-links {display:block;outline: none;}
.board-category-icons {display:block;width:40px;height:40px;margin:0 auto;border-radius: 50%;}
.board-category-names {margin-top:20px;font-weight: 600;transform: skew(-0.03deg);color:#696d75;}
.board-category-wrapper .slick-prev,
.board-category-wrapper .slick-next {width: 30px; height: 30px; border-radius: 50%; transition: 0.3s;}
.board-category-wrapper .slick-prev:before, 
.board-category-wrapper .slick-next:before {content: ''; }
.board-category-wrapper .slick-prev {background: url('/img/pbb/common/gray-prev-arrow.png') no-repeat center / auto;}
.board-category-wrapper .slick-next {background: url('/img/pbb/common/gray-next-arrow.png') no-repeat center / auto;}

/* 조회 폼 */
.lookup-wrapper {background:#f5f7f9;padding:35px 60px 35px 70px;border:1px solid #e5e7e9;}
.lookup-forms {margin-bottom:15px;}
.lookup-forms:last-child {margin-bottom:0;}
.lookup-forms > div {float:left;}
.lookup-forms > div:not(:last-child) {margin-right: 40px;}
/* .lookup-forms > #point-selector {margin-right:60px;} */
.lookup-forms .date-form,
.lookup-forms .select-form,
.lookup-forms .text-form {width:180px;height:50px;line-height:50px;}
.lookup-forms .radio-label {padding:14px 0;}
.lookup-forms > .form-reference-btn {padding-left: 55px; border-left: 1px solid #d6dade;float:right;}
.lookup-forms .form-reference-btn > .btn {height:50px;line-height: 50px;}

.board-search-form .lookup-forms > .search-date {margin-right: 0;}
.board-search-form .lookup-forms > .search-subject {margin:0 20px;}
.board-search-form .lookup-forms .search-text {width:440px;}
.board-search-form .lookup-forms > .form-reference-btn {padding:0;border:0;}
.board-search-form .search-date .date-form {width:130px;}
.board-search-form .search-chb .checkbox-label {padding:13px 0px;border:0;}

.board-search-form.search-skin-2 .lookup-forms > .search-subject {margin-right:0;}
.board-search-form.search-skin-2 .search-date .date-form {width:190px;}

.board-search-form.search-skin-3 .lookup-forms > .search-subject {margin:0 auto;}

/* 카운터 테이블 */
.count-table {width:100%;margin-top:34px;}
.count-table th {background-color: #f5f7f9;}
.count-table th,
.count-table td {border:1px solid #e6eaee;}
.count-table th > div,
.count-table td > div{padding: 18px 0;}
.count-table th > div > p,
.count-table td > div > p {transform: skew(-0.03deg); color: #696d75; font-size: 15px; font-weight: 600;}

/* 게시글 리스트 */
.board-lists {}
.board-list-set {margin-bottom:34px;}
.board-list-set > .list-count {float:left;}
.board-list-set > .list-view-selector {float:right;}
.board-list-set > .list-view-selector > .select-form,
.board-list-set > .list-count > p {height:42px;line-height: 42px;}
.board-list-set > .list-count > p > #count-result {font-weight:900;}

.board-list-table-wrapper {}
.board-list-table-wrapper > table {width:100%;}

.board-list-table-wrapper th {background-color:#f5f7f9;}
.board-list-body td,
.board-list-body th,
.board-list-header td,
.board-list-header th {border:1px solid #e6eaee;height:50px;}

.board-list-body td > div,
.board-list-body th > div,
.board-list-header td > div,
.board-list-header th > div {padding:10px;position: relative;}

.board-list-body td p,
.board-list-body th p,
.board-list-header td p,
.board-list-header th p {padding:0 10px;transform: skew(-0.03deg);color:#696d75;font-size:15px;font-weight: 600;word-break: keep-all;}

.board-list-body td a:not(.btn),
.board-list-body th a:not(.btn),
.board-list-header td a:not(.btn),
.board-list-header th a:not(.btn) {transform: skew(-0.03deg);color:#696d75;font-size:15px;font-weight: 600;word-break: keep-all;text-decoration: underline;line-height:1.3;color:#2c64cf;}
.list-empty .list-empty-text {padding:70px 0;} 

.board-list-body {}
.board-list-download {width:18px;height:18px;display:block;margin:0 auto;background:url('/img/pbb/common/download-icon.png') no-repeat center / auto}
.tableLine {padding-top:20px !important;padding-bottom:20px !important;}
.tableLine:not(:last-child) {border-bottom:1px solid #e6eaee;}
/* .tableLine > p{height:50px;line-height: 50px;} */

/* 게시판 스킨2 */
.view2-header {padding:37px 22px;border-top:1px solid #999da5; border-bottom:1px solid #999da5;}
.fileInputs > .bolder-text {margin-right:80px;color:#696d75;}
.view2-header .fileInputs {margin-right:20px;}
.view2-header .fileLists {margin-right:30px;}
.view2-header .fileText {margin-top:4px;}
.view2-header .fileLists,
.view2-header .fileMsg {margin-top: 0;}
.view2-header .file-label {display:inline;}

.view2-wrapper {padding:40px;}
.view2-wrDatetime {margin-bottom:10px;}
.view2-contents {min-height: 400px;}
.view2-contents img {max-width: 100%; height: auto !important;}

/* 썸네일 게시판 스킨 */
.thumb-board-list > .thumb-list-items {float: left; width: calc((100% - (10px * 3)) / 4); margin-right: 10px; margin-bottom:40px;}
.thumb-board-list > .thumb-list-items:nth-child(4n) {margin-right:0;}
.thumb-imgs {position: relative;overflow: hidden;padding-bottom: 56.26%;background-color:#f5f7f9;}
.thumb-imgs > a {display:block;width:100%;height:100%;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);}
.thumb-imgs img {width:100%;}
.thumb-list-info {margin-top:20px;}
.thumb-wr-subject {font-size:19px;font-weight: 600;margin-bottom:15px;}
.thumb-wr-source {margin-bottom:10px;}
.thumb-wr-datetime {margin-bottom:10px;}
.thumb-wr-hit {}

/* 서비스 소개 보기 스킨 */
.service-view-body > .clear > div {width: calc(50% - 10px);}
.service-view-img > img {width:100%;}
.service-skin-table {width:100%;}
.service-skin-table th {background-color:#f5f7f9;}
.service-skin-table th,
.service-skin-table td {border:1px solid #e5e9ed;color:#696d75;}
.service-skin-table th > div,
.service-skin-table td > div {padding:19px 15px;}
.service-skin-table th > div > p,
.service-skin-table td > div > p {line-height:1.4;}

/* 서비스 소개 글쓰기 스킨 */
.service-write-body {border-top:1px solid #999da5;border-bottom:1px solid #999da5;}
.service-write-form > table {width:100%;}
.service-write-lines:not(:last-child) {border-bottom:1px solid #e5e9ed;}
.service-write-lines > th > .service-write-category {padding:0 20px;font-size:16px;color:#696d75;}
.service-write-lines > td > .service-write-value {padding:20px 0;display:block;font-size:16px;color:#696d75;}
.service-write-lines > td[colspan='3'] .text-form:not(.date-form) {width:80%;}
.service-write-lines > td .wr_name,
.service-write-lines > td .wr_date {display: inline-block; height: 42px; line-height: 42px; font-size: 15px; border-radius: 4px; padding:0 15px;border: 1px solid #d6dade;background-color:#f5f7f9;}
.service-write-lines > td .file-label {margin-right: 20px;}
.service-write-lines > td .fileLists {margin-right: 50px;}
.service-write-lines > td .radio-label {margin-right: 30px;}

/* 아코디언 리스트 */
.accordion-link-items {display:block;width:100%;}
.accordion-content-items {}

/* 페이저 */
.pagenation-wrapper {margin-top:50px;}
.pagenation-wrapper a,
.pagenation-lists,
.pagenation-items {display:inline-block;}
.pagenation-lists {position: relative; top:-10px;}
.pagenation-wrapper a {width:30px;height:30px;line-height:30px;font-size:16px;color:#393d45;border-radius: 3px;transition:0.3s;}
.pagenation-items.active > a,
.pagenation-items > a:hover {background-color:#2c64cf;color:#fff;}
.pagenation-arrow.pagenation-prev {background: url('/img/pbb/common/gray-prev-arrow.png') no-repeat center / auto;}
.pagenation-arrow.pagenation-next {background: url('/img/pbb/common/gray-next-arrow.png') no-repeat center / auto;}

.board-write-btns {margin-top:80px;margin-bottom:34px;}
.board-write-btns > .btn {color:#696d75;transform: skew(-0.03deg);background-color:#fff;border:1px solid #c6cace;transition: all 0.3s ease-in-out;}
.board-write-btns > .btn:hover {color: #fff; background-color: #2c64cf; border: 1px solid #2c64cf;}

/* 수집 모달 */
.modals {position:fixed;width:100%;height:100vh;top:0;left:0;display:none;z-index:1001;}
.modal-bg {position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);cursor:pointer;}
.modal-content { width: 950px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; background-color: #fff; padding: 50px;max-height:calc(100% - 50px);overflow-y: auto;}
.modal-title {position: relative;}
.modal-title > h4 {font-size:26px; font-weight: 600;color:#0c1e42;padding-bottom:20px;border-bottom:1px solid #0c1e42;}
.modal-close {display:inline-block; width: 20px; height: 20px; position: absolute; right: 0; top: 0; background: url('/img/pbb/common/gray-close.png') no-repeat center / auto; cursor: pointer; z-index: 1;}
.modal-section {margin-top:30px;}
.modal-section:last-child {margin-bottom:30px;}
.modal-tables {width:100%;}
.device-details.clear > div {float:left;width:calc((100% / 2) - 15px)}
.device-details.clear > div:first-child {margin-right:30px;}
.modal-tables th {background-color:#f5f7f9;}

#modal-map {height:300px;}
.school-template-section #modal-map {height:338px;}
.industry-template-section #modal-map {height:377px;}

.alram-template-section .modal-tables th,
.alram-template-section .modal-tables td {height:65px;}
.school-template-section .modal-device-status th,
.school-template-section .modal-device-status td,
.industry-template-section .modal-device-status th,
.industry-template-section .modal-device-status td,
.subway-template-section .modal-device-status th,
.subway-template-section .modal-device-status td {height:40px;}
.modal-device-status:not(:last-child) {margin-bottom:22px;}
.modal-overflow-category {width:200px;}
.modal-overflow-data {width:calc(100% - 200px); overflow-x: scroll;}
.modal-overflow-data td div {width:100px;}
.modal-tab-content-items:not(.active) {display:none;}

/* 데이터 테이블 상태표시 */
.lookup-status {display:block;margin:0 auto;width:20px;height:20px;border-radius: 50%;}
.lookup-false {background-color:#ff0000;}
.lookup-success {background-color:#2fb227;}
.lookup-notsignal {background-color:#ff9600;}

/* page : view.html */
.board-views #view-contents > div > * {transform: skew(-0.03deg);white-space: pre-wrap;}
.board-views > table {width:100%;}
.board-views td,
.board-views th {border:1px solid #e6eaee;}
.board-views td > div,
.board-views th > div {padding:18px 20px;}
.board-views td div > p,
.board-views th div > p {font-size:15px; color:#696d75 ;font-weight:600;transform: skew(-0.03deg);}
.board-view-tables > table {width:100%;}
.board-views .board-view-tables a:not(.btn) {display:inline-block;transform: skew(-0.03deg); color: #696d75; font-size: 15px; font-weight: 600; word-break: keep-all; text-decoration: underline; line-height: 1.3; color: #2c64cf;}
.view-table-category {background-color:#f5f7f9;width:160px;}
/* .view-table-value {width:466px;} */
#view-contents-wrapper {padding:40px;}
#view-contents {min-height:400px;}
#view-contents img {max-width: 100%;height:auto !important;}

.board-view-comments {margin-top:40px;}
.board-view-comments table {width:100%;}
.comment-area {width:calc(100% - 220px);}
.comment-view-area {width:100%;}
.comment-submit {width:200px;}
.comment-form {display:block;width:100%;height:100px;padding:10px; resize:none;border:1px solid #c6cace;}
.comment-view {width:100%;padding:10px; resize:none;border:1px solid #c6cace;white-space: pre-wrap;min-height:100px;}
.comment-submit-btn {height:45px;display:block;padding:0;width:100%; border-radius: 4px;transition: all 0.3s ease-in-out;color:#696d75;background-color:transparent;border:1px solid #c6cace;}
.comment-submit-btn.comment-cancle-btn {margin-top:10px;}
.comment-submit-btn:hover {background-color:#2c64cf;color:#fff;border:1px solid #2c64cf;}

.board-next-prev-link {margin-top:40px;}
.board-next-prev-link > table {width:100%;}
.board-next-prev-link a {font-size: 15px; color: #696d75; font-weight: 600; transform: skew(-0.03deg);display:inline-block;}
.link-category {display:block;background-size:auto;background-repeat: no-repeat;background-position-x: left;padding-left:25px;}
.prev-link-category {background-image:url('/img/pbb/common/gray-up-arrow.png');background-position-y: 30%;}
.next-link-category {background-image:url('/img/pbb/common/gray-down-arrow.png');background-position-y: 60%;}

.view-used-btn {margin-top:60px;}
.view-used-btn > .btn {display:inline-block;color:#696d75;background-color:transparent;border:1px solid #c6cace;margin:0 5px;transition:all 0.3s ease-in-out;transform: skew(-0.03deg);}
.view-used-btn > .btn:hover {color:#fff;background-color:#2c64cf;border:1px solid #2c64cf;}

/* page : write.html */
.board-write > table {width:100%;}
.board-write td,
.board-write th {border:1px solid #e6eaee;}
.board-write td > div,
.board-write th > div {padding:18px 20px;}
.board-write td div > p,
.board-write th div > p {font-size:15px; color:#696d75 ;font-weight:600;transform: skew(-0.03deg);}
.board-write .text-form {height: 34px; line-height: 34px;font-weight: 600;}
.board-write .wr-name,
.board-write .wr-datetime {width:50%;}
.board-write .wr-subject {width:80%;}
.board-write .wr-content {width:100%;resize:none;min-height:400px;padding:10px;}
.board-write .wr-source {width: 100%;}
.fileLists {margin-top:20px;font-size:14px;}
.fileLists > .fileItems {margin-bottom:5px;}
.fileLists > .fileItems > p {word-break: break-all;font-weight: 600;font-size: 14px;transform: skew(-0.03deg);color:#696d75;}
.fileLists > .fileItems:last-child {margin-bottom: 0;}
.fileLists > .fileItems .fileNames {padding-left:20px;background-image:url('/img/pbb/common/file-navy-icon.png');background-size:auto;background-repeat: no-repeat;background-position-x: left;background-position-y: 0;position: relative;display:inline-block;}
.fileLists > .fileItems .deleteBtn {border:0;width:15px;height:15px;display:inline-block;cursor: pointer;position: relative;top: 2px;background:#596d93 url('/img/pbb/common/bright-close.png') no-repeat center / 9px;margin-left:4px;}
.fileMsg {color:#696d75;margin-top:20px;font-size:14px;font-weight: 600;transform: skew(-0.03deg);}
.board-write .wr-notice-label {padding:0;background:none;border:0;}

.write-table-category {background-color:#f5f7f9;width:160px;}
.write-table-value {width:466px;}
#write-contents-wrapper {padding:40px;}
#write-contents {min-height:400px;}

/* map popup */
#pop-map {height:400px;}

/* footer */
#footers {height:240px;background-color:#191d25;}

