@charset "utf-8";
/* page : main.html */
/* class */
.section-title {margin-bottom:45px;}
.section-title > .title-text {font-size:32px;font-weight: 1000;margin-bottom:25px;color:#0c1e42;}
.section-title > .title-date {font-size:17px;color:#393d45;}
.data-category-lists > .data-category-items {float:left;width:calc((100% - (10px * 3)) / 4);margin-right:10px;}
.data-category-lists > .data-category-items:last-child {margin-right:0;}
.data-category-lists > .data-category-items > .data-conts {}
.data-category-lists > .data-category-items > .data-conts > div{position:relative;}
.data-category-lists > .data-category-items > .data-conts .data-graph {margin-bottom:30px;}
.data-category-lists > .data-category-items > .data-conts .data-link > h3 {color:#191d25;font-weight: 600;font-size:24px;letter-spacing: -2px;}

/* 메인 비주얼 */
#main-visual.sections {padding:0;}
#main-visual-conts {height:880px;overflow-y: hidden;max-width: 1978px;margin: 0 auto;}
#main-visual-conts > div{float:left; height:100%;}
#main-visual-conts > #map-wrap {width:calc(100% - 655px)}
#main-visual-conts > #map-wrap > #map{width:100%;height:100%;}

#service-state {width:655px;background:#fff;box-shadow: 0px 5px 23px 3px rgba(0,0,0,0.5);position:relative;z-index:1;border-bottom:1px solid #d6dade;padding:20px 25px;}
#service-state > #service-conts {position: relative;padding-top:50px;}

#service-state > #service-conts > #state-info {position: absolute;top:0;right:0;}
#service-state > #service-conts > #state-info > a {border:0;background-color:transparent; color:#696d75;cursor:pointer;line-height: 1;padding:0;}
#service-state > #service-conts > #state-info > a > span {display:inline-block;}
#service-state > #service-conts > #state-info > a > span:not(#info-icon) {position: relative;top:1px;}
#service-state > #service-conts > #state-info > a > span#info-icon {width:20px;height:20px;color:#fff;background:#c6cace;border-radius:50%;line-height: 20px;font-weight: 900;}

#service-state > #service-conts > #service-tabs {margin-top:45px;padding:0 42px;}
#service-state > #service-conts > #service-tab-list {}
#service-state > #service-conts #service-tab-list > .service-tab-items {float:left;margin-right:21px;}
#service-state > #service-conts #service-tab-list > .service-tab-items:last-child {margin-right:0;}
#service-state > #service-conts #service-tab-list > .service-tab-items > a {background-color:transparent;border:0;padding:0;color:#696d75;font-size:16px;transform: skew(-0.03deg);font-weight:600;display:inline-block;cursor:pointer;position:relative;padding-bottom:10px;}
#service-state > #service-conts #service-tab-list > .service-tab-items > a.active {color:#2c64cf;}
#service-state > #service-conts #service-tab-list > .service-tab-items > a.active::after {width: 100%;height: 4px;display: block;content: "";background-color: #2c64cf;position: absolute;bottom: 0;}
#service-state > #service-conts #service-tab-pages {margin-top:30px;}
#service-state > #service-conts #service-tab-pages > .service-page-items:not(.active) {display:none;}

#service-state .service-page-header > .service-installation .service-installation-items {outline:none;}
#service-state .slick-prev {left:-30px;}
#service-state .slick-next {right:-30px;}
#service-state .slick-prev, 
#service-state .slick-next {width:30px; height:30px;border-radius: 50%;transition:0.3s;}
#service-state .slick-prev {background:url('/img/pbb/common/gray-prev-arrow.png') no-repeat center / auto}
#service-state .slick-next {background:url('/img/pbb/common/gray-next-arrow.png') no-repeat center / auto}
#service-state .service-page-header:hover .slick-prev {background:#393d45 url('/img/pbb/common/white-prev-arrow.png') no-repeat center / auto}
#service-state .service-page-header:hover .slick-next {background:#393d45 url('/img/pbb/common/white-next-arrow.png') no-repeat center / auto}
#service-state .slick-prev:before,
#service-state .slick-next:before {content:'';}
#service-state .service-page-header > .service-installation .service-installation-items > a {display:block;outline:none;cursor:pointer;color:#696d75;font-size:15px;transform:skew(-0.03deg);font-weight: 600;padding:10px 0;border-radius: 20px;width:calc(100% - 3px);}
#service-state .service-page-header > .service-installation .service-installation-items > a.active {color:#fff;background:#2c64cf;}

#service-state .service-page-conts {margin-top:50px;}
.category-status-list {float:left;width:calc((100% - (20px * 2)) / 3);margin-right:20px;}
.category-status-list:last-child {margin-right:0;}
.category-status-list > .status-response {padding:25px 0;border-radius: 10px;}

.category-status-list > .status-response > .status-icons {width:84px;height:84px;background:#fff;margin:0 auto;border-radius:50%;background-position:center;background-repeat: no-repeat;background-size:auto;position:relative;}
.category-status-list > .status-response > .status-response-text {margin-top:19px;font-weight:600;transform:skew(-0.03deg)}
.category-status-list > .status-response > .status-response-text > p:nth-child(1) {font-size:16px;}
.category-status-list > .status-response > .status-response-text > p:nth-child(2) {font-size:22px;margin-top:9px;}

.category-status-list > .status-response.operation-response[data='true'] {background-color:#dff7de;}
.category-status-list > .status-response.operation-response[data='true'] > .status-icons {background-image:url('/img/pbb/service-icon/operation-icon.png');background-position: 47% 47%;}
.category-status-list > .status-response.operation-response[data='true'] > .operation-status-text {color:#266c22;}

.category-status-list > .status-response.purifier-response {background-color:#d9f6ff;}
.category-status-list > .status-response.purifier-response > .status-icons {background-image:url('/img/pbb/service-icon/purifier-icon.png');}
.category-status-list > .status-response.purifier-response > .purifier-status-text {color:#2b5d96;}

.category-status-list > .status-response.fog-response {background-color:#d9f6ff;}
.category-status-list > .status-response.fog-response > .status-icons {background-image:url('/img/pbb/service-icon/fog-icon.png');}
.category-status-list > .status-response.fog-response > .fog-status-text {color:#2b5d96;}

.category-status-list > .status-response.conditioner-response {background-color:#d9e7ff;}
.category-status-list > .status-response.conditioner-response > .status-icons {background-image:url('/img/pbb/service-icon/air-conditioner-icon.png');}
.category-status-list > .status-response.conditioner-response > .conditioner-status-text {color:#2b4d96;}

.category-status-list > .status-response.fix-device-response {background-color:#fce5dc;}
.category-status-list > .status-response.fix-device-response > .status-icons {}
.category-status-list > .status-response.fix-device-response > .status-icons > #water-pressures {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#2c64cf;font-size:15px;font-weight: 600;}
.category-status-list > .status-response.fix-device-response > .status-icons #water-pressure-percentage {font-size:30px;font-weight: 900;margin-top:7px;}
.category-status-list > .status-response.fix-device-response > #fix-device-status-text {color:#7a4f3e;}

#service-state .service-tab-info {margin-top:40px;}
#service-state .service-tab-info > .service-tab-info-list {float:left; width: calc((100% - 20px) / 2); margin-right: 20px;}
#service-state .service-tab-info > .service-tab-info-list:last-child {margin-right:0;}
#service-state .service-tab-info > .service-tab-info-list > .device-info-link {border-radius: 10px;padding:30px;height:240px;overflow:hidden;background-position:center;background-repeat: no-repeat;background-size: auto;display:block;box-sizing: border-box;cursor:pointer;}
#service-state .service-tab-info > .service-tab-info-list > .device-info-link > p {color:#fff;font-size:20px;line-height:1.4}
#service-state .service-tab-info > .service-tab-info-list > .device-info-link > .link-icons {display:inline-block;width:28px;height:28px;border-radius: 50%;margin-top:20px;background:#717178 url('/img/pbb/common/dark-right-arrow.png') no-repeat center / auto;}

#service-state .service-tab-info#school-road-device > .school-road-device-list > .device-info-link#school-road-device-link {background-image:url('/img/pbb/service-icon/device-link-bg-01.png')}
#service-state .service-tab-info#school-road-device > .school-road-device-list > .device-info-link#purifier-device-link {background-image:url('/img/pbb/service-icon/device-link-bg-02.png')}

#service-state .service-tab-info#dust-device > .dust-device-list > .device-info-link#dust-measure-device {background-image:url('/img/pbb/service-icon/device-link-bg-01.png')}
#service-state .service-tab-info#dust-device > .dust-device-list > .device-info-link#dust-control-device {background-image:url('/img/pbb/service-icon/device-link-bg-02.png')}

#service-state .service-tab-info#subway-air-device > .subway-device-list > .device-info-link#waiting-room-device-link {background-image:url('/img/pbb/service-icon/device-link-bg-01.png')}
#service-state .service-tab-info#subway-air-device > .subway-device-list > .device-info-link#lift-device-link {background-image:url('/img/pbb/service-icon/device-link-bg-02.png')}

#service-state .service-tab-info#town-alram-device > .town-alram-device-list > .device-info-link#dust-alram-device-link {background-image:url('/img/pbb/service-icon/device-link-bg-01.png')}


#service-state #device-pop {background-color:#191d25;width:calc(100% - 7px);height:100%;position:absolute;right:0;top:0;padding:28px;color:#f4f8fb;display:none;}
#service-state #device-pop > #device-pop-layer {position: relative;padding:52px 35px;}
#service-state #device-pop > #device-pop-layer > #device-pop-close {display:inline-block;width:20px;height:20px;position:absolute;right:0;top:0;background:url('/img/pbb/common/bright-close.png') no-repeat center / auto;cursor:pointer;z-index:1;}

#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-pop-titles > h3 {font-size:24px;line-height:52px;padding-left:75px;margin-bottom:20px;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table {width:100%;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table td, 
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table th {border:1px solid #393d45;height:42px;background:none;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table th p {transform:rotate(-0.03deg);}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table th.text-left {padding-left:20px;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table th.data-table-category {background-color:#15181f; color:#99b4e2;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table .data-status {display:inline-block;width:12px;height:12px;border-radius: 50%;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table .status-true {background-color:#04ba6f;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts .device-data-table .status-false {}

#service-state #device-pop > #device-pop-layer > #device-pop-conts > #school-device-pop-datas > .device-pop-titles > h3 {background:url('/img/pbb/service-icon/device-pop-icon-01.png') no-repeat center left / auto;}


#service-state #device-pop > #device-pop-layer > #device-pop-conts > #purifier-pop-datas {margin-top:80px;}
#service-state #device-pop > #device-pop-layer > #device-pop-conts > #purifier-pop-datas > .device-pop-titles > h3 {background:url('/img/pbb/service-icon/device-pop-icon-02.png') no-repeat center left / auto;}

/* 데이터수집/처리현황 */
#data-state {background:#f4f8fb;}
#data-collection-lists .data-category-items {box-shadow: 8px 4px 16px rgba(0,0,0,0.1);}
#data-collection-lists .data-conts {border:1px solid #e6eaee;padding:50px 30px;background:#fff;}
#data-collection-lists .data-link > h3 {margin-bottom:17px;}
#data-collection-lists .data-link > a {display:inline-block;border:1px solid #d1d5da;color:#63666b;padding:10px 20px;border-radius: 20px;transition:0.3s;font-weight:600;}
#data-collection-lists .data-link > a:hover {color:#fff;background:#393d45;border:1px solid #393d45;}

/* 시민용 포털 데이터 처리 현황 */
#user-data-state .data-category-items:nth-child(odd) > .data-conts {background-color:#f9f7f3;}
#user-data-state .data-category-items:nth-child(even) > .data-conts {background-color:#eef4f9;}
#user-data-state .data-conts {padding:55px 45px 40px 45px;}
#user-data-state .data-link {margin-top:25px;}
#user-data-state .potal-data-links {width:80%;margin:40px auto 0;}
#user-data-state .potal-request {float:left;}
#user-data-state .potal-response {float:right;}
#user-data-state .potal-data-links span {display: inline-block; font-size:21px; color:#0c1e42;}
#user-data-state .potal-data-links a {font-weight: 1000; display: inline-block;margin-left: 10px; font-size:30px; transition:0.3s;position: relative; top: 2px;}
#user-data-state .data-category-items:nth-child(odd) .potal-data-links a {color:#d5b98e;}
#user-data-state .data-category-items:nth-child(even) .potal-data-links a {color:#80a9d7;}
#user-data-state .potal-data-links a:hover {color:#2c64cf !important;text-decoration: underline;}

/* 방문자 현황 */
#visitor-state {background:#f4f8fb;}
#visitor-state #visitor-nav-list .visitor-nav-items {float:left;margin-right:20px;}
#visitor-state #visitor-nav-list .visitor-nav-items:last-child {margin-right:0;}
#visitor-state #visitor-nav-list .visitor-nav-items > a {background-color:transparent;border:0;padding:0;display:inline-block;font-size:21px;font-weight: 1000;position: relative;cursor: pointer;padding-bottom:10px;}
#visitor-state #visitor-nav-list .visitor-nav-items > a.active {color:#2c64cf;}
#visitor-state #visitor-nav-list .visitor-nav-items > a.active::after {width:100%;height:4px;display:block;content:"";background-color:#2c64cf;position:absolute;bottom:0;}

#visitor-state #visitor-chart-header {margin-top:40px;}
#visitor-state #tab-contents {}
#visitor-state #tab-contents .tab-cont-items:not(.active) {display:none;}

#visitor-state #visitor-chart-header > #visitor-sort-list {float:left;}
#visitor-state #visitor-chart-header > #visitor-icon-list {float:right;margin-top:10px;}
#visitor-state #visitor-chart-header > #visitor-sort-list > .visitor-sort-items,
#visitor-state #visitor-chart-header > #visitor-icon-list > .visitor-icon-items {float:left;}
#visitor-state #visitor-chart-header > #visitor-sort-list > .visitor-sort-items > a {background-color:transparent;border:0;padding:0;cursor:pointer;color:#696d75;display:inline-block;padding:11px 16px 10px 16px;border-radius: 23px;transition:0.3s;font-size:17px;line-height:1;font-weight: 600;}
#visitor-state #visitor-chart-header > #visitor-sort-list > .visitor-sort-items > a.active {color:#fff; background:#2c64cf;}

#visitor-state #visitor-icon-list .visitor-icon-items {font-size:15px;margin-left:20px;color:#999da5;font-weight: 600;transform:skew(-0.03deg)}
#visitor-state #visitor-icon-list .visitor-icon-items:first-child {margin-left:0}
#visitor-state #visitor-icon-list .visitor-icon-items > span {display:inline-block;}
#visitor-state #visitor-icon-list .visitor-icon-items > .chart-color {width:10px;height:10px;}
#visitor-state #visitor-icon-list .visitor-icon-items > .chart-color#visitor {background-color:#006ddb;}
#visitor-state #visitor-icon-list .visitor-icon-items > .chart-color#re-visitor {background-color:#3ccc7c;}
#visitor-state #visitor-icon-list .visitor-icon-items > .chart-color#new-visitor {background-color:#ffbc60;}

#visitor-state #visitor-charts {height:400px;margin-top:26px;background:#fff;}

#visitor-state #visitor-data-lists {margin-top:40px;}
#visitor-state .data-category-lists > .data-category-items {width: calc((100% - (10px * 2)) / 3);}
#visitor-state .data-category-items {box-shadow: 8px 4px 16px rgba(0,0,0,0.1);}
#visitor-state .data-conts {border: 1px solid #e6eaee; padding: 40px 35px 50px 35px; background: #fff;}
#visitor-state .data-conts .data-graph {margin-bottom:50px;padding-top:60px;}
#visitor-state .data-link > h3 {margin-bottom: 17px;font-size:32px;}
#visitor-state .data-link > a {display: inline-block; border: 1px solid #d1d5da; color: #63666b; padding: 10px 20px; border-radius: 20px; transition: 0.3s;}
#visitor-state .data-link > a:hover {color:#fff;background:#393d45;border:1px solid #393d45;}
#visitor-state #visitor-data-lists .title-date {margin-top:30px;}
#visitor-state #best-visitor-sort {position: absolute;}
#visitor-state #best-visitor-sort > #best-visitor-list > .best-visitor-items {float:left;margin-right:20px;}
#visitor-state #best-visitor-sort > #best-visitor-list > .best-visitor-items:last-child {margin-right:0;}
#visitor-state #best-visitor-sort > #best-visitor-list > .best-visitor-items > a {background-color:transparent;border:0;padding:0;color:#999da5;font-size:19px;font-weight: 600;cursor:pointer;}
#visitor-state #best-visitor-sort > #best-visitor-list > .best-visitor-items > a.active {color:#2c64cf;}

/* page : InnerMsrstnMapList.html */
.maps-wrapper {position: relative;}
.maps-wrapper > #maps {width:100%;height:880px;}
#maps-date {position:absolute;padding:20px 60px; background-color:#fff;border:1px solid #d6dade;z-index:2;top:80px;left:30px;color:#0c1e42;}
#maps-date > .map-title {font-size:21px;font-weight: 600;margin-bottom:15px;}

/* 상태팝업 */
.map-data,
#map-area-data {position:absolute;z-index:2;padding:30px 30px 40px 30px;background-color:#fff;right:40px;bottom:160px;width:360px;border:1px solid #d6dade;border-radius: 5px;box-shadow: 8px 4px 16px rgba(0,0,0,0.3);}
#area-data-wrap {position: relative;}

#area-state-close {position:absolute;right:0;top:0;}
#area-state-close > a {display: inline-block;width: 20px;height: 20px; background: url('/img/pbb/common/gray-close.png') no-repeat center / auto;cursor: pointer;}

#area-state-icon {margin-bottom:33px;}
#area-state-icon > span {display:block;width:65px;height:65px;border-radius: 50%;overflow: hidden;background-position:center;background-repeat: no-repeat;background-size: cover;}

#area-state-text {padding:0 10px;}
#area-state-location {margin-bottom:10px;color:#393d45;}
#area-state-location,
#area-status-text {font-size:32px;font-weight: 600;letter-spacing: -3px;font-family:'PT Sans', sans-serif;}

#area-state-values {margin-top:25px;position:relative;}
#density-value {font-family:'PT Sans', sans-serif;font-size:90px;font-weight: 600;}
#density-unit {font-size:20px;font-weight: 600;}
#state-value-temps {margin-top: 20px;color:#323436;font-size:17px;font-weight: 900;}

#state-value-measure {font-size:15px; color:#696d75;margin-top:30px;}
#measure-value {margin-bottom:9px;}

#state-info-source {margin-top:20px;}
#state-info-source > p > span {position: relative;top:5px;}

#map-area-data.code-danger #area-state-icon > span {background-image:url('/img/pbb/map-state-icon/map-state-icon-danger.png')}
#map-area-data.code-danger #area-status-,
#map-area-data.code-danger #area-status-text,
#map-area-data.code-danger #state-value-density {color:#ff4040;}

#map-area-data.code-warning #area-state-icon > span {background-image:url('/img/pbb/map-state-icon/map-state-icon-warning.png')}
#map-area-data.code-warning #area-status-,
#map-area-data.code-warning #area-status-text,
#map-area-data.code-warning #state-value-density {color:#ff9140;}

#map-area-data.code-blue #area-state-icon > span {background-image:url('/img/pbb/map-state-icon/map-state-icon-blue.png')}
#map-area-data.code-blue #area-status-,
#map-area-data.code-blue #area-status-text,
#map-area-data.code-blue #state-value-density {color:#0096ff;}

#map-area-data.code-green #area-state-icon > span {background-image:url('/img/pbb/map-state-icon/map-state-icon-green.png')}
#map-area-data.code-green #area-status-,
#map-area-data.code-green #area-status-text,
#map-area-data.code-green #state-value-density {color:#3ec730;}

/* api 위치 상태 생성 */
.location-areas {position:absolute;width:90px;height:90px;z-index:2;color:#fff;border-radius: 50%;overflow: hidden;box-shadow: 8px 4px 16px rgba(0,0,0,0.3);}
.location-area-btn {display:block;position: relative;width:100%;height:100%;color:#fff;}
.location-area-count {position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);font-size:32px;font-weight: 900;}
.location-areas.code-danger {background-color:#ff0000;}
.location-areas.code-warning {background-color:#ff9600;}
.location-areas.code-blue {background-color:#40b0ff;}
.location-areas.code-green {background-color:#2fb227;}

/* api로 생성시 제거 css */
/* .location-areas.code-danger {top:48%;left:55%;}
.location-areas.code-warning {top:43%;left:45%;}
.location-areas.code-blue {top:60%;left:50%;}
.location-areas.code-green {top:62%;left:40%;} */

/* page : SpclizDeviceModeManageList.html */

/* class */
.submit-btns {display:inline-block;cursor: pointer;background-color:#e6eaee;color:#63666b;padding:9px 29px;border-radius: 20px;font-size:15px;font-weight:600;transform: skew(-0.03deg);margin-left:20px;border:0;transition:all 0.3s ease-in-out;}
.submit-btns:hover,
.submit-btns:focus {color:#fff; background-color:#2c64cf;}

/* 조회 폼 */
#service-forms #service-mode-form {margin-right:70px;}
#service-forms #service-reference-btn {padding-left:55px;border-left:1px solid #d6dade;}
#service-forms .select-form {width:300px;height:50px;line-height:50px;}
#service-forms .form-reference-btn > .btn {height:50px;line-height: 50px;}

/* 예외정책 */
#exception-policy,
#auto-forms,
#tod-forms {padding:40px 0;border-top:1px solid #999da5; border-bottom:1px solid #999da5;}
.exception-policy-items {float:left;margin:0 10px 10px 0;}
.exception-policy-items:nth-child(6) {margin-right:0;}
.exception-policy-label {min-width:200px}

/* AUTO / TOD */
.data-table {width:100%;border:1px solid #e6eaee;color:#696d75;font-size:15px;}
.data-table > thead {border-bottom:1px solid #e6eaee;background-color:#f5f7f9;}
.data-table > thead th {padding:18px 0;}
.data-table > tbody > tr:first-child td {padding-top:20px;}
.data-table > tbody > tr td {padding-bottom:10px;font-weight: bold;}
.data-table > tbody > tr:last-child td {padding-bottom:20px;}
.data-table p {transform: skew(-0.03deg);}
.data-table .text-form {width:370px;}

/* page : SpclizDeviceStateHistList.html */
#device-state-list .lookup-forms > div:not(:last-child){margin-right:20px;}
#device-state-list .lookup-forms .date-form {width:160px;}
#device-state-list .lookup-forms .select-form {min-width:190px;}
#device-state-list .lookup-forms > .form-reference-btn {padding-left:0;border-left:0;}
#device-state-list .lookup-forms > #service-selector {margin-right:40px;}
#device-problem-count col.styleClass {width:calc(100% / 4)}

/* page : IndstrycmplxHistList.html */
#indstrycmplxHistList .lookup-forms:not(:last-child) > div {width:calc((100% - (40px * 2)) / 3)}
#indstrycmplxHistList .lookup-forms > div:last-child {margin-right:0;}
#indstrycmplxHistList .lookup-forms > .form-reference-btn {padding:0;border:0;}
#indstrycmplxHistList .date-form,
#indstrycmplxHistList .select-form {width:270px;}
#indstrycmplxHistList #networks-selector > .radio-label:first-child {margin-right:30px;}
#indstrycmplxHistList #area-selector > .select-label {margin-right:29px;}

/* page : IndstrycmplxSearch.html */
.lookup-device,
.lookup-nation-device-btn {position:absolute;border-radius: 3px;z-index: 2;box-shadow: 8px 4px 16px rgba(0,0,0,0.3);background-color: #596d93;}
.lookup-device-btn,
.nation-device-btn {display: block;position: relative; width: 100%; height: 100%;color:#fff;padding:10px 20px;}
.lookup-device-btn::after,
.nation-device-btn::after {display:block;content:'';border-top: 10px solid #596d93; border-right: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid transparent;position:absolute;top: 100%;left: 50%;transform: translateX(-50%);}
.lookup-device-btn > .device-names,
.nation-device-btn > .device-names { font-size: 16px; transform: skew(-0.03deg); font-weight: 600;display:inline-block;}

/* api로 생성시 제거 css */
.industry-device,
.school-device { top: 43%; left: 45%;}
.industry-nation-device,
.school-nation-device {top: 60%; left: 50%;}

/* page : ColctSttusList.html */
#colctSttusList .lookup-forms > .form-reference-btn {padding-left:32px;}
#colctSttusList .lookup-date {margin-right:25px;}
#colctSttusList-count .styleClass {width:calc(100% / 6)}
#colctSttusList-table .numberStyle {width:60px;}
#colctSttusList-table .categoryStyle {width:198px;}

/* page : SpclizDeviceStateSttusList.html */
#device-status-forms .select-form,
#device-status-forms .text-form {width:300px;}
#device-status-forms .lookup-forms > .form-reference-btn {padding-left:64px;}
/* 삭제할 코드 */
.subway-imgs {height:300px;border:3px solid #000;}

/* page : SpclizDeviceList.html */
#SpclizDeviceListTables .checkbox-label {padding:0;background: none;border:0;}
#SpclizDeviceListTables td .btn {height:32px;line-height: 32px;font-size:14px;padding: 0 15px;background-color:#e6eaee;color:#696d75;}
#SpclizDeviceListTables td .btn:hover {background-color:#2c64cf;color:#fff;}

#SpclizDeviceList .control-template {width:600px;}
#SpclizDeviceList .control-template td > div {padding:17px 120px 17px 10px;}
#SpclizDeviceList .control-template td > div:not(:last-child) {border-bottom:1px solid #e6eaee;}
#SpclizDeviceList .control-template .modal-select-form {width:100px;height:34px;line-height: 34px;}
#SpclizDeviceList .control-template .modal-btn,
#SpclizDeviceList .control-template .modal-select-form {font-size:14px;position: absolute;right: 10px;top: 50%;transform: translateY(-50%);}

#SpclizDeviceList .insert-template {width:1100px;}
#SpclizDeviceList .insert-template .week-selector {padding:10px;margin-top:10px;}
#SpclizDeviceList .insert-template .week-selector:last-child {margin-bottom:10px;}
#SpclizDeviceList .insert-template .week-selector .checkbox-label {margin-right:10px;}
#SpclizDeviceList .insert-template .week-selector .checkbox-label-text {margin-left:5px;}
#SpclizDeviceList .insert-template .select-form,
#SpclizDeviceList .insert-template .text-form {height:34px; line-height:34px;}
#SpclizDeviceList .insert-template .text-form {width: 100%;}
#SpclizDeviceList .insert-template .checkbox-label {border:0;background:none;padding:0;}
#SpclizDeviceList .insert-template .select-form.time-selector {width:90px;}

/* page : InnerMsrstnList.html */
#InnerMsrstnListTables .checkbox-label {padding:0;background: none;border:0;}
#InnerMsrstnListTables td .btn {height:32px;line-height: 32px;font-size:14px;padding: 0 15px;background-color:#e6eaee;color:#696d75;}
#InnerMsrstnListTables td .btn:hover {background-color:#2c64cf;color:#fff;}

.device-save-template .modal-tables .text-form,
.device-save-template .modal-tables .select-form {height: 34px; line-height: 34px; width:50%; }

.device-view-template #modal-map {height:340px;}

/* page : SigngBcrnImageList.html */
#SigngBcrnImageList .lookup-wrapper label:not(.radio-label) {min-width:90px;}
#SigngBcrnImageList .lookup-wrapper .select-form, 
#SigngBcrnImageList .lookup-wrapper .text-form {width:420px;}
.lookup-forms #service-used-form > .text-label {position: relative;top: -6px;}
#SigngBcrnImageList .lookup-forms > .form-reference-btn {border-left:0;padding-left: 0;}
#SigngBcrnImageList .imgSave-template .select-form,
#SigngBcrnImageList .imgSave-template .text-form {height:34px;line-height: 34px;width:50%;}
.view-img {display:none; width: 950px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; background-color: #fff; padding: 50px; max-height: calc(100% - 50px); overflow-y: auto;cursor:pointer;}
.view-img img {width:100%;}

/* page : SigngMntrngList.html */
.SigngMntrngListConts {padding: 40px 0; border-top: 1px solid #999da5; border-bottom: 1px solid #999da5;}
.signgMntrngItems {float:left;width:calc((100% - (10px * 1)) / 2);margin-right:10px;margin-top:10px;}
.signgMntrngItems:nth-child(2n) {margin-right:0}
#SigngMntrngList .lookup-forms .text-form {width:420px;}

/* page : SigngCntntsList.html */
#SigngCntntsList .lookup-forms #service-used-form > .text-label {position: relative; top: -6px;}
#SigngCntntsList .lookup-forms > .form-reference-btn {border-left: 0; padding-left: 0;}
#SigngCntntsList .select-form, 
#SigngCntntsList .lookup-wrapper .text-form { width: 420px;}
#SigngCntntsList .modals .checkbox-label {padding:0;background:none;border:0;}
#SigngCntntsList .modals .useContents {padding-top:14px;padding-bottom:14px;}
#SigngCntntsList .modals .useContents > div:not(:last-child) {margin-bottom:14px;}
#SigngCntntsList .contentsSave-template .text-form {height: 34px; line-height: 34px;}

/* page : SigngCompositionList.html */
#SigngCompositionList .lookup-wrapper .select-form, 
#SigngCompositionList .lookup-wrapper .text-form {width:420px;}
#SigngCompositionList .lookup-wrapper label {min-width:100px;}
#SigngCompositionList .lookup-forms > .form-reference-btn {border-left: 0; padding-left: 0; }
/* #SigngCompositionList .contents-view .tableLine {border:0;} */
#SigngCompositionList .signComponents {margin:15px 0;}
#SigngCompositionList .signComponentsItems {border:1px solid #ccc;padding:20% 0;}
#SigngCompositionList .float-left.signComponentsItems {width:50%}
#SigngCompositionList .contents-view .tableLine > .signgLocation {width:160px;}
#SigngCompositionList .contents-view .tableLine > .signgLocationSelect {width:calc(100% - 170px);}

#SigngCompositionList .contentsSave-template .select-form,
#SigngCompositionList .contentsSave-template .text-form {height: 34px; line-height: 34px;}
#SigngCompositionList .contentsSave-template .modal-btn {position: absolute;top:50%;transform: translateY(-50%);right:10px;}
#SigngCompositionList .contentsSave-template .signgContentsData {font-weight: 600;display:inline-block;transform: skew(-0.03deg);max-width:calc(100% - 60px);color:#696d75;opacity:0.8;}
#SigngCompositionList .contentsSave-template .signgLocation > span {display:inline-block; max-width: 245px;}
#SigngCompositionList .contentsSave-template .signgLocationSelect {position: absolute;right:10px; top:50%;transform: translateY(-50%);}
#SigngCompositionList .contentsSave-template .signgLocationSelect > .select-form {width:120px;}

.bg-img-search-template,
.content-search-template {display:none;z-index:2;}
#SigngCompositionList .modal-content .name-search-form {width:400px}
.choice-btn {transform: initial !important;position: static !important;}

/* page : SigngChangeHistList.html */
#SigngChangeHistList .lookup-wrapper label { min-width: 100px; }
#SigngChangeHistList .lookup-wrapper .select-form, 
#SigngChangeHistList .lookup-wrapper .text-form:not(.date-picker) {width: 420px;}
#SigngChangeHistList .lookup-wrapper .text-form.date-picker {width:201px;}
#SigngChangeHistList .lookup-forms > .form-reference-btn { border-left: 0; padding-left: 0; }

/* page : BsnsList.html */
#BsnsList .lookup-wrapper .text-form:not(.date-form) {width:290px;}

/* page : PolicySumryInfoSelect.html */
#PolicySumryInfoSelect .tab-nav-items {width:calc(100% / 4);}
#PolicySumryInfoSelect .search-skin-3 {margin-top:60px;}

/* page : CntrmsrTipInfoContentsUpdt.html */
.CntrmsrTipInfoContents .fileForms {margin-top:40px;} 

/* page : CntrmsrTipInfoManageSearch2.html */
#cntmsr .tab-nav-items {width:calc(100% / 5)}

/* page : list-popup.html */
#list-popup .modal-content {position: static !important;transform: none !important;}

/* page : ArpltnExhstBplcList.html */
#ArpltnExhstBplcList .ivt-datas {width:calc(calc((100% - 20px) / 2));}
#ArpltnExhstBplcList .ivt-datas:not(:last-child) {margin-right:20px;}
#ArpltnExhstBplcList #maps {height:467px;}
#ArpltnExhstBplcList .workplaceMaps > .ivt-datas.float-left {width:30%;}
#ArpltnExhstBplcList .workplaceMaps > .ivt-datas.float-right {width:calc(70% - 20px);}
#ArpltnExhstBplcList .workplaces .search-skin-2 {margin-bottom:20px;}
#ArpltnExhstBplcList .workplaces .board-list-table-wrapper {min-height: 300px;}

/* page : ChmnyAtmcMesureBplcList.html, EodsDscamtList.html */
#ChmnyAtmcMesureBplcList #maps {height:300px;}
.ivt-datas {width:calc(calc((100% - 20px) / 2));}
.ivt-datas:not(:last-child) {margin-right:20px;}

.EodsDscamtListTable:first-child {width:100px;}
.EodsDscamtListTable:not(:first-child) {width:115px;}
#EodsDscamtList .tab-nav-list {border-top:0;}
#EodsDscamtList .tab-nav-items {width:calc(100% / 4);}
#EodsDscamtList .tab-nav-items {border-top:1px solid #c5c9cd;}

/* page : ReodsList.html */
.reodsListSelector {margin-bottom:30px;}
.reodsListChart {margin-bottom:30px;}
.reodsListTable {width:calc(100% / 7)}

/* page : RclmIncnrList.html */
.rclmIncnrListTable {width:calc(100% / 6)}

/* page : FrfireList.html */
.fireReasonTable {margin-top:15px;}
.fireReasonTable .board-list-body td > div, 
.fireReasonTable .board-list-body th > div, 
.fireReasonTable .board-list-header td > div, 
.fireReasonTable .board-list-header th > div {padding:0;}
.fireReasonTable .board-list-body td, 
.fireReasonTable .board-list-body th, 
.fireReasonTable .board-list-header td, 
.fireReasonTable .board-list-header th {width:calc(100% / 17)}
.fireReasonTable .board-list-body td p, 
.fireReasonTable .board-list-body th p, 
.fireReasonTable .board-list-header td p, 
.fireReasonTable .board-list-header th p {word-break: break-all;}

/* page : SumryIndustList.html */
#SumryIndustList .edit-data {min-height:400px;}

/* page : SumryIndustUpdt.html */

/* page : SigngInspectionList.html */
.device-management-save-template {width:1300px;}
.device-management-save-template .select-form,
.device-management-save-template .text-form,
.device-management-save-template .date-form {height:34px; line-height: 34px;width:150px;min-width:auto;}

/* page : SigngInspectionDateList.html */
#SigngInspectionDateList .board-search-form .select-label {min-width:90px;}
#SigngInspectionDateList .board-search-form .select-form {width:235px;}
.management-history-template .board-list-body td p {word-break: break-all;}

/* page : CnctColctList.html */
.collection-data-wrapper {}
.collection-data-area {}
.collection-data-area:not(:last-child) {margin-right:20px;}
#CnctColctList #maps {height:620px;}
.collection-cate-counts {height:305px;border:1px solid #e5e9ed;margin-right:10px;border:1px solid #e5e9ed;}
.collection-cate-counts:nth-child(3),
.collection-cate-counts:nth-child(4) {margin-top:10px;}
.collection-cate-counts:nth-child(2n) {margin-right:0;}
.collection-data-cate {background-color:#f5f7f9;border-bottom:1px solid #e5e9ed;color:#696d75;font-size:15px;}
.collection-data-cate .collection-data-name {padding:15px 0;}
.collection-data-cate .collection-data-count {padding:15px 0;}
.collection-data-cate-items {height: calc(100% - 46px);}
.collection-data-name {width:210px;border-right:1px solid #e5e9ed;height:100%;padding:13px 0;}
.collection-data-count {width:calc(100% - 210px);height:100%;padding:13px 0;}
.collection-data-lists > li:not(:last-child) {margin-bottom:13px;}

/* page : ColctExecuteList.html */
#ColctExecuteList .lookup-forms label {min-width:80px;}
#ColctExecuteList .lookup-forms > .form-reference-btn {border:0;padding:0;}

/* page : CntcExecuteList.html */
#CntcExecuteList .lookup-forms label {min-width:80px;}
#CntcExecuteList .lookup-forms .text-form {min-width:377px;}
#CntcExecuteList .lookup-forms > .form-reference-btn {border:0;padding:0;}

/* page : AlarmCmprList.html */
#listCompare .lookup-forms .date-form {width:150px;}
#listCompare .lookup-forms label.text-label {min-width:80px;}
#listCompare .lookup-forms label.select-label,
#listCompare .lookup-forms label.radio-label {margin-left:10px;}
#listCompare .lookup-forms .comparePlace label.text-label {position: relative;top: -5px;}
#listCompare .lookup-forms > .form-reference-btn {padding:0;border:0;}

/* page : QustnrResultSearch.html */
#QustnrResultSearch #view-contents-wrapper {padding:18px 20px;}
#QustnrResultSearch #view-contents {min-height:200px;}
.qus-items {margin-bottom:60px;}
.qusListsWrapper .qus-items .subpage-cate-title {height:66px;}
.qusListsWrapper .qus-items .subpage-cate-title.overTitle {overflow:hidden;position: relative;}
.qusListsWrapper .qus-items .subpage-cate-title.overTitle::after {content:'...';position:absolute;right:0;bottom:0;background-color: #fff;}
.qusListsWrapper .qus-items .subpage-cate-title > h4 {padding-left:80px;position:relative;}
.qusListsWrapper .qus-items .subpage-cate-title > h4 > .qus-item-count {position: absolute;left: 0;top:0;}
.qus-results {border:1px solid #e5e7e9;padding:50px;min-height:400px;position:relative;}
.qus-results > .all-result-view {position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);}
.qus-ranks:not(:last-child) {margin-bottom:30px;}
.qus-rank-title {margin-bottom:13px;} 
.qus-rank-title.overTitle {overflow: hidden;position:relative;display: block;}
.qus-rank-title.overTitle > span {white-space:nowrap;}
.qus-rank-title.overTitle > span::after {content:'...';position:absolute;right:0;bottom:0;background-color:#fff;}
.qus-percentage-wrapper {position:relative;height:30px;width:100%;background-color:#f5f7f9;}
.qus-percentage-count {color:#fff;font-size:15px;position:absolute;top:50%;transform: translateY(-50%);left:10px;z-index:1;}
.qus-percentage {position: absolute;height:100%;left:0;border-top-right-radius: 20px;border-bottom-right-radius: 20px;}
.qus-rank-1 .qus-percentage {background-color:#00abff;}
.qus-rank-2 .qus-percentage {background-color:#04ba6f;}
.qus-rank-3 .qus-percentage {background-color:#ff9140;}
.etc-result {font-size:14px;color:#ff9140;text-decoration: underline;display:inline-block;margin-left:20px;}

/* page : QustnrDetail.html */
#QustnrDetail #view-contents-wrapper {padding:18px 20px;}
#QustnrDetail #view-contents {min-height:200px;}
#QustnrDetail .lookup-forms .text-form {min-width: 315px;}

/* page : QustnrUpdt.html */
#QustnrUpdt .board-write-tables {border-top:1px solid #999da5;}
#QustnrUpdt .board-write-tables:last-child {border-bottom:1px solid #999da5;}
#QustnrUpdt .board-write tr:not(:last-child) {border-bottom:1px solid #e6eaee;}
#QustnrUpdt .board-write th {background-color:#f5f7f9;}
#QustnrUpdt .board-write td, 
#QustnrUpdt .board-write th {border:0;}
#QustnrUpdt .board-write .text-form {width:100%;height:45px;line-height: 45px;}
#QustnrUpdt .board-write .radio-label {margin-right:40px;}
#QustnrUpdt .board-write .bolder-text {font-size:14px; color:#696d75;margin-left:20px;}
#QustnrUpdt .board-write-tables .bolder-text,
#QustnrUpdt .board-write-tables .select-form {position:relative;top:-5px;}
#QustnrUpdt #write-contents-wrapper {padding:18px 20px;}
#QustnrUpdt .subpage-cate-title.display-flex > h4 {margin-right:40px;}

/* page : ConectStatsSearch.html */
#ConectStatsSearch .date-selector > .btn {font-size:14px;transform: skew(-0.03deg);}

/* page : ConectSearch.html */
.visitor-count-cates {}
.visitor-counts {width:calc(calc((100% - (10px * 2)) / 3));border:1px solid #e5e9ed;background-color:#f4f8fb;padding:50px 0;}
.visitor-counts:not(:last-child) {margin-right:10px;}
.visitor-category-name {margin-bottom:20px;font-size:22px;}
.visitor-count-num {font-family:'PT Sans', sans-serif;font-size:48px;color:#596d93;}

/* page : FyerReducActCntList.html */
#FyerReducActCntList .checkbox-label { padding: 0; background: none; border: 0; }
.reducActForm {width:50%;}
#FyerReducActCntList .board-list-table-wrapper {overflow-x: auto; padding-bottom:30px;}
.dataTableCheckbox {width: 60px;}
.dataTableDate {width:100px;}
.dataTableDivision {width:120px;}
.dataTableField {width:200px;}

/* page : MnbyUlfptcChngeList.html */
#MnbyUlfptcChngeList .checkbox-label { padding: 0; background: none; border: 0; }
.fptcChngeForm {width:100%;}

/* page : FyerSrcemssnDnstyList.html */
#FyerSrcemssnDnstyList .checkbox-label { padding: 0; background: none; border: 0; }
#FyerSrcemssnDnstyList .board-list-table-wrapper {overflow-x: auto; padding-bottom:30px;}
.dnstyForm {width:50%;min-width:42px;}

/* page : PopupList.html */
#PopupList .lookup-forms .text-form {width:390px;}

/* page : PopupRegist.html */
.popSizes > span,
.popPositions > span {display:inline-block;}
.popSizes > span > .text-label,
.popPositions > span > .text-label {min-width:50px;}
.useTodayClose .radio-label,
.usePopups .radio-label { margin-right: 40px; }

/* page : PopupDetail.html */
.popPositionsView > span,
.popSizesView > span {display: inline-block;}
.popPositionsView > span > .text-label,
.popSizesView > span > .text-label {min-width:50px;}

/* page : ContentsList.html */

/* page : CoordinatorActInfoSearch.html */

/* page : CoordinatorActInfoUpdt.html */

/* page : CoordinatorActManageList.html */
#CoordinatorActManageList .lookup-forms label {min-width:80px;}
#CoordinatorActManageList .lookup-forms .text-form {min-width:410px;}

/* page : UlfptcEdCldrList.html */
.edu-calendars {position:relative;}
.calendarsModal {display:none;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);}
.calendarModalConts {box-shadow: 8px 4px 16px rgba(0,0,0,0.1);padding:30px;border:1px solid #e6eaee;width:500px;}
.eduSaveTemplate.modal-content {width:auto;}

/* page : UlfptcEdcList.html */
#UlfptcEdcList .lookup-forms label:not(.radio-label) {min-width:80px;}
#UlfptcEdcList .lookup-forms .eduSearchDateName {width: 530px;}
#UlfptcEdcList .lookup-forms .eduSearchContents {width: 335px;}
#UlfptcEdcList .lookup-forms .radio-label:not(:last-child) {margin-right:15px;}

/* page : QustnrDetail.html */
#QustnrDetail .board-list-set .select-form {margin-right:15px;}
#QustnrDetail .edcDetailInfoList > .board-view-tables:not(:last-child) {margin-bottom:30px;}

/* page : UserDetail.html */
#UserDetail .checkbox-label {background-color:transparent;padding:10px 0;border:0;}
#UserDetail .view-table-category .radio-label-text,
#UserDetail .view-table-category .btn {position: relative;top: -5px;font-weight: 600;}
#UserDetail .view-table-category .btn {font-size:14px;}
#UserDetail .view-table-category .radio-label {padding:0;}
#UserDetail .radio-label-text {font-weight: 600;}
#UserDetail .checkbox-label-text {margin-left:0;}

/* page : MonitoringPBBSelect.html */
#MonitoringPBBSelect .lookup-forms .radio-label-text,
#MonitoringPBBSelect .lookup-forms .btn {margin-right: 15px;margin-left:0;}
#MonitoringPBBSelect .lookup-forms .btn.active {color: #fff; background-color: #2c64cf;} 
.serverChartArea:not(:last-child) {margin-bottom:20px;}
#MonitoringPBBSelect .modals .lookupState:not(:last-child) {margin-bottom:10px;}

/* page : MemoirRclmIncnrList.html */
#MemoirRclmIncnrList .tab-nav-items {width:50%;}
#MemoirRclmIncnrList .board-list-body .checkbox-label {border:0;background-color:transparent;padding:0;display: block;}
#MemoirRclmIncnrList .modals .date-form {width: 310px;}
#MemoirRclmIncnrList .modals .lookupState:not(:last-child) {margin-bottom: 10px;}

/* page : MemoirFrfireList.html */

/* page : EmgncReducSmsSndList.html */
#EmgncReducSmsSndList .lookup-forms label {min-width:60px;}
#EmgncReducSmsSndList .lookup-forms .date-form {width:211px;}
#EmgncReducSmsSndList .lookup-forms .text-form:not(.phone-form) {width: 440px;}
#EmgncReducSmsSndList .lookup-forms .text-form.phone-form,
#EmgncReducSmsSndList .lookup-forms .select-form.phone-form,
#EmgncReducSmsSndList .modals .text-form.phone-form {width:100px;min-width:auto;}
#EmgncReducSmsSndList .board-write-btns > .btn {padding:0 50px;}
#EmgncReducSmsSndList .board-list-body .checkbox-label {padding:0;background-color: transparent;border:0;display:block;}

/* qna */
.qna-intro {padding: 35px 60px 35px 70px; background-color: #f5f7f9; border: 1px solid #e5e7e9;}
.qna-intro > div {background-image:url('/img/pbb/board/qna-icon.png');background-repeat: no-repeat;background-size: auto;background-position-x: 92%;}
.qna-intro-text-items {line-height: 1.3;}

.qna-intro-link-list {margin-top:15px;}
.qna-intro-text-items > p {color: #696d75;font-size:16px;}
.qna-intro-link-items > a {display:block;padding:13px 20px 13px 40px;text-align: center;transition: all 0.3s ease-in-out;border:1px solid #e5e7e9;font-size:14px;color:#494949;background-color:#ffffff;}
.e-complaints-link {margin-right:10px;}
.e-complaints-link > a {background-image: url('/img/pbb/board/laptop.png');background-repeat: no-repeat;background-size:auto;background-position-y: center;background-position-x: 20px;}
.qna-intro-link-items.e-complaints-link > a:hover {background-color:#ee5a6b;background-image:url('/img/pbb/board/laptop-on.png');color:#fff;}
.suggestion-link > a {background-image: url('/img/pbb/board/write.png');background-repeat: no-repeat;background-size:auto;background-position-y: center;background-position-x: 20px;}
.qna-intro-link-items.suggestion-link > a:hover {background-color:#ee5a6b;background-image:url('/img/pbb/board/write-on.png');color:#fff;}