/* 클래스 */
.container {width: 1280px;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.soundOnly {display: inline-block;position: absolute;top: 0;left: 0;width: 0;height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; border: 0; overflow: hidden;}
.clear::after {display:block;clear:both;content:'';}
.float_left {float:left !important;}
.float_right {float:right !important;}
.text_center {text-align: center;}
.text_left {text-align: left;}
.text_right {text-align: right;}
.verticalMiddle {vertical-align: middle;}
.verticalBase {vertical-align: baseline;}
.verticalBottom {vertical-align: bottom;}
.h-100 {height:100%;}
.displayFlex {display:flex;}
.flexJustifyBetween {justify-content: space-between;}
.flexAlignCenter {align-items: center;}

.sub_contents {padding: 80px 0;}
.subpageTitle {margin-bottom: 40px;}
.subpageTitle h3 {font-size: 32px;font-weight: 900;color: #0c1e42;}
.introText {margin-bottom:22px;}
.introText p {font-size: 16px; color: #696d75;font-weight: 600;padding-left:17px;position:relative;}
.introText p::before {content:'※';display:block;position: absolute;left:0;}
.introText p:not(:last-child) {margin-bottom:15px;}
.subpageSectionTitle {margin-bottom:20px;}
.lookup_wrapper .subpageSectionTitle {margin-bottom:40px;}
.subpageSectionTitle > h4 {color:#0c1e42;font-weight: 900;font-size:22px;display:inline-block;}
.conts_section {margin-bottom: 75px;}
.lookupArea {background: #f5f7f9;padding: 35px 60px 35px 70px;border: 1px solid #e5e7e9;}


/* 폼 */
.label_text {display: inline-block; color: #696d75; font-size: 15px; font-weight: 600; transform: skew(-0.03deg); margin-right: 15px;}
.selectForm {display: inline-block; height: 50px; line-height: 50px; font-size: 15px; border-radius: 4px; padding: 0 35px 0 15px; border: 1px solid #d6dade; background-image: url("/img/pbb/common/selector-down-arrow.png"); background-color: #fff; background-repeat: no-repeat; background-position-x: calc(100% - 10px); background-position-y: center; background-size: auto; font-weight: 600; color: #999da5;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  transform: skew(-0.03deg);}
.dateForm {display: inline-block;height: 50px;line-height: 50px;font-size: 15px;border-radius: 4px;padding: 0 35px 0 15px;border: 1px solid #d6dade;background: #fff url("/img/pbb/common/date-icon.png") no-repeat calc(100% - 10px) center / 15px;font-weight: 600;color: #696d75;box-sizing: border-box;}
.textForm {display: inline-block; height: 50px; line-height: 50px; font-size: 15px; border-radius: 4px; padding-left: 15px; border: 1px solid #d6dade;box-sizing: border-box;background-color:#fff;}
.radioLabel {display:inline-block;position: relative;padding-left:30px;line-height: 22px;}
.radioForm {width: 0;height: 0;overflow: hidden;display: inline-block;text-indent: -9999px;line-height: 1px;position: absolute;}
.radioForm + .radioImg {display:inline-block;width:22px;height:22px;border:1px solid #c7cbcf;border-radius: 50%;overflow: hidden;background-color:#fff;box-sizing: border-box;position: absolute;left:0;}
.radioForm:checked + .radioImg {border:6px solid #596d93;}
.radioForm:focus + .radioImg {outline:1px solid #161616;}
.checkboxLabel {display:inline-block;position: relative;padding-left:30px;line-height: 22px;}
.checkboxForm {width: 0;height: 0;overflow: hidden;display: inline-block;text-indent: -9999px;line-height: 1px;position: absolute;}
.checkboxForm + .checkboxImg {display:inline-block;width:22px; height:22px;border:1px solid #d6dade;border-radius: 3px;overflow:hidden;background-color:#fff;position: absolute;left:0;box-sizing: border-box;}
.checkboxForm:checked + .checkboxImg {background:url('/img/pbb/common/checked_img.png') no-repeat center / auto;}
.checkboxForm:focus + .checkboxImg {outline:1px solid #161616;}
.btn {display: inline-block; font-size: 16px; border: 0; padding: 0 77px; background-color: #596d93; color: #fff; cursor: pointer; height: 50px; line-height: 50px; font-weight: 600; transition: all 0.3s ease-in-out; border-radius: 30px;border:1px solid #596d93;}
.btn:hover {background-color:#fff;color:#596d93;}
.btn:focus {outline:1px solid #161616;}
.textDivision {color:#999da5;font-size:16px;display:inline-block;margin: 0 5px;}

/* 조건조회 폼 */
.lookupLines:not(:last-child) {margin-bottom:10px;}
.submit_btn_wrapper {padding-left:65px;border-left:1px solid #ccc;}

/* 게시판리스트 */
.boardLists {}
.boardLists .boardListSet {margin-bottom: 20px;}
.boardLists .boardListSet .selectForm {height: 42px;line-height: 42px;}
.boardLists .boardListSet .listCountData {font-weight: 900;}
.boardLists table {width:100%;}
.boardLists th,
.boardLists td {border:1px solid #e5e9ed;height:50px;}
.boardLists th {background-color:#f5f7f9;color:#696d75;font-weight: 600;}
.boardLists td {color:#393d45;font-weight: 600;}
.tableFieldArea {padding:10px 8px;font-size:14px;box-sizing: border-box; margin: 0 auto;}
.tableFieldArea > p,
.tableFieldArea > a {word-break: break-all;}
.secretIcon {padding:7px 12px;border-radius: 15px;background-color: #696d75;color:#fff;margin-right:10px;}
.lookupStatus {display:block;margin:0 auto;width:20px;height:20px;border-radius: 50%;}
.lookupStatus.codeGreen {background-color:#3ec730;}
.lookupStatus.codeBlue {background-color:#0096ff;}
.lookupStatus.codeRed {background-color:#ff4040;}

.tableEmptyData {padding:100px 0; font-weight: 600; font-size:16px;}
.resultWait {color:#999da5;}
.boardWrDateTime {width:200px;}
.boardWrSubject {width: 490px;}
.boardWrType,
.boardWrHit {width: 150px;}
.boardAnswerCpDate,
.boardAnswerState {width: 200px;}
.boardWrName {width: 200px;}

/* 게시판 페이지네이션 */
.pagenations {text-align: center; margin-top: 50px;}
.pagenations > a {width: 30px; height: 30px; line-height: 30px; font-size: 16px; color: #393d45; border-radius: 3px; transition: all 0.3s ease-in-out;display:inline-block;}
.pagenationItems.active, 
.pagenationItems:hover {background-color: #2c64cf; color: #fff;}
.pagenationArrows {position: relative; top: 10px;}
.pagenationArrows.pagenationPrev { background: url("/img/pbb/common/gray-prev-arrow.png") no-repeat center / auto; }
.pagenationArrows.pagenationNext {background: url("/img/pbb/common/gray-next-arrow.png") no-repeat center / auto;}

/* 게시판보기 */
.boardView table {width:100%; line-height: 25px;}
.boardView th,
.boardView td {border:1px solid #e5e9ed;height:50px;font-size:15px;}
.boardView th {background-color:#f5f7f9;color:#696d75;font-weight: 600;}
.boardView td {color:#393d45;font-weight: 600;}
.boardView .tableFieldArea {padding:15px 20px;}
.boardView .preData {white-space: pre-wrap;}
.boardViewCategory {width:210px;}
.boardViewCateData {width:calc(100% - 210px);}
.fileDownBtn {text-decoration: underline !important;}

/* 게시판 버튼 */
.boardBtns {margin-top:60px;}
.boardBtns .btn {padding:0;width:160px;color:#696d75;border:1px solid #c5c9cd;background-color:#fff;} 
.boardBtns .btn:hover,
.boardBtns .btn:focus {color:#fff; background-color:#2c64cf;border:1px solid #2c64cf;} 
.boardBtns .btn:not(:last-child) {margin-right:25px;} 
.boardBtns .prevBtn {background-image:url("/img/pbb/common/gray-prev-arrow.png");background-repeat: no-repeat;background-position-y: center;background-position-x: 30px;}
.boardBtns .prevBtn:hover {background-image:url("/img/pbb/common/white-prev-arrow.png");}

/* /cs/effect/UlfptcOctyList.html */
.UlfptcOctyList .lookupFormLines .selectForm {width:230px;margin-right:15px; position: relative; top: 1px;}
.UlfptcOctyList .lookupFormLines .dateForm {width:220px;}
.UlfptcOctyList .boardLists .chartTableData:nth-child(1),
.UlfptcOctyList .boardLists .chartTableData:nth-child(2) {width: 70px;}
.UlfptcOctyList .boardLists .chartTableData {width: calc((100% - (70px * 2)) / 11);}

/* /cs/effect/ReducActReportList.html */
.consistencyCompareChartAreas {width:calc(((100% - 20px) / 2));margin-right:20px;}
.consistencyCompareChartAreas:nth-child(2n) {margin-right:0;}
.ReducActReportList .boardLists .chartTableData:first-child {width:160px;}
.ReducActReportList .boardLists .chartTableData {width:180px;}

/* /cs/square/ctznBoard/CtznBoardList.html */
.CtznBoardList .lookupFormLines .selectForm {width:180px;margin-right:15px;}
.CtznBoardList .lookupFormLines .textForm {width:320px;}
/* 미세먼지 아이디어 리스트  */
#ideaBoardLists .boardWrDateTime {width:150px;}
#ideaBoardLists .boardWrSubject {width: 490px;}
#ideaBoardLists .boardWrName {width: 150px;}
#ideaBoardLists .boardWrHit {width: 100px;}
#ideaBoardLists .boardAnswerCpDate,
#ideaBoardLists .boardAnswerState {width: 150px;}
/* 나의꿀팁공유 리스트 */
#tipBoardLists .boardWrDateTime {}
#tipBoardLists .boardWrSubject {width:690px;}
#tipBoardLists .boardWrName {}
#tipBoardLists .boardWrHit {}
/* 미세먼지 발생실험 리스트 */
#experimentBoardLists .boardWrDateTime {}
#experimentBoardLists .boardWrSubject {width:690px;}
#experimentBoardLists .boardWrName {}
#experimentBoardLists .boardWrHit {}

/* /cs/qustnr/QustnrResultSearch.html */
.qustItems:not(:last-child) {margin-bottom:60px;}
.qusSubjects {margin-bottom:30px;}
.qusSubjects > h4 {font-size: 20px; letter-spacing: -1px; color: #0c1e42;font-weight: 900;}
.qusAnswerLists {padding:47px 50px;border:1px solid #f0f0f0;}
.qusAnswerItems {line-height:34px;}
.qusAnswerItems:not(:last-child) {margin-bottom:22px;}
.qusAnswerItems .textForm {height:34px; line-height: 34px;width:400px;} 
.qusAnswerLists.qusAnswerTxt {padding:0;border:0;}
.qusAnswerLists.qusAnswerTxt > textarea {padding:10px;border:1px solid #c5c9cd; border-radius: 5px;height:140px;width:100%;resize:none;}

/* /cs/square/event/EventDetail.html */
.EventDetail .boardViewCateData {width:410px;}
.EventDetail .preData {min-height:500px;}

/* /cs/sttusFrcst/UlfptcNclSttusList.html */
.UlfptcNclSttusList .boardLists .dataField {width:calc(100% / 9)}

/* /cs/sttusFrcst/UlfptcNclFrcstList.html */
.UlfptcNclFrcstList .boardLists .dataField {width:calc(100% / 6)}